{% extends 'en/base_en.html' %}
{% block pagetitle%}ASU &nbsp;watch{% endblock%}
{% block css %}
<link href="/static/products/css/cast2.css"  rel="stylesheet">
{% endblock %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block content %} 
     

    <div class="parameter">
         
        <div class="container-fluid p-r">
                <img class="advertising" src="/static/img/product/canshu.png" alt="" />
                <table class="title-text white">
                    <tr>
                        <td class="f18 text-center">ASU Watch</td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <td>
                            <img class="tb-icon" src="/static/img/icon/canshu1.svg" alt="" />
                            <p>Qualcomm MSM8909 4cores Processor</p>
                        </td>
                        <td>
                                <img class="tb-icon" src="/static/img/icon/canshu2.svg" alt="" />
                                <p>8GB ROM</p>
                        </td>
                    </tr>
                    <tr class="text-center">
                            <td>
                                <img class="tb-icon" src="/static/img/icon/canshu3.svg" alt="" />
                                <p>1GB RAM</p>
                            </td>
                            <td>
                                    <img class="tb-icon" src="/static/img/icon/canshu4.svg" alt="" />
                                    <p>24 Hours Standby</p>
                            </td>
                        </tr>
                </table>
        </div>
        <div class="container-fluid">
            <div class="container mt60mb120">
                <div class="list-wrap clearfix">
                    <div class="col-xs-2">Display</div>
                    <div class="col-xs-4">
                        <div>Watch display</div>
                        <div>Projector dispaly</div>
                        <div>Projector brightness</div>
                    </div>
                    <div class="col-xs-4">
                        <div>1.54″,240*240 </div>
                        <div>2.3″,480*850</div>
                        <div>18lm</div>
                    </div>
                </div>
                <div class="cut-off clearfix">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="list-wrap clearfix">
                    <div class="col-xs-2">Performance</div>
                    <div class="col-xs-4">
                        <div>Using time</div>
                        <div>Storage</div>
                        <div>CPU</div>
                        <div>Water-resistance</div>
                    </div>
                    <div class="col-xs-4">
                        <div>1 day（650mAh）</div>
                        <div>1GB RAM+8GB ROM</div>
                        <div>4 cores processor, 1.2GHz</div>
                        <div>IP65</div>
                    </div>
                </div>
                <div class="cut-off clearfix">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="list-wrap clearfix">
                    <div class="col-xs-2">Networking</div>
                    <div class="col-xs-4">
                        <div>GSM</div>
                        <div>WCDMA</div>
                        <div>4G-LTE</div>
                    </div>
                    <div class="col-xs-4">
                        <div>1800</div>
                        <div>band1</div>
                        <div>Band1/3/38/39/40/41</div>
                    </div>
                </div>
                <div class="cut-off clearfix">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="list-wrap clearfix">
                    <div class="col-xs-2">Wi-Fi & Sensor</div>
                    <div class="col-xs-4">
                        <div>GPS</div>
                        <div>Wi-Fi</div>
                        <div>Bluetooth</div>
                        <div>Heart rate sensor</div>
                        <div>Electronic Compass/Accelerometer/Gyroscope</div>
                    </div>
                    <div class="col-xs-4">
                        <div>yes</div>
                        <div>yes</div>
                        <div>BT4.1, BLE</div>
                        <div>yes</div>
                        <div>yes</div>
                    </div>
                </div>
                <div class="cut-off clearfix">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="list-wrap clearfix">
                    <div class="col-xs-2">Interface</div>
                    <div class="col-xs-4">
                        <div>Charging</div>
                        <div>SIM</div>
                    </div>
                    <div class="col-xs-4">
                        <div>5 PIN</div>
                        <div>Nano-SIM</div>
                    </div>
                </div>

                <div class="cut-off clearfix">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="list-wrap clearfix">
                    <div class="col-xs-2">Dimension</div>
                    <div class="col-xs-4">
                        <div>Physical Dimension</div>
                    </div>
                    <div class="col-xs-4">
                        <div>46*52*17.8mm</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 技术特性介绍结束 -->


    <div class="fitting">
        <div class="second_menu_holder">
            <div class="container ">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="titleline">
                            <div class="items_holder">
                                <h2 class="yellowcolor">Accessories</h2>
                                <a href="首页_en.html">Homepage</a>
                                <span>/&nbsp;Accessories</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid fixed-position">
            <img class="parts-img" class="advertising" src="/static/img/product/parts.png" alt="" />
            <div class="parts-text">
                <div class="white">
                    <div class="image-text show-t">All Metal Shell Bluetooth Headset</div>
                    <div class="show-msg mb-60">Hands-free Call</div>
                </div>

            </div>
        </div>

        <div class="m120 container clearfix">
            <div class="list-wrap">
                <div class="col-xs-2">Specs</div>
                <div class="col-xs-4">
                    <div>Bluetooth</div>
                </div>
                <div class="col-xs-4">
                    <div>4.1</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Protocols</div>
                <div class="col-xs-4">
                    <div>support</div>
                </div>
                <div class="col-xs-4">
                    <div>A2DP,AVRCP,HFP,HSP</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Features</div>
                <div class="col-xs-4">
                    <div>denoise</div>
                </div>
                <div class="col-xs-4">
                    <div>CVC</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Standby</div>
                <div class="col-xs-4">
                    <div>Music</div>
                </div>
                <div class="col-xs-4">
                    <div>2 hours</div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <div>Call</div>
                </div>
                <div class="col-xs-4">
                    <div>2 hours</div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <div>Stand-by</div>
                </div>
                <div class="col-xs-4">
                    <div>180 hours</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Battery</div>
                <div class="col-xs-4">
                    <div>Charging</div>
                </div>
                <div class="col-xs-4">
                    <div>1.5 hours</div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <div>Votage</div>
                </div>
                <div class="col-xs-4">
                    <div>4.2V/25mA</div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <div>type</div>
                </div>
                <div class="col-xs-4">
                    <div>Lithium ion battery(3.7V/35mAh)</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Speaker</div>
                <div class="col-xs-4">
                    <div>Unit</div>
                </div>
                <div class="col-xs-4">
                    <div>8mm Moving Coil</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Frequency</div>
                <div class="col-xs-4">
                    <div>Response range</div>
                </div>
                <div class="col-xs-4">
                    <div>20Hz-20kHz</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Dimension</div>
                <div class="col-xs-4">
                    <div>Physical Dimension</div>
                </div>
                <div class="col-xs-4">
                    <div>18mm * 16.5mm * 35.8mm</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 配件介绍结束 -->
 
    <!-- 回到顶部按钮 -->
    <div class="scroll-tip">
        <div class="scroll-up">
            <img class="scroll-up-img" src="/static/img/icon/up.svg">
        </div>
    </div>

    {% endblock %}

    {% block js %}
    <script src="/static/js/cast2.parameter.js"></script>
    <script src="/static/plugins/jquery.threesixty.js"></script>
     <!-- Initialize Swiper -->
  
    {% endblock %}
