{% extends 'en/base_en.html' %}
{% block pagetitle%}ASU &nbsp;watch{% endblock%}
{% block css %}
<link href="/static/products/css/cast2.css"  rel="stylesheet">
{% endblock %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block content %} 
      
    <div class="fitting">
        
        <div class="container-fluid fixed-position">
            <img class="parts-img" class="advertising" src="/static/img/product/parts.png" alt="" />
            <div class="parts-text">
                <div class="white">
                    <div class="image-text show-t">All Metal Shell<br/> Bluetooth Headset</div>
                    <div class="show-msg mb-60">Hands-free Call</div>
                </div>

            </div>
        </div>

        <div class="m120 container clearfix">
            <div class="list-wrap">
                <div class="col-xs-2">Specs</div>
                <div class="col-xs-4">
                    <div>Bluetooth</div>
                </div>
                <div class="col-xs-4">
                    <div>4.1</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Protocols</div>
                <div class="col-xs-4">
                    <div>support</div>
                </div>
                <div class="col-xs-4">
                    <div>A2DP,&nbsp;AVRCP,&nbsp; HFP, &nbsp;HSP</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Features</div>
                <div class="col-xs-4">
                    <div>denoise</div>
                </div>
                <div class="col-xs-4">
                    <div>CVC</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Standby</div>
                <div class="col-xs-4">
                    <div>Music</div>
                </div>
                <div class="col-xs-4">
                    <div>2 hours</div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <div>Call</div>
                </div>
                <div class="col-xs-4">
                    <div>2 hours</div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <div>Stand-by</div>
                </div>
                <div class="col-xs-4">
                    <div>180 hours</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Battery</div>
                <div class="col-xs-4">
                    <div>Charging</div>
                </div>
                <div class="col-xs-4">
                    <div>1.5 hours</div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <div>Votage</div>
                </div>
                <div class="col-xs-4">
                    <div>4.2V/25mA</div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <div>type</div>
                </div>
                <div class="col-xs-4">
                    <div>Lithium ion battery(3.7V/35mAh)</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Speaker</div>
                <div class="col-xs-4">
                    <div>Unit</div>
                </div>
                <div class="col-xs-4">
                    <div>8mm Moving Coil</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Frequency</div>
                <div class="col-xs-4">
                    <div>Response range</div>
                </div>
                <div class="col-xs-4">
                    <div>20Hz-20kHz</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Dimension</div>
                <div class="col-xs-4">
                    <div>Physical Dimension</div>
                </div>
                <div class="col-xs-4">
                    <div>18mm * 16.5mm * 35.8mm</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 配件介绍结束 -->
 
 
    {% endblock %}

    {% block js %}
    <script src="/static/js/cast2.fetting.js"></script>
    <script src="/static/plugins/jquery.threesixty.js"></script>
     <!-- Initialize Swiper -->
  
    {% endblock %}
