{% extends 'en/base_en.html' %}
{% block pagetitle%}ASU &nbsp;watch{% endblock%}
{% block css %}
<link href="/static/products/css/cast2.css"  rel="stylesheet">
<style>
    .parts-text {
    transform: translate(-80%,-10%)
    }
</style>
{% endblock %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block content %}
     
    <div class="container-second-menu ">
      <div class="container second-menu ">
         <table >
            <tr>
                <td>
                    <div>
                       <a class='submenu' href="{% url 'product:cast2' %}">ASU Watch</a>
                    </div>
                </td>
                <td>
                  <div class="pull-right">
                     <table class="tb_secondmenu">
                        <tr>
                          <td class="tb_secondmenu_item" >
                              <a href="#" class="a_secondmenu_item " target="parameter" >技术参数</a>
                          </td>
                            <td  class="tb_secondmenu_item" >
                              <a href="#" class="a_secondmenu_item " target="fitting">精品配件</a>
                            </td>

                            <td  class="tb_secondmenu_item" >
                              <a href="#" class="a_secondmenu_item " target="advice">安全使用建议</a>
                            </td>
                            <td class="w30"></td>
                            <td class="buy"  >
                              <a href="javascript:;" >立即购买</a>
                            </td>
                        </tr>
                      </table>
                  </div><!-- end pull right -->
                </td>
            </tr>
         </table>
      </div>
    </div> <!-- second menu container -->
    <div class="character">
        <section class="sec1-show items">
            <div class="show1 white show">
                  <div class="image-text show-t">Watch &nbsp;／&nbsp;Projection</div>
                  <div class="show-msg">light and shadow &nbsp;丨&nbsp;is the object most near the soul</div>
              <table>
                <tr>
                    <td><img src="/static/img/icon/s1_1.svg" /></td>
                    <td><img src="/static/img/icon/s1_2.svg" /></td>
                    <td><img src="/static/img/icon/s1_3.svg" /></td>
                </tr>
                <tr>
                    <td>15 lm</td>
                    <td>Wide color gamut</td>
                    <td>2.3 inches virtual screen on back of hand </td>
                  </tr>
              </table>
            </div>
              <div class="roll-tip-holder" >
               <a id="test" href="javascript:;" class="white_a product_pic_1"  target="sub-item11">
                 <div class="roll-tip">
                    <img class="up_down" src="/static/img/icon/up_down.svg">
                </div>
                See more
              </a>
              </div><!-- roll tip end-->
        </section><!-- end items -->
        <section class="container-fluid sec1-hide items sub-item " id="sub-item11">
                <div class="hide-left p-r col-xs-5">
                        <img class="hide-watch" src="/static/img/product/1/img-1-1.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-2.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-3.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-4.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-5.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-6.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-7.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-8.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-9.png" alt="">
                    </div>
                    <div class="hide-right p-r grey col-xs-7">
                        <div>
                            <table>
                                <tr>
                                    <td>
                                            <img class="icon-img act-icon" src="/static/img/product/1/icon-1-1.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-2.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-3.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-4.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-5.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-6.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-7.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-8.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-9.png">
                                    </td>
                                </tr>
                            </table>
                            <div class="hide-text db">
                                <div class="image-text orange">Weather APP</div>
                                <p>show local weather information</p>
                                <p>weather animation projected on back of hand, better effect</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Wechat APP</div>
                                <p>support QR code scan to login</p>
                                <p>support Wechat conversation</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Phone APP</div>
                                <p>support dial and answer the call</p>
                                <p>support local contact</p>
                                <p>project phone number on back of hand, click back of hand to answer</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Music APP</div>
                                <p>play local music or connect to phone to play music</p>
                                <p>project subtitle of songs on back of hand</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Health APP</div>
                                <p>automatically record moving steps </p>
                                <p>automatically calculate activity level</p>
                                <p>heart beat rate measurement</p>
                                <p>project key data on back of hand, show more information</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Draw APP</div>
                                <p>draw graphics on physical screen, project accordingly graphics on back of hand</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Show APP</div>
                                <p>select animation from show store, project animation on back of hand, show your attitude to friends</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Running APP</div>
                                <p>record running key data</p>
                                <p>project key data, like pace, distance on back of hand during running</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">U＋ APP</div>
                                <p>control Haier air conditioner</p>
                            </div>
                        </div>
                    </div>
              <div class="roll-tip-up text-center" >
                          <img class="up" src="/static/img/icon/up.svg">
              </div><!-- roll tip up end-->
        </section><!-- end sub items -->
         <section class="container-fluid items sec2-show">
            <div class="show2 show white">
                <div class="image-text show-t">Listen&nbsp;／&nbsp;High quality BT earphone</div>
                <div class="show-msg">Beautiful sound &nbsp;丨&nbsp;The rhythm like heart beat</div>
            <table>
              <tr>
                <td><img src="/static/img/icon/s2_1.svg" /></td>
                <td><img src="/static/img/icon/s2_2.svg" /></td>
                <td><img src="/static/img/icon/s2_3.svg" /></td>
              </tr>
              <tr>
                  <td>Metal body</td>
                  <td>BT 4.1</td>
                  <td>CVC denoise</td>
                </tr>
            </table>
          </div>
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_1"  target="sub-item1">
                 <div class="roll-tip">
                    <img class="up_down" src="/static/img/icon/up_down.svg">
                </div>
                see more
              </a>
              </div><!-- roll tip end-->
        </section><!-- end items -->
        <section class="container-fluid sec2-hide items sub-item " id="sub-item1">
              <div class="roll-tip-up" >
                  <img class="up" src="/static/img/icon/up.svg">
              </div><!-- roll tip up end-->
              <div class="hide-left p-r col-xs-5">
                    <img class="hide-watch" src="/static/img/product/2/img-2-1.png" alt="">
                    <img class="hide-watch" src="/static/img/product/2/img-2-2.png" alt="">
                    <img class="hide-watch" src="/static/img/product/2/img-2-3.png" alt="">
                    <img class="hide-watch" src="/static/img/product/2/img-2-4.png" alt="">
                </div>
                <div class="hide-right p-r grey col-xs-7">
                    <div>
                        <table>
                            <tr>
                                <td>
                                        <img class="icon-img act-icon" src="/static/img/product/2/icon-2-1.png">
                                </td>
                                <td>
                                        <img class="icon-img" src="/static/img/product/2/icon-2-2.png">
                                </td>
                                <td>
                                        <img class="icon-img" src="/static/img/product/2/icon-2-3.png">
                                </td>
                                <td>
                                        <img class="icon-img" src="/static/img/product/2/icon-2-4.png">
                                </td>
                            </tr>
                        </table>
                        <div class="hide-text db">
                          <div class="image-text orange">Phone APP</div>
                            <p>support dial and answer the call</p>
                            <p>support local contact</p>
                            <p>project phone number on back of hand, click back of hand to answer</p>

                        </div>
                        <div class="hide-text">
                          <div class="image-text orange">Music APP</div>
                          <p>play local music or connect to phone to play music</p>
                          <p>project subtitle of songs on back of hand</p>
                        </div>
                        <div class="hide-text">
                          <div class="image-text orange">Running APP</div>
                          <p>record running key data</p>
                          <p>project key data, like pace, distance on back of hand during running</p>
                        </div>
                            <div class="hide-text">
                              <div class="image-text orange">Show APP</div>
                              <p>select animation from show store, project animation on back of hand, show your attitude to friends</p>
                            </div>
                    </div>
                </div>
        </section><!-- end sub items -->
        <section class="container-fluid items sec3-show">
            <div class="show3 show white">
                <div class="image-text show-t">Touch&nbsp;／&nbsp;Dual screen display + Virtual touch</div>
                <div class="show-msg">Future&nbsp;丨&nbsp;Is a crisscross of seeing and touch</div>
            <table>
              <tr>
                  <td><img src="/static/img/icon/s3_1.svg" /></td>
                  <td><img src="/static/img/icon/s3_2.svg" /></td>
                  <td><img src="/static/img/icon/s3_3.svg" /></td>
                  <td><img src="/static/img/icon/s3_4.svg" /></td>
              </tr>
              <tr>
                  <td>1.54 inches physical screen</td>
                  <td>2.3 inches virtual screen</td>
                  <td>gesture interaction</td>
                  <td>skin virtual touch</td>
                </tr>
            </table>
          </div>
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_2"  target="sub-item2"> <div class="roll-tip">
                      <img class="up_down" src="/static/img/icon/up_down.svg">
                </div>
                See more
              </a>
              </div>
            <!-- roll tip end-->
            </section>
            <section class="container-fluid items sec3-hide sub-item " id="sub-item2">
                    <div class="hide-left p-r col-xs-5">
                            <img class="hide-watch" src="/static/img/product/3/img-3-1.png" alt="">
                            <img class="hide-watch" src="/static/img/product/3/img-3-2.png" alt="">
                            <img class="hide-watch" src="/static/img/product/3/img-3-3.png" alt="">
                            <img class="hide-watch" src="/static/img/product/3/img-3-4.png" alt="">
                        </div>
                        <div class="hide-right p-r grey col-xs-7">
                            <div>
                                <table>
                                    <tr>
                                        <td>
                                                <img class="icon-img act-icon" src="/static/img/product/3/icon-3-1.png" imgid="1">
                                        </td>
                                        <td>
                                                <img class="icon-img" src="/static/img/product/3/icon-3-2.png" imgid="2">
                                        </td>
                                        <td>
                                                <img class="icon-img" src="/static/img/product/3/icon-3-3.png" imgid="3">
                                        </td>
                                        <td>
                                                <img class="icon-img" src="/static/img/product/3/icon-3-4.png" imgid="4">
                                        </td>
                                    </tr>
                                </table>
                                <div class="hide-text db">
                                  <div class="image-text orange">Show APP</div>
                                  <p>select animation from show store, project animation on back of hand, show your attitude to friends</p>
                                </div>
                                <div class="hide-text">
                                  <div class="image-text orange">Phone APP</div>
                                    <p>support dial and answer the call</p>
                                    <p>support local contact</p>
                                    <p>project phone number on back of hand, click back of hand to answer</p>
                                </div>
                                <div class="hide-text">
                                  <div class="image-text orange">Running APP</div>
                                  <p>record running key data</p>
                                  <p>project key data, like pace, distance on back of hand during running</p>
                                </div>
                                <div class="hide-text">
                                  <div class="image-text orange">Health APP</div>
                                  <p>automatically record moving steps </p>
                                  <p>automatically calculate activity level</p>
                                  <p>heart beat rate measurement</p>
                                  <p>project key data on back of hand, show more information</p>
                                </div>
                            </div>
                        </div>
                <div class="roll-tip-up">
                    <img class="up" src="/static/img/icon/up.svg">
                </div>
                <!-- roll tip up end-->
            </section>
            <!-- end sub items -->




        <section class="container-fluid items sec4-show">
            <div class="show4 show white">
                <div class="image-text show-t">Feeling </div>
                <div class="show-msg">Now &nbsp;丨&nbsp;Is every moment looking for a better self</div>
                <table>
                    <tr>
                        <td>
                            <img src="/static/img/icon/s4_1.svg" />
                        </td>
                        <td>
                            <img src="/static/img/icon/s4_2.svg" />
                        </td>
                        <td>
                            <img src="/static/img/icon/s4_3.svg" />
                        </td>
                    </tr>
                    <tr>
                        <td>heart beat rate detection</td>
                        <td>GPS</td>
                        <td>inertial navigation</td>
                    </tr>
                </table>
            </div>
            <div class="roll-tip-holder">
                <a href="" class="white_a product_pic_2" target="sub-item3">
                    <div class="roll-tip">
                        <img class="up_down" src="/static/img/icon/up_down.svg">
                    </div>
                    See more</a>
            </div>
            <!-- roll tip end-->
        </section>
        <!-- end items -->
        <section class="container-fluid items sub-item sec4-hide" id="sub-item3">
                <div class="roll-tip-up">
                        <img class="up" src="/static/img/icon/up.svg">
                    </div>
            <div class="hide-left p-r col-xs-5">
                <img class="hide-watch" src="/static/img/product/4/img-4-1.png" alt="">
                <img class="hide-watch" src="/static/img/product/4/img-4-2.png" alt="">
            </div>
            <div class="hide-right p-r grey col-xs-7">
                <div>
                    <table>
                        <tr>
                            <td>
                                    <img class="icon-img act-icon" src="/static/img/product/4/icon-4-1.png">
                            </td>
                            <td>
                                    <img class="icon-img" src="/static/img/product/4/icon-4-2.png">
                            </td>
                        </tr>
                    </table>

                    <div class="hide-text db">
                      <div class="image-text orange">Health APP</div>
                        <p>automatically record moving steps </p>
                        <p>automatically calculate activity level</p>
                        <p>heart beat rate measurement</p>
                        <p>project key data on back of hand, show more information</p>
                    </div>
                    <div class="hide-text">
                      <div class="image-text orange">Running APP</div>
                      <p>record running key data</p>
                      <p>project key data, like pace, distance on back of hand during running</p>
                    </div>
                </div>
            </div>

        </section>
        <!-- end sub items -->
      </div><!-- 特性介绍结束 -->

    <div class="parameter">
        <div class="second_menu_holder">
            <div class="container second_menu">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="titleline">
                            <div class="items_holder">
                                <h2 class="yellowcolor">Tech Specs</h2>
                                <a href="首页_en.html">Homepage</a>
                                <span>/&nbsp;Tech Specs</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <img class="advertising" src="/static/img/product/canshu.jpg" alt="" />
        </div>
        <div class="container-fluid">
            <div class="container mt60mb120">
                <div class="list-wrap clearfix">
                    <div class="col-xs-2">Display</div>
                    <div class="col-xs-4">
                        <div>Watch display</div>
                        <div>Projector dispaly</div>
                        <div>Projector brightness</div>
                    </div>
                    <div class="col-xs-4">
                        <div>1.54″,240*240 </div>
                        <div>2.3″,480*850</div>
                        <div>18lm</div>
                    </div>
                </div>
                <div class="cut-off clearfix">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="list-wrap clearfix">
                    <div class="col-xs-2">Performance</div>
                    <div class="col-xs-4">
                        <div>Using time</div>
                        <div>Storage</div>
                        <div>CPU</div>
                        <div>Water-resistance</div>
                    </div>
                    <div class="col-xs-4">
                        <div>1 day（650mAh）</div>
                        <div>1GB RAM+8GB ROM</div>
                        <div>4 cores processor, 1.2GHz</div>
                        <div>IP65</div>
                    </div>
                </div>
                <div class="cut-off clearfix">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="list-wrap clearfix">
                    <div class="col-xs-2">Networking</div>
                    <div class="col-xs-4">
                        <div>GSM</div>
                        <div>WCDMA</div>
                        <div>4G-LTE</div>
                    </div>
                    <div class="col-xs-4">
                        <div>1800</div>
                        <div>band1</div>
                        <div>Band1/3/38/39/40/41</div>
                    </div>
                </div>
                <div class="cut-off clearfix">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="list-wrap clearfix">
                    <div class="col-xs-2">Wi-Fi & Sensor</div>
                    <div class="col-xs-4">
                        <div>GPS</div>
                        <div>Wi-Fi</div>
                        <div>Bluetooth</div>
                        <div>Heart rate sensor</div>
                        <div>Electronic Compass/Accelerometer/Gyroscope</div>
                    </div>
                    <div class="col-xs-4">
                        <div>yes</div>
                        <div>yes</div>
                        <div>BT4.1, BLE</div>
                        <div>yes</div>
                        <div>yes</div>
                    </div>
                </div>
                <div class="cut-off clearfix">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="list-wrap clearfix">
                    <div class="col-xs-2">Interface</div>
                    <div class="col-xs-4">
                        <div>Charging</div>
                        <div>SIM</div>
                    </div>
                    <div class="col-xs-4">
                        <div>5 PIN</div>
                        <div>Nano-SIM</div>
                    </div>
                </div>

                <div class="cut-off clearfix">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="list-wrap clearfix">
                    <div class="col-xs-2">Dimension</div>
                    <div class="col-xs-4">
                        <div>Physical Dimension</div>
                    </div>
                    <div class="col-xs-4">
                        <div>46*52*17.8mm</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 技术特性介绍结束 -->


    <div class="fitting">
        <div class="second_menu_holder">
            <div class="container ">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="titleline">
                            <div class="items_holder">
                                <h2 class="yellowcolor">Accessories</h2>
                                <a href="首页_en.html">Homepage</a>
                                <span>/&nbsp;Accessories</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid fixed-position">
            <img class="parts-img" class="advertising" src="/static/img/product/parts.png" alt="" />
            <div class="parts-text">
                <div class="white">
                    <div class="image-text show-t">All Metal Shell Bluetooth Headset</div>
                    <div class="show-msg mb-60">Hands-free Call</div>
                </div>

            </div>
        </div>

        <div class="m120 container clearfix">
            <div class="list-wrap">
                <div class="col-xs-2">Specs</div>
                <div class="col-xs-4">
                    <div>Bluetooth</div>
                </div>
                <div class="col-xs-4">
                    <div>4.1</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Protocols</div>
                <div class="col-xs-4">
                    <div>support</div>
                </div>
                <div class="col-xs-4">
                    <div>A2DP,AVRCP,HFP,HSP</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Features</div>
                <div class="col-xs-4">
                    <div>denoise</div>
                </div>
                <div class="col-xs-4">
                    <div>CVC</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Standby</div>
                <div class="col-xs-4">
                    <div>Music</div>
                </div>
                <div class="col-xs-4">
                    <div>2 hours</div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <div>Call</div>
                </div>
                <div class="col-xs-4">
                    <div>2 hours</div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <div>Stand-by</div>
                </div>
                <div class="col-xs-4">
                    <div>180 hours</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Battery</div>
                <div class="col-xs-4">
                    <div>Charging</div>
                </div>
                <div class="col-xs-4">
                    <div>1.5 hours</div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <div>Votage</div>
                </div>
                <div class="col-xs-4">
                    <div>4.2V/25mA</div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <div>type</div>
                </div>
                <div class="col-xs-4">
                    <div>Lithium ion battery(3.7V/35mAh)</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Speaker</div>
                <div class="col-xs-4">
                    <div>Unit</div>
                </div>
                <div class="col-xs-4">
                    <div>8mm Moving Coil</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Frequency</div>
                <div class="col-xs-4">
                    <div>Response range</div>
                </div>
                <div class="col-xs-4">
                    <div>20Hz-20kHz</div>
                </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
            </div>
            <div class="list-wrap clearfix">
                <div class="col-xs-2">Dimension</div>
                <div class="col-xs-4">
                    <div>Physical Dimension</div>
                </div>
                <div class="col-xs-4">
                    <div>18mm * 16.5mm * 35.8mm</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 配件介绍结束 -->


    <div class="advice">
        <div class="second_menu_holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="titleline">
                            <div class="items_holder">
                                <h2 class="yellowcolor">安全使用建议</h2>
                                <a href="/">首页</a>
                                <span>/&nbsp;Watch</span>
                                <span>/&nbsp;安全使用建议</span>
                            </div>
                            <!-- end items_holder -->
                        </div>
                        <!-- end titleline -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div><!-- end second_menu_holder -->
            <div class="p-r">
                <img class="summary" class="advertising" src="/static/img/product/summary.png" alt="" />
                <div class="summary-text"> 一数是首家整合投影技术到穿戴设备上的品牌，
                    <br/>我们希望提供一些建议和帮助，来告知您使用腕投设备的正确方式和方法，
                    <br/> 在一个合理的范围内享受腕投带给您全新生活方式和使用体验。
                    <br/> 我们致力于激光技术的开发和研究，
                    <br/>也会第一时间告知由于 产品技术的更新带来的使用方式的改变。
                </div>
            </div>
            <div class="container advice-details">
                <table>
                    <tr>
                        <td>
                            <div class="fs24">激光安全</div>
                            <div class="gray">
                                ASU Watch符合GB7247.1-2012标准，为2类激光产品。在手背上显示绝对安全。但使用过程中请勿使激光直射眼睛，避免强光直射眼睛造成伤害。</div>
                        </td>
                        <td class="text-center">
                            <img class="advertising" src="/static/img/product/advice1.png" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <img class="advertising" src="/static/img/product/advice2.png" alt="" />
                        </td>
                        <td>
                            <div class="fs24">防水防尘</div>
                            <div class="gray">ASU Watch为IP65级产品，可以防生活溅水，但请勿将产品泡水或在游泳、洗澡时佩戴。
                            </div>
                        </td>

                    </tr>


                    <tr>
                        <td>
                            <div class="fs24">设备充电</div>
                            <div class="gray">设备的正常使用温度是5~35摄氏度，尽量避免在温度过高或过低的环境下对设备充电，在充满电后请及时断电，不要过度充电。</div>
                        </td>
                        <td class="text-center">
                            <img class="advertising" src="/static/img/product/advice5.png" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <img class="advertising" src="/static/img/product/advice6.png" />
                        </td>
                        <td>
                            <div class="fs24">拆卸和检修</div>
                            <div class="gray">如果您的设备出现故障需要维修，请与一数官方售后联系保修，请勿自行拆卸。</div>
                        </td>

                    </tr>
                    <tr>
                        <td class="b-n">
                            <div class="fs24">电池安全</div>

                            <div class="gray">本产品内含可充电锂离子电池，请勿将设备暴露在高温处或者发热设备的周围，如热水器、微波炉等，可能会引起爆炸。</div>
                        </td>
                        <td class="b-n text-center">
                            <img class="advertising" src="/static/img/product/advice3.png" />
                        </td>
                    </tr>
                </table>
            </div>

    </div>
    <!-- 安全使用建议介绍结束 -->

    <!-- 回到顶部按钮 -->
    <div class="scroll-tip">
        <div class="scroll-up">
            <img class="scroll-up-img" src="/static/img/icon/up.svg">
        </div>
    </div>

    {% endblock %}

    {% block js %}
    <script src="/static/js/cast2.js"></script>
    <script src="/static/plugins/jquery.threesixty.js"></script>
     <!-- Initialize Swiper -->
    <script>
      $(document).ready(function(){
          six = $('.threesixty').threeSixty({
              dragDirection: 'horizontal',
              useKeys: false
          });
         /*  var father_h = $('.img360_holder').height();

         if (father_h > 800)
             $('.threesixty').css({'margin-top':(father_h/6)+'px'}); */
      });
    </script>
    {% endblock %}
