{% extends 'en/base_en.html' %}
{% block pagetitle%}ASU &nbsp;watch{% endblock%}
{% block css %}
<link href="/static/products/css/cast2.css"  rel="stylesheet">
{% endblock %}
{% block content %}
<div class="character"></div>
<div class="img360_holder"> 
      
        <div class="threesixty" data-path="/static/img/360pics/watch.{index}.png" data-count="30"></div>
        <div class="img360-text show360">
            <div class="white text-center"><img src="/static/img/icon/360.svg"></div>
            <div class="text-center fs30 image-text white" ><span>Future&nbsp;／&nbsp;One Touch Reality</span>
            </div> 
            
             <p class="p_title_2 text-center">
               <img id="to_next" src="/static/img/icon/down.svg" />
              </p>
        </div>
      </div>
    
      
        <section class="sec1-show items">
            <div class="show1 white show">
                  <div class="image-text show-t">Watch &nbsp;／&nbsp;Projection</div>
                  <div class="show-msg">light and shadow &nbsp;丨&nbsp;is the object most near the soul</div>
              <table>
                <tr>
                    <td><img src="/static/img/icon/s1_1.svg" /></td>
                    <td><img src="/static/img/icon/s1_2.svg" /></td>
                    <td><img src="/static/img/icon/s1_3.svg" /></td>
                </tr>
                <tr>
                    <td>18 lm</td>
                    <td>Wide color gamut</td>
                    <td>2.3 inches virtual screen </td>
                  </tr>
              </table>
            </div>
              <div class="roll-tip-holder" >
               <a id="test" href="javascript:;" class="white_a product_pic_1"  target="sub-item11">
                 <div class="roll-tip">
                    <img class="up_down" src="/static/img/icon/up_down.svg">
                </div>
                See more
              </a>
              </div><!-- roll tip end-->
        </section><!-- end items -->
        <section class="container-fluid sec1-hide items sub-item " id="sub-item11">
                <div class="hide-left p-r col-xs-5">
                        <img class="hide-watch" src="/static/img/product/1/img-1-1.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-2.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-3.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-4.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-5.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-6.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-7.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-8.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-9.png" alt="">
                    </div>
                    <div class="hide-right p-r grey col-xs-7">
                        <div>
                            <table>
                                <tr>
                                    <td>
                                            <img class="icon-img act-icon" src="/static/img/product/1/icon-1-1.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-2.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-3.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-4.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-5.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-6.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-7.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-8.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-9.png">
                                    </td>
                                </tr>
                            </table>
                            <div class="hide-text db">
                                <div class="image-text orange">Weather APP</div>
                                <p>show local weather information</p>
                                <p>weather animation projected on back of hand, better effect</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Wechat APP</div>
                                <p>support QR code scan to login</p>
                                <p>support Wechat conversation</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Phone APP</div>
                                <p>support dial and answer the call</p>
                                <p>support local contact</p>
                                <p>project phone number on back of hand, click back of hand to answer</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Music APP</div>
                                <p>play local music or connect to phone to play music</p>
                                <p>project subtitle of songs on back of hand</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Health APP</div>
                                <p>automatically record moving steps </p>
                                <p>automatically calculate activity level</p>
                                <p>heart beat rate measurement</p>
                                <p>project key data on back of hand, show more information</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Draw APP</div>
                                <p>draw graphics on physical screen, project accordingly graphics on back of hand</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Show APP</div>
                                <p>select animation from show store, project animation on back of hand, show your attitude to friends</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Running APP</div>
                                <p>record running key data</p>
                                <p>project key data, like pace, distance on back of hand during running</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">U＋ APP</div>
                                <p>control Haier air conditioner</p>
                            </div>
                        </div>
                    </div>
              <div class="roll-tip-up text-center" >
                          <img class="up" src="/static/img/icon/up.svg">
              </div><!-- roll tip up end-->
        </section><!-- end sub items -->
         <section class="container-fluid items sec2-show">
            <div class="show2 show white">
                <div class="image-text show-t">Listen&nbsp;／&nbsp;High quality<br/>BT earphone</div>
                <div class="show-msg">Beautiful sound &nbsp;丨&nbsp;The rhythm like heart beat</div>
            <table>
              <tr>
                <td><img src="/static/img/icon/s2_1.svg" /></td>
                <td><img src="/static/img/icon/s2_2.svg" /></td>
                <td><img src="/static/img/icon/s2_3.svg" /></td>
              </tr>
              <tr>
                  <td>Metal body</td>
                  <td>BT 4.1</td>
                  <td>CVC denoise</td>
                </tr>
            </table>
          </div>
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_1"  target="sub-item1">
                 <div class="roll-tip">
                    <img class="up_down" src="/static/img/icon/up_down.svg">
                </div>
                See more
              </a>
              </div><!-- roll tip end-->
        </section><!-- end items -->
        <section class="container-fluid sec2-hide items sub-item " id="sub-item1">
              <div class="roll-tip-up" >
                  <img class="up" src="/static/img/icon/up.svg">
              </div><!-- roll tip up end-->
              <div class="hide-left p-r col-xs-5">
                    <img class="hide-watch" src="/static/img/product/2/img-2-1.png" alt="">
                    <img class="hide-watch" src="/static/img/product/2/img-2-2.png" alt="">
                    <img class="hide-watch" src="/static/img/product/2/img-2-3.png" alt="">
                    <img class="hide-watch" src="/static/img/product/2/img-2-4.png" alt="">
                </div>
                <div class="hide-right p-r grey col-xs-7">
                    <div>
                        <table>
                            <tr>
                                <td>
                                        <img class="icon-img act-icon" src="/static/img/product/2/icon-2-1.png">
                                </td>
                                <td>
                                        <img class="icon-img" src="/static/img/product/2/icon-2-2.png">
                                </td>
                                <td>
                                        <img class="icon-img" src="/static/img/product/2/icon-2-3.png">
                                </td>
                                <td>
                                        <img class="icon-img" src="/static/img/product/2/icon-2-4.png">
                                </td>
                            </tr>
                        </table>
                        <div class="hide-text db">
                          <div class="image-text orange">Phone APP</div>
                            <p>support dial and answer the call</p>
                            <p>support local contact</p>
                            <p>project phone number on back of hand, click back of hand to answer</p>

                        </div>
                        <div class="hide-text">
                          <div class="image-text orange">Music APP</div>
                          <p>play local music or connect to phone to play music</p>
                          <p>project subtitle of songs on back of hand</p>
                        </div>
                        <div class="hide-text">
                          <div class="image-text orange">Running APP</div>
                          <p>record running key data</p>
                          <p>project key data, like pace, distance on back of hand during running</p>
                        </div>
                            <div class="hide-text">
                              <div class="image-text orange">Show APP</div>
                              <p>select animation from show store, project animation on back of hand, show your attitude to friends</p>
                            </div>
                    </div>
                </div>
        </section><!-- end sub items -->
        <section class="container-fluid items sec3-show">
            <div class="show3 show white">
                <div class="image-text show-t">Touch&nbsp;／&nbsp;Dual screen display <br/>Virtual touch</div>
                <div class="show-msg">Future&nbsp;丨&nbsp;Is a crisscross of seeing and touch</div>
            <table>
              <tr>
                  <td><img src="/static/img/icon/s3_1.svg" /></td>
                  <td><img src="/static/img/icon/s3_2.svg" /></td>
                  <td><img src="/static/img/icon/s3_3.svg" /></td>
                  <td><img src="/static/img/icon/s3_4.svg" /></td>
              </tr>
              <tr>
                  <td>1.54 inches physical screen</td>
                  <td>2.3 inches virtual screen</td>
                  <td>gesture interaction</td>
                  <td>skin virtual touch</td>
                </tr>
            </table>
          </div>
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_2"  target="sub-item2"> <div class="roll-tip">
                      <img class="up_down" src="/static/img/icon/up_down.svg">
                </div>
                See more
              </a>
              </div>
            <!-- roll tip end-->
            </section>
            <section class="container-fluid items sec3-hide sub-item " id="sub-item2">
                    <div class="hide-left p-r col-xs-5">
                            <img class="hide-watch" src="/static/img/product/3/img-3-1.png" alt="">
                            <img class="hide-watch" src="/static/img/product/3/img-3-2.png" alt="">
                            <img class="hide-watch" src="/static/img/product/3/img-3-3.png" alt="">
                            <img class="hide-watch" src="/static/img/product/3/img-3-4.png" alt="">
                        </div>
                        <div class="hide-right p-r grey col-xs-7">
                            <div>
                                <table>
                                    <tr>
                                        <td>
                                                <img class="icon-img act-icon" src="/static/img/product/3/icon-3-1.png" imgid="1">
                                        </td>
                                        <td>
                                                <img class="icon-img" src="/static/img/product/3/icon-3-2.png" imgid="2">
                                        </td>
                                        <td>
                                                <img class="icon-img" src="/static/img/product/3/icon-3-3.png" imgid="3">
                                        </td>
                                        <td>
                                                <img class="icon-img" src="/static/img/product/3/icon-3-4.png" imgid="4">
                                        </td>
                                    </tr>
                                </table>
                                <div class="hide-text db">
                                  <div class="image-text orange">Show APP</div>
                                  <p>select animation from show store, project animation on back of hand, show your attitude to friends</p>
                                </div>
                                <div class="hide-text">
                                  <div class="image-text orange">Phone APP</div>
                                    <p>support dial and answer the call</p>
                                    <p>support local contact</p>
                                    <p>project phone number on back of hand, click back of hand to answer</p>
                                </div>
                                <div class="hide-text">
                                  <div class="image-text orange">Running APP</div>
                                  <p>record running key data</p>
                                  <p>project key data, like pace, distance on back of hand during running</p>
                                </div>
                                <div class="hide-text">
                                  <div class="image-text orange">Health APP</div>
                                  <p>automatically record moving steps </p>
                                  <p>automatically calculate activity level</p>
                                  <p>heart beat rate measurement</p>
                                  <p>project key data on back of hand, show more information</p>
                                </div>
                            </div>
                        </div>
                <div class="roll-tip-up">
                    <img class="up" src="/static/img/icon/up.svg">
                </div>
                <!-- roll tip up end-->
            </section>
            <!-- end sub items -->




        <section class="container-fluid items sec4-show">
            <div class="show4 show white">
                <div class="image-text show-t">Feeling </div>
                <div class="show-msg">Now &nbsp;丨&nbsp;Is every moment looking for a better self</div>
                <table>
                    <tr>
                        <td>
                            <img src="/static/img/icon/s4_1.svg" />
                        </td>
                        <td>
                            <img src="/static/img/icon/s4_2.svg" />
                        </td>
                        <td>
                            <img src="/static/img/icon/s4_3.svg" />
                        </td>
                    </tr>
                    <tr>
                        <td>heart beat rate detection</td>
                        <td>GPS</td>
                        <td>inertial navigation</td>
                    </tr>
                </table>
            </div>
            <div class="roll-tip-holder">
                <a href="" class="white_a product_pic_2" target="sub-item3">
                    <div class="roll-tip">
                        <img class="up_down" src="/static/img/icon/up_down.svg">
                    </div>
                    See more</a>
            </div>
            <!-- roll tip end-->
        </section>
        <!-- end items -->
        <section class="container-fluid items sub-item sec4-hide" id="sub-item3">
                <div class="roll-tip-up">
                        <img class="up" src="/static/img/icon/up.svg">
                    </div>
            <div class="hide-left p-r col-xs-5">
                <img class="hide-watch" src="/static/img/product/4/img-4-1.png" alt="">
                <img class="hide-watch" src="/static/img/product/4/img-4-2.png" alt="">
            </div>
            <div class="hide-right p-r grey col-xs-7">
                <div>
                    <table>
                        <tr>
                            <td>
                                    <img class="icon-img act-icon" src="/static/img/product/4/icon-4-1.png">
                            </td>
                            <td>
                                    <img class="icon-img" src="/static/img/product/4/icon-4-2.png">
                            </td>
                        </tr>
                    </table>

                    <div class="hide-text db">
                      <div class="image-text orange">Health APP</div>
                        <p>automatically record moving steps </p>
                        <p>automatically calculate activity level</p>
                        <p>heart beat rate measurement</p>
                        <p>project key data on back of hand, show more information</p>
                    </div>
                    <div class="hide-text">
                      <div class="image-text orange">Running APP</div>
                      <p>record running key data</p>
                      <p>project key data, like pace, distance on back of hand during running</p>
                    </div>
                </div>
            </div>

        </section>
        <!-- end sub items -->
      </div><!-- 特性介绍结束 -->
  
 

    {% endblock %}

    {% block js %}
    <script src="/static/js/cast2.watch.js"></script>
    <script>
            $(document).ready(function(){
                six = $('.threesixty').threeSixty({
                    dragDirection: 'horizontal',
                    useKeys: false
                });
            });
          </script>
    
    <script src="/static/plugins/jquery.threesixty.js"></script>
     <!-- Initialize Swiper -->
    
    {% endblock %}
