{% extends 'base.html' %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% load i18n %}
{% block pagetitle%}{% trans 'About Us' %}{% endblock%}
{% block css %}
<link href="/static/page/css/pagebase.css" rel="stylesheet">
<link href="/static/page/css/aboutus.css" rel="stylesheet">
<style>
        .top-slide{
          background-image: url('{{mediaroot}}{{page.pic|safe}}');
        }
</style>
 {% endblock %}
{% block content %}
<div class="top-slide"> 
    <div class="top-tips">
      <h1 class="orange " >{% trans 'Service like a friend with you' %}</h1> 
      <h5 >{% trans 'Welcome to use our product' %}</h5>
    </div>
  </div> 
<div class=" container-title" >
    <div class="container ">
        <div class="items_holder">
                    <h2 class="title orange">{{product.title}} </h2>
                     
                    <a href="/">{% trans 'Home' %}</a>
                    <a href="javasrcipt:;">&nbsp;/ASU {% trans 'Brand' %}</a> 
                    <a href="javasrcipt:;">&nbsp;/{{product.title}}</a> 
        </div> 
    </div> 
</div>
<div class="container  ">
    <div class="row  "> 
      <div class="col-sm-12 col-md-12 col-lg-12">
         {{product.detail|safe}}
      </div> 
    </div>
</div>  
{% endblock%}
{% block js %} 
{% endblock %}