{% extends 'base.html' %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% load i18n %}
{% block pagetitle%}{% trans 'About Us' %}{% endblock%}
{% block css %}
<link rel="stylesheet" href="/static/css/swiper.css">
<link href="/static/page/css/pagebase.css" rel="stylesheet">
<link href="/static/page/css/aboutus.css" rel="stylesheet">

 {% endblock %}
{% block content %}
<section class="main">
    <div class="text-center">
            <h2>Be Different be as you！</h3>
            <p>以“造物者”的初心接受所有，保持敞开，充满激情，对无限可能的未来，
                <br/>笃实而虔诚。改变的是过程，不变的是心态。前方，永远都是新的起点！</p>
            <h2>Aspiration</h3>
            <p>强烈愿望表现为真诚的态度，感动的情绪，正确的表达</p>
    </div>
    <div class="down text-center">
        <img src="/static/img/icon/down.svg" />
    </div>
</section>
<div class="swiper-container row">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="sider sider0">
                <div class="sider-text">
                    <div class="container">
                        <div class="col-xs-1 image-text">真诚&nbsp;/&nbsp;</div>
                         <div class="col-xs-9 text-deteil">对用户而言，无论是外形还是交互方式，都是一种全新的产品体验。在产品研发过程中，将“真实”的态度与每一处细节的真材实料融合，将“诚恳”的情感与用户每一次接触感触联接，使产品更加真实易懂。
                         </div>
                         <div class="col-xs-1 image-text text-right"> 01/<span>09</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider 1 end-->
        <div class="swiper-slide">
            <div class="sider sider1">
                <div class="sider-text">
                    <div class="container">
                        <div class="col-xs-1 image-text">感动 /</div>
                         <div class="col-xs-9 text-deteil">
                                只有打动自己的设计才会吸引用户，只有做到让用户带着欣赏的眼光使用一款产品，才会触发他们心中最原始的感动。腕投从形式和功能上追求
                                一种和谐，凡用户能看到、接触的任何细节，都不敢逊色！
                         </div>
                         <div class="col-xs-1 image-text text-right"> 02/<span>09</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider 2 end-->
        <div class="swiper-slide">
                <div class="sider sider2">
                    <div class="sider-text">
                        <div class="container">
                            <div class="col-xs-1 image-text">正确 /</div>
                             <div class="col-xs-9 text-deteil">
                                    时尚流行的外观设计，简洁的交互界面，清晰的功能逻辑，时尚的外观设计，流畅的操控体验或许都能成为定义正确的标准，但归根到底， 判
                                    断的唯一标准是让客户感到“舒适”。
                             </div>
                             <div class="col-xs-1 image-text text-right"> 03/<span>09</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider 3 end-->
            <div class="swiper-slide">
                    <div class="sider sider3">
                        <div class="sider-text">
                            <div class="container">
                                <div class="col-xs-1 image-text">犀利 /</div>
                                 <div class="col-xs-9 text-deteil">
                                        跨越式、超前的产品思考方式需要勇气、毅力、判断力，更重要的是需要灵感，而“灵感”的源泉并非来自未来，而是眼前的生活。生活碎片化
                                        繁为简的最佳方式是细致入微的思考，代替用户思考。
                                 </div>
                                 <div class="col-xs-1 image-text text-right"> 04/<span>09</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slider 4 end-->
                <div class="swiper-slide">
                        <div class="sider sider4">
                            <div class="sider-text">
                                <div class="container">
                                    <div class="col-xs-1 image-text">精准 /</div>
                                     <div class="col-xs-9 text-deteil">
                                            Cast产品的设计师需要具备完美的把控能力，而这种精确到“毫米”的能力不仅仅是对产品的认知力，更多源于对用户感受的“理解”。确
                                            保每一次切割的数据化，线条轮廓中将人体工程设计与自然美学无缝连接。
                                     </div>
                                     <div class="col-xs-1 image-text text-right"> 05/<span>09</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- slider 5 end-->
                    <div class="swiper-slide">
                            <div class="sider sider5">
                                <div class="sider-text">
                                    <div class="container">
                                        <div class="col-xs-1 image-text">灵活 /</div>
                                         <div class="col-xs-9 text-deteil">
                                                未来的光机模组，可以看作一个变形金刚，始终寻找新的改变形式，融入合乎逻辑性的使用场景，并稳定的将出色性能展现到用户面前。
                                         </div>
                                         <div class="col-xs-1 image-text text-right"> 06/<span>09</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- slider 6 end-->
                        <div class="swiper-slide">
                                <div class="sider sider6">
                                    <div class="sider-text">
                                        <div class="container">
                                            <div class="col-xs-1 image-text">创新 /</div>
                                             <div class="col-xs-9 text-deteil">
                                                    从光机到电子组件排列方式，Cast似乎已经找到了一套符合自身发展的算法，同时也给未来留出了很多遐想的空间。                                             </div>
                                             <div class="col-xs-1 image-text text-right"> 07/<span>09</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- slider 7 end-->
                            <div class="swiper-slide">
                                    <div class="sider sider7">
                                        <div class="sider-text">
                                            <div class="container">
                                                <div class="col-xs-1 image-text">担当 /</div>
                                                 <div class="col-xs-9 text-deteil">
                                                        Cast关注那些被遗弃在角落的用户习惯，模块化的生产理念实际上基于生活中的真实场景，操控逻辑则来自上百次场景模拟和测试，以保证
                                                    手机、手表、投影的等功能协调自然的融合在一起，而非简单意义的拼接。目的是带来与众不同、生动有趣，而非
                                                索然无味、如嚼鸡肋的用户体验 。                                           
                                            </div>
                                            <div class="col-xs-1 image-text text-right"> 08/<span>09</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!-- slider 8 end-->
                                <div class="swiper-slide">
                                        <div class="sider sider8">
                                            <div class="sider-text">
                                                <div class="container">
                                                    <div class="col-xs-1 image-text">卓越 /</div>
                                                     <div class="col-xs-9 text-deteil">
                                                            独乐乐不如众乐乐，分享快乐、成长、协作精神的过程才是真正意义上的卓越。                                          
                                                </div>
                                                <div class="col-xs-1 image-text text-right"> 09/<span>09</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <!-- slider 9 end-->
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-warp container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<div class="container  ">
    <div class="row  "> 
      <div class="col-sm-12 col-md-12 col-lg-12">
         {{product.detail|safe}}
      </div> 
    </div>
</div>  
{% endblock%}
{% block js %} 
<script type="text/javascript " src="/static/js/swiper-3.4.2.jquery.min.js "></script>
<script src="/static/page/js/aboutus.js"></script>
{% endblock %}