<div class="grey f16">新闻&nbsp;标签</div>
<div class="label_list">
    {% for label in labels_list %}
    <span class="span_label grey">{{label}}</span>
    {% endfor %} 
</div>

 
<div class="subscribe orange-bg">
   <h2 class="white">订阅ASU</h2>
   <p  class="white">第一时间获得我们的更新和新服务信息</p>
   <input type="text" class="name sub_input" id="sub_name" placeholder="姓名" value=""/>
   <br/><br/>
   <input type="text" class="email sub_input" id="sub_email" placeholder="您的电子邮箱" value=""/>
   <br/><br/>
   <table>
       <tr>
           <td><input type="checkbox" class="agreement sub_input" id="sub_agreement" /></td>
           <td class="sub_tb">
                <span class="white">输入您的电子邮件表示您接受我们的<a href="javascript:;" class="white a_agreement">条款和条件</a>
                </span>
           </td>
        </tr>
        <tr>
            <td></td>
            <td class="sub_tb">
                <input type="button" class="btn_sub orange" id="sub" value="立即订阅" />
            </td>
        </tr>
    </table> 
   <br/> 
</div>
<div class="grey f16 social">社交&nbsp;媒体</div>
<div class="label_list">
     <table>
         <tr>
             <td>
                 <img class="grey" src="/static/img/page"/>
             </td>
             <td>
                 <p class="grey">Yutobe</p>
             </td>
         </tr>
     </table>
</div>