{% extends 'm_base.html' %} 
{% load i18n %}
{% block pagetitle%}{% trans 'About Us' %}{% endblock%}
{% block css %}
<link href="/static/page/css/m_pagebase.css" rel="stylesheet">
<link href="/static/page/css/m_aboutus.css" rel="stylesheet">
<style>
    .top-slide{
        background-image: url('{{mediaroot}}{{page.pic|safe}}');
    }
</style>
 {% endblock %}
{% block content %}
<div class="top-slide">
  </div> 
<div class=" container-title" >
    <div class="container ">
        <div class="items_holder">
                    <h2 class="title orange">{{product.title}} </h2>
                     
                    <a href="/">{% trans 'Home' %}</a>
                    <span>/&nbsp;ASU {% trans 'Brand' %}</span> 
                    <span>/&nbsp;{{product.title}}</span> 
        </div> 
    </div> 
</div>
<div class="container m60 aboutuscontent">
    <br/><br/>
    <div class="row  "> 
      <div class="col-xs-12">
         {{product.detail|safe}}
      </div>
    </div>
</div>  
{% endblock%}
{% block js %} 
{% endblock %}