{% extends 'm_base.html' %}
{% load i18n %}
{% block footer%}{% endblock%}
{% block pagetitle%}ASU理念{% endblock%}
{% block css %}
<link rel="stylesheet" href="/static/css/swiper.css">
<link href="/static/page/css/m_pagebase.css" rel="stylesheet">
<link href="/static/page/css/m_aboutus.css" rel="stylesheet">

 {% endblock %}
{% block content %}
<section class="main">
    <div class="text-left image-text main-text">
            <h2 class="fs40">Interactive of Everything</h2>
            <p class="f16 l2">以“造物者”的初心接受所有，保持敞开，<br/>充满激情，对无限可能的未来，
                笃实而虔诚。<br/>改变的是过程，不变的是心态。<br/>前方，永远都是新的起点！</p>
            <h1 class="fs40">Aspiration</h1>
            <p class="f16 l2">强烈愿望表现为真诚的态度，感动的情绪，正确的表达</p>
    </div>
    <div id="to_next" class="down text-center">
        <img src="/static/img/icon/down.svg" />
    </div>
</section>
<div class="swiper-container row">
    <div class="swiper-wrapper">
            <div class="swiper-slide">
                    <div class="sider sider2">
                        <div class="sider-text">
                            <div class="container">
                                <div class="image-text">真诚&nbsp;/&nbsp;</div>
                                 <div class="text-deteil">对用户而言，无论是外形还是交互方式，都是一种全新的产品体验。在产品研发过程中，将“真实”的态度与每一处细节的真材实料融合，将“诚恳”的情感与用户每一次接触感触联接，使产品更加真实易懂。
                                 </div>
                                 
                            </div>
                        </div>
                    </div>
                </div>
        <div class="swiper-slide">
            <div class="sider sider0">
                <div class="sider-text">
                    <div class="container">
                        <div class="image-text">共赢&nbsp;/&nbsp;</div>
                         <div class="text-deteil">只有打动自己的设计才会吸引用户，只有做到让用户带着欣赏的眼光使用一款产品，才会触发他们心中最原始的感动。腕投从形式和功能上追求
                                一种和谐，凡用户能看到、接触的任何细节，都不敢逊色！
                         </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- slider 1 end-->
        <div class="swiper-slide">
            <div class="sider sider1">
                <div class="sider-text">
                    <div class="container">
                        <div class="image-text">坚持&nbsp;/&nbsp;</div>
                         <div class="text-deteil">
                                独乐乐不如众乐乐，分享快乐、成长、协作精神的过程才是真正意义上的卓越。
                         </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- slider 2 end-->
        
         <div class="swiper-slide">
                <div class="sider sider3">
                    <div class="sider-text">
                        <div class="container">
                            <div class="image-text">正确 /</div>
                             <div class="text-deteil">
                                    时尚流行的外观设计，简洁的交互界面，清晰的功能逻辑，时尚的外观设计，流畅的操控体验或许都能成为定义正确的标准，但归根到底， 判
                                    断的唯一标准是让客户感到“舒适”。
                             </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider 3 end-->
            
                <!-- slider 4 end-->
                <div class="swiper-slide">
                        <div class="sider sider4">
                            <div class="sider-text">
                                <div class="container">
                                                <div class="image-text">创新 /</div>
                                                 <div class="text-deteil">
                                                        从光机到电子组件排列方式，Asu watch似乎已经找到了一套符合自身发展的算法，同时也给未来留出了很多遐想的空间。                                             </div>
                                                
                                         
                                   <!--   -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- slider 5 end-->
                        
                        <div class="swiper-slide">
                                <div class="sider sider6">
                                    <div class="sider-text">
                                        <div class="container">
                                                <div class="image-text">精准 /</div>
                                                <div class="text-deteil">
                                                       Asu watch产品的设计师需要具备完美的把控能力，而这种精确到“毫米”的能力不仅仅是对产品的认知力，更多源于对用户感受的“理解”。确
                                                       保每一次切割的数据化，线条轮廓中将人体工程设计与自然美学无缝连接。
                                                </div>
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                          <!-- slider 6 end-->
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-warp container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<div class="container  ">
    <div class="row  "> 
      <div class="col-sm-12 col-md-12 col-lg-12">
         {{product.detail|safe}}
      </div> 
    </div>
</div>  
{% endblock%}
{% block js %}
<script type="text/javascript " src="/static/js/swiper-3.4.2.jquery.min.js "></script>
<script src="/static/page/js/m_aboutus.js"></script>
{% endblock %}