<table class="pagination">
        <tr>
            <td>
                <div class="pagination_circle orange  ">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </div>
            </td>

            <td>
                <div class="pagination_circle pagination-active">
                    1
                </div>
            </td>

            <td>
                <div class="pagination_circle orange  ">
                    2
                </div>
            </td>
            <td>
                <div class="pagination_circle orange  ">
                    3
                </div>
            </td>

            <td>
                <div class="pagination_circle orange  ">
                    4
                </div>
            </td>
            <td>
                    <div class="pagination_circle orange  ">
                        5
                    </div>
                </td>
            <td>
                <div class="pagination_circle orange">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </div>
            </td>
        </tr>
    </table>