{% extends 'base.html' %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% load i18n %}
{% block pagetitle%}{{contentblock.title}}{% endblock%}
{% block css %}
<link rel="stylesheet" href="/static/css/swiper.css">
<link href="/static/page/css/pagebase.css" rel="stylesheet">
<link href="/static/page/css/picture.css" rel="stylesheet"> 
<script src="/static/page/js/picture.js" type="text/javascript"></script>
 {% endblock %}
{% block content %}

<div class=" container-title" >
    <div class="container ">
        <div class="items_holder">
                    <h2 class="title orange">{{page.block.title}} </h2> 
                    <a href="/">{% trans 'Home' %}</a>
                    <a href="javasrcipt:;">/&nbsp;{% trans 'News Center' %}</a> 
                    <a href="javasrcipt:;">/&nbsp;{{page.block.title}}</a> 
        </div> 
    </div> 
</div>
<div class="container pic-list">
    <div class="row  "> 
            <div class="swiper-container swiper1"  id="swiper1">
                    <div class="swiper-wrapper">
                            {% for page in pages %} 
                            {% if page.mark == 'top' %}
                             <!--顶部大图-->
                        <div class="swiper-slide">
                                    <img class="active-img" src="{{mediaroot}}{{page.pic}}"/>
                                <p>{{page.date| date:"Y-m-d"}}</p> 
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination swiper-pagination-top"></div>
            </div>
    </div>
    <div class="row  ">  
        <div class="col-xs-12 gray">
            {% trans 'Product' %}
        </div> 
        <div class="col-xs-12 swiper-col">
            <div class="swiper-container swiper2" id="swiper2">
                    <div class="swiper-wrapper">
                        {% for page in pages %} 
                            {% if page.mark == 'product' %}
                        <div class="swiper-slide"><img class="active-img" src="{{mediaroot}}{{page.pic}}"/></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- 如果需要导航按钮 -->
                    <div class="swiper-button-prev swiper-button-prev-line1"></div>
                    <div class="swiper-button-next swiper-button-next-line1"></div>
            </div>
       </div>      
    </div>
    <div class="row">  
                <div class="col-xs-12 gray">
                    {% trans 'Brand' %}
                </div> 
                <div class="col-xs-12 swiper-col">
                        <div class="swiper-container swiper3" id="swiper3">
                            <div class="swiper-wrapper">
                                {% for page in pages %} 
                                    {% if page.mark == 'brand' %}
                                <div class="swiper-slide"><img class="active-img" src="{{mediaroot}}{{page.pic}}"/></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev swiper-button-prev-line2"></div>
                            <div class="swiper-button-next swiper-button-next-line2" ></div>
                        </div>
                </div>
    </div>
    <div class="row">  
                <div class="col-xs-12 gray">
                    {% trans 'Active' %}
                </div> 
                <div class="col-xs-12 swiper-col">
                    <div class="swiper-container swiper4" id="swiper4">
                            <div class="swiper-wrapper">
                            {% for page in pages %} 
                            {% if page.mark == 'active' %}
                                        <div class="swiper-slide">
                                            <img class="active-img" src="{{mediaroot}}{{page.pic}}"/>
                                        </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev swiper-button-prev-line3"></div>
                            <div class="swiper-button-next swiper-button-next-line3"></div>
                    </div>
                </div> 
    </div>
</div>
<div class="high_definition text-center">
       <img class="close" src="/static/img/icon/w_close.svg" />
       <!-- <img id="back" src="/static/img/icon/back.svg"/>
       <img id="more" src="/static/img/icon/more.svg"/> -->
       <img id="pic_wall" src="">
</div>   
{% endblock%}
{% block js %} 
<script type="text/javascript " src="/static/js/swiper-3.4.2.jquery.min.js "></script>
<script>
    var swiper1 = new Swiper('.swiper11', {
    
    paginationClickable: true,
});
var swiper2 = new Swiper('.swiper22', {
    
    paginationClickable: true,
});
    $(document).ready(function() {
        var swiper1 = new Swiper('.swiper1', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            loop: true,
            preventClicks : false,
            autoplay: 5000,
        });
         
        var swiper2 = new Swiper('.swiper2', {
            loop: true, 
            nextButton: '.swiper-button-next-line1',
            prevButton: '.swiper-button-prev-line1',  
            slidesPerView : 3,
            /* 居中 */
            centeredSlides: true, 
            /* 点击事件 */
            preventClicks : false,
            spaceBetween : 10,
        });
        var swiper3 = new Swiper('.swiper3', {
            loop: true,
            nextButton: '.swiper-button-next-line2',
            prevButton: '.swiper-button-prev-line2', 
            slidesPerView : 3,
            /* 3d效果 */
            /* effect : 'coverflow',
            slidesPerView: 3,*/
            centeredSlides: true, 
            /* 点击事件 */
            preventClicks : false,
            /* 间隙 */
            spaceBetween : 10,
        });
        var swiper4 = new Swiper('.swiper4', {
            loop: true,
            nextButton: '.swiper-button-next-line3',
            prevButton: '.swiper-button-prev-line3', 
            slidesPerView : 3,
            centeredSlides: true, 
            /* 点击事件 */
            preventClicks : false,
            spaceBetween : 10,
        });
    });
</script>
{% endblock %}