{% extends 'base.html' %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% load i18n %}
{% block pagetitle%}{{contentblock.title}}{% endblock%}
{% block css %}
<link href="/static/css/pagination.css"  rel="stylesheet">
<link href="/static/page/css/pagebase.css" rel="stylesheet">
<link href="/static/page/css/active.css" rel="stylesheet">
<link href="/static/page/css/news.css" rel="stylesheet">  
<link href="/static/page/css/report.css" rel="stylesheet">  
 {% endblock %}
{% block content %}

<div class=" container-title" >
    <div class="container ">
        <div class="items_holder">
                    <h2 class="title orange">{{contentblock.title}} </h2> 
                    <a href="/">{% trans 'Home' %}</a>
                    <a href="javasrcipt:;">/&nbsp;{% trans 'News Center' %}</a> 
                    <a href="javasrcipt:;">/&nbsp;{{contentblock.title}}</a> 
        </div> 
    </div> 
</div>
<div class="container new-list mb-60">
    <div class="row"> 
            <div class="col-xs-8">
                <div class="row">

                
                    {% for page in pages %} 
                        {% if page.mark == 'bigimg' %}
                        <!--顶部大图-->
                            <div class="col-xs-12"> 
                                    <div class="img-holder">
                                        <img class="active-img" src="{{mediaroot}}{{page.pic}}"/>
                                    </div>
                                    <a class="img_title orange" href="{{page.url}}" title="{{page.title}}">{{page.title}}</a>
                                    <p>{{page.date| date:"Y-m-d"}}</p> 
                            </div> 
                        {% endif %}
                    {% endfor %}

                    {% for page in pages %} 
                        <div class="col-xs-5 mb40"> 
                                <div class="img-holder">
                                    <img class="news-img" src="{{mediaroot}}{{page.pic}}"/>
                                </div>
                                <a class="img_title orange text-overflow" href="{{page.url}}" title="{{page.title}}">{{page.title}}</a>
                                <p class="grey">{{page.date| date:"Y-m-d"}}</p> 
                        </div> 
                    {% endfor %}
                
                    <div class="col-xs-12 text-center">
                            <table class="pagination">
                                    <tr>
                                        <td>
                                            <div class="pagination_circle orange  ">
                                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                            </div>
                                        </td>
        
                                        <td>
                                            <div class="pagination_circle pagination-active">
                                                1
                                            </div>
                                        </td>
        
                                        <td>
                                            <div class="pagination_circle orange  ">
                                                2
                                            </div>
                                        </td>
                                        <td>
                                            <div class="pagination_circle orange  ">
                                                3
                                            </div>
                                        </td>
        
                                        <td>
                                            <div class="pagination_circle orange  ">
                                                4
                                            </div>
                                        </td>
                                        <td>
                                                <div class="pagination_circle orange  ">
                                                    5
                                                </div>
                                            </td>
                                        <td>
                                            <div class="pagination_circle orange">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                    </div>
            </div>
        </div>
        <!-- 新闻列表结束 -->
        <div class="col-xs-4 news-lable">
            {% include 'page/label.html' %}
        </div>
    </div>
</div>  
{% endblock%}
{% block js %} 
<script src="/static/page/js/report.js"></script>
{% endblock %}