  {% extends 'base.html' %}
{% load i18n %}
{% block pagetitle%}{{contentblock.title}}{% endblock%}
{% block css %}
<link href="/static/page/css/pagebase.css" rel="stylesheet">
<link href="/static/page/css/server.css" rel="stylesheet">
<style>
        .top-slide{
          background-image: url('/static/img/new.png');
        }
</style>
 {% endblock %}
{% block content %}
<div class="top-slide"> 
    <div class="white">
      <h2 >{% trans '真诚服务， 如友相伴' %}</h2> 
      <h5 >{% trans '欢迎使用我们的产品' %}</h5>
    </div>
  </div> 
<div class=" container-title" >
    <div class="container ">
        <div class="items_holder">
                    <h2 class="title orange">{{contentblock.title}} </h2>
                    <a href="/">{% trans 'Home' %}</a>
                    <a href="javasrcipt:;">/{% trans 'Service' %}</a> 
                    <a href="javasrcipt:;">/{{contentblock.title}}</a> 
        </div> 
    </div> 
</div>
<div class="container links text-center">
  <div class="row">
        <div class="col-xs-3">
          <a href="/dept/list/?servicesearch"><img src="/static/img/icon/chaxun.svg" alt="icon" title="服务网点查询">
            <div>服务网点查询</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="javascript:;"><img src="/static/img/icon/yuyue.svg" alt="icon" title="预约服务">
            <div>预约服务</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="javascript:;"><img src="/static/img/icon/jindu.svg" alt="icon" title="维修进度查询">
            <div>维修进度查询</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="javascript:;"><img src="/static/img/icon/zhenwei.svg" alt="icon" title="查询真伪">
            <div>查询真伪</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="javascript:;"><img src="/static/img/icon/baoxiu.svg" alt="icon" title="保修政策">
            <div>保修政策</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="javascript:;"><img src="/static/img/icon/jixiu.svg" alt="icon" title="寄修服务">
            <div>寄修服务</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="javascript:;"><img src="/static/img/icon/dingdan.svg" alt="icon" title="订单服务">
            <div>订单服务</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="javascript:;"><img src="/static/img/icon/kefu.svg" alt="icon" title="在线客服">
            <div>在线客服</div>
          </a>
        </div>
  </div>
</div>  
<!-- 下部列表 -->
<!-- <div class="container" >
  <div class="row">
     <div class="col-xs-6">
       <ul>
         <li class="clearfix">
           <div class="pull-left">热点为题</div>
           <a class="pull-left" href="javascript:;">查看更多</a>
         </li>
         <li><a class="pull-left" href="javascript:;">什么是儿童空间？如何操作？</a></li>
         <li><a class="pull-left" href="javascript:;">什么是儿童空间？如何操作？</a></li>
       </ul>
     </div>
     <div class="col-xs-6"></div>
  </div>
</div>   -->  
{% endblock%}
{% block js %} 
{% endblock %}
