.orange{
    color:#ea5014
}
.grey{
    color: rgb(181, 182, 182);
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}
/* 菜单设置开始*/
.menu, .menu-holder{
    min-height: 60px;
    line-height: 60px; 
    width: 100%;
}
.menu table
{
     min-height: 60px;
    line-height: 60px;
    margin: 20px auto;
    
}
.menu a{
    font-size: 14px;
    color: rgb(181, 182, 182);
}

.menu a:hover, .a_img:hover{
    text-decoration: none;
    
}

.menu td{
    line-height: 40px;
}
.menu-list td{
    padding: 0 15px;
}
.menu-list td:last-child{
    padding-right:0px!important;
}

.menu td a{
    width: 40px;
}

.menu td.small-padding{
    padding: 0 10px;
    line-height: 40px;
}

.menu .td_mall
{
    width: 60px;
    height: 60px;
    padding:0;
    border-radius: 30px;
    background-color: #ea5014;
}
.menu-unfixed
{
    position: static !important;
}


.orange-bg
{
    background-color: #ea5014;
}
.menu  .td_mall a{
        margin-left: 13px;
}

.point{
    width: 5px;
    height:5px;
    border-radius: 50%;
    margin: 0 auto;
    background-color:rgb(181, 182, 182);
}

.bottom-line{
    position: relative;
    top: -31px;
    overflow: hidden;
    border-top: 1px solid rgb(181, 182, 182);
z-index: -1;
}

.menu .active *{
    color: #ea5014;
    
}
.menu .active .point{
    background-color: #ea5014;
}
/* 菜单设置结束*/

.common-btn {
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 100px;
}
.btn-text-white{
    color:white;
}
a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    
}
a:visited,a:hover,a:active{
color: #ea5014;
}
a:focus{
    outline: none;
}
.f-logo{
    width: 14px;
    height: 16px;
    vertical-align:sub;
}
.store_sec_menu, .sec_menu
{
    position: absolute;
    top: 70px;
    right: 230px;
    z-index: 10;
}
.product_sec_menu
{
    top: 70px;
    right: 25%;
}
.a_img
{ 
    cursor:pointer;
    width: 100px;
    height: 60px;
    margin: 0 10px;
}

.panel-body-transparent
{
    background-color: rgba(0,0,0,0);
    border:none;
    z-index: 1000;
}

.td-bar-point
{
    height: 40px;
    line-height: 40px;
    display: inline-flex;
}
 
.bar-point
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    margin:0px auto;
    margin-left: 5px;
    
}
.bar-table tr{
    line-height: 45px;
}
.sidemenu
{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 5px;
}

.td_onlin
{
    max-width: 100px;
}
.online-div
{
    text-align: center;
}
.online-img
{
    width: 100px;
    height: 30px;
}
.right-sider-bar
{
    position: fixed;
    right: 0;
    bottom: 40px;
    right: 20px;
    z-index: 2;
} 
.bar-table td {
    text-align: center;
    margin: 0 auto;
}

.bar-table td a, .swiper-slide a {
    color: white;
}

.scroll-up, .scroll-down{
    width: 33px;
    height: 33px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    margin:5px 0;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    cursor: pointer;
}
.store_sec_menu, .sec_menu 
{
    -webkit-box-shadow: none;
    box-shadow: none;
}



.circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

.logo
{
    height: 34px;
}
 
td.td-bar-point
{ 
    display: block;
    width: 70px;
    text-align: right;
    margin-top: 5px;
}
.second_menu_holder
{
    width: 100%;
    background-color:#d6d6d6;
}

.fa-search
{
    color:#d6d6d6;
}
.container-fluid{
    padding: 0px;
}
.container{
    width: 1200px!important;
}
.container-center
{
    text-align: center;
    margin: 0 auto;
}
.menu-holder{
    position: fixed;
    top: 0;
    z-index: 10; 
}
footer .pull-left{
    font-size: 12px;
    
    color: #fff;
    z-index:1000 ;
}
footer .round-btn{
    display: inline-block!important;
    width: 24px;
    height: 24px;
    padding: 4px;
    background-color: #fff;
    border-radius: 50%;
    color: rgb(181, 182, 182)!important;
    text-align: center;
}
.round-btn i{
    font-size: 12px;
}
footer{
    height: 50px;
    font-size: 12px;
    width: 100%;
    color: #fff;
    background-color:rgb(143, 144, 146);
    z-index: 1000;
    padding:15px 0;
}
.fixed_menu_class {
    position: unset !important;
    overflow: hidden;
    background-color: rgb(52, 52, 52);
}
.btn-list li img,.hide-menu img{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.fixed_menu_class .bottom-line{
        z-index: unset;
}
.error{
    border: #ea5014;
}

.grey-btn{
    color:#333;
    background-color: #e5e5e5;
}
.white{
    color: #fff;
}