.img360-text{
    margin-bottom: 20px !important;
}
.img360-text img{
    margin-bottom: 20px;
}
.menu-right tr td{
     width: 100px;
}

.linkitems tr:first-child{
    line-height: 30px !important;
}

.linkitems a {
    line-height: 80px !important;
    font-size: 18px !important;
}
.linkitems{
    padding: 0!important;
}
@media screen and (min-width:1500px){
    .img360-text{
        margin-bottom: 60px !important;
    }
    .img360-text img{
        margin-bottom: 60px;
    }
  }
  .fs40{
      font-size:40px;
      line-height: 1;
  }