footer{
    height: 40px;
    width: 100%;
    color: #fff;
    background-color:rgb(143, 144, 146);
    z-index: 1000;
}

table .first{ 
    font-size: 14px;
    color: #6c6c6c;
}

.linkitems a
{
    font-size: 12px;
    color:rgb(181, 182, 182);
}

.linkitems tr{
    line-height:22px;
}
.linkitems tr:first-child{
    line-height:46px;
}

.linkitems
{
    padding: 5px 0 40px;
   background-color:rgb(249, 249, 249);
}
.lable{
    color: #fff;
    background-color: #ea5014;
    padding: 0px 4px;
    position: relative;
    font-size:10px;
    border-radius: 4px;
}
.lable:after{
    content:'';
    position:absolute;
    top:100%;
    left:4px;
    width:0; height:0;
    border-width:2px;
    border-style:solid; 
    border-color:#ea5014 transparent transparent #ea5014;
}
.linkitems td{
    min-width: 110px;
}
.linkitems td.td_online{
    min-width: 240px!important;
}
footer a{
    color: inherit;
    margin-left: 10px;
}

footer a:hover{
    color: inherit;
}
.linkitems table.container{
    padding:0 15px!important;
    display: block;
    overflow: hidden;
}

.phone
{   
    color: #6c6c6c;
    font-size: 18px;
}

.qrcode img{
    width: 100%;
}
.qrcode{
    width: 114px;
   /*  background-color: rgb(226, 227, 227); */
    position: relative;
    margin-left: 42px;
}
/* .qrcode::before{
    width: 60px;
    height: 20px;
    background-color: rgb(226, 227, 227);
    content: '';
    position: absolute;
    bottom: 100%;
    left: 20px;
}
.qrcode::after{
    width: 60px;
    height: 20px;
    background-color: rgb(226, 227, 227);
    content: '';
    position: absolute;
    top: 100%;
    left: 20px; 
} */
.online-div{
    line-height: initial!important;
    font-size: 12px;
}
a.custom-service{
    color: #ea5014;
    padding: 6px 12px;
    border: 1px solid #ea5014;
    font-size: 12px;
}
a.custom-service:link{
    color: #ea5014;
}
.custom-service img{
    height: 18px;
    margin-bottom: 3px;
}
footer a.round-btn{
    display: block;
    float: left;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #fff;
}
footer .round-btn img{
    height: 13px;
    max-width: 13px;
    line-height: 40px;
    vertical-align: text-top;
    padding: 1px;
}
footer .pull-left{
    font-size: 10px;
    color: #fff;
    z-index:1000 ;
    line-height: 40px;
}
footer .pull-right{
padding-top: 14px;
text-align: center;
}
.online-div p{
    margin: 6px 0 14px;
}
/* 群二维码样式 */
.code{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 240px;
    padding: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    z-index: 1002;
    background-color: #fff;
  }
  .code>div:first-child{
    padding: 0 8px 10px;
    border-bottom: 1px solid #ddd;
  }
  .code>img{
    width: 100%;
    height: auto;
  }
  .close_code{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .close_code:hover{
    opacity: .8;
  }
  .code-bg{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .6;
    background-color: #000;
    z-index: 1001;
  }
  .code-wrap{
    display: none;
  }
  #qq_group{
      cursor: pointer;
  }
  .fs12{
      font-size: 12px;
      padding: 0 15px 10px;
  }