/* 通用 */
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}


/* 菜单 */
nav img{
    height: 20px;
}

nav a{
    color: #b5b5b5;
}
nav>div{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(51, 51, 51);
}
body{
    width: 100%!important;
}
nav ul{
    background-color: #fff;
    padding-bottom: 15px;
}
nav li{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
nav .col-xs-3 img{
    height: 18px;
    padding: 1px 0;
}
nav ul{
    display: none;
}