/* base */
@base-color:rgb(234,80,20);
//间隙
.round{
    border-radius: 50%;
}
.ml10{
    margin-left: 10px;
}
.common-btn{
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.a-style{
    text-decoration: none;
    outline: none;
    color: inherit;
}
ul{
    padding: 0px;
    margin: 0px;
}
li{
    list-style-type: none;
}
a:link,a:hover,a:focus,a:visited{
    .a-style;
}

/* deteil */

.p_title{
    font-size: 24px;
}
section {
    position: relative;
    background-attachment:fixed;
    background-size: 100% 100%;
    &.sec1-show{
        background: url(/static/img/product/sc1.jpg) no-repeat center;
      } 
    
      &.sec1-hide{
        background: url(/static/img/product/sc1hide.jpg) no-repeat center;
      } 
      &.sec2-show{
        background: url(/static/img/product/sc2.jpg) no-repeat center;
      } 
      &.sec2-hide{
        background: url(/static/img/product/sc2hide.jpg) no-repeat center;
      } 
      &.sec3-show{
        background: url(/static/img/product/sc3.jpg) no-repeat center;
      } 
      &.sec3-hide{
        background: url(/static/img/product/sc3hide.jpg) no-repeat center;
      } 
      &.sec4-show{
        background: url(/static/img/product/sc4.jpg) no-repeat center;
      } 
      &.sec4-hide{
        background: url(/static/img/product/sc4hide.jpg) no-repeat center;
      } 
  }
  