/* base */
@base-color:rgb(234,80,20);
@grey-font:#6c6c6c;
.fixed-position{
    position: relative;
}
//间隙
.round{
    border-radius: 50%;
}
.ml10{
    margin-left: 10px;
}
.common-btn{
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.a-style{
    text-decoration: none;
    outline: none;
}
ul{
    padding: 0px;
    margin: 0px;
}
li{ 
    list-style-type: none;
}
a:link,a:hover,a:focus,a:visited{
    .a-style;
}

/* deteil */

.menu-holder{
    background-color: rgb(53, 53, 53);
}
.bottom-line{
    z-index: unset;
}

    section.main {
        padding-top: 100px;
        position: relative;
        background-attachment: fixed;
        background-size: 100% 100%;
        background: url(/static/img/idea/main.jpg) no-repeat center;
        color: #fff;
      }
    .down{
        width: 100%;
        position: absolute;
        bottom: 30px;
        text-align: center;
        img{
            width: 30px;
        }
    }
    
    .sider {
        height: 100%;
        width: 100%;
        background-attachment:fixed;
        background-size: auto 100%!important;
      }
      .sider0{
        background: url(/static/img/idea/slider1.jpg) no-repeat center;
      }
      .f12{
          font-size: 12px;
      }
      .sider-text{
        font-size: 32px;
        background-color: rgb(122, 122, 122);
        color: #fff;
        position: absolute;
        bottom: 0px;
        width: 100%;
        line-height: 30px;
        .container{
            padding: 30px 15px;
            height: 90px;
            div{
                padding: 0px;
                span{
                    font-size: 14px;
                }
            }
            .text-deteil{
                font-size: 12px;
                line-height: 1.2;
            }
        }
      }
      .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
          bottom: 120px;
      }
      .swiper-wrapper{
          padding-bottom: 90px;
      }