/* base */
@base-color:#ea5014;
@grey:#b5b6b6;
@grey-more:#6c6c6c;
@border-color:#ddd;
//定位
.relative{
    position: relative;
}
//圆角
.radius (@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
  }
  
/* deteil */
.items_holder{
    h2{
        margin-top: 26px;
        margin-bottom: 6px;
    }
}
.top-slide{
    padding: 90px 0 0!important;
    .relative
}
.top-slide .white{
    padding-left: 334px;
 }
.links{
    padding: 40px 160px;
    .col-xs-3{
        padding: 15px;
        a
        {
            display:block;
            padding: 20px 0px;
        background-color: #f7f8f9;
        .radius(8px);
        color: inherit;
        img{
            width: 46px;
            height:56px;
            margin-bottom: 10px;
        }
        }
    }
}
.menu-holder{
    position: absolute;
}