body{
    background-color: rgb(239, 239, 239);
    position: relative;
    min-height: 500px;
}
li {
    display: inline;
}

button.btn-block:hover{
    color: #eee;
}

form#signup-Form {
width: 30%;
width: 100%;
margin: 0 auto;
}

button.btn {
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}



label.error {
    color: #d9534f;
    margin: 0px;
}

input.error {
    border-color: #d9534f;
}
.login-wrap{
    width: 340px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 25px 30px 25px;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(114, 114, 114);
}
.login-wrap header img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.loginform img{
    width: 20px;
    position: absolute;
    left: 2px;
    bottom:8px;
}
label{
    position: absolute;
    top: 100%;
    left: 2px;
}
.loginform input{
    position: relative;
    width: 100%;
    padding: 0 10px 4px 36px;
    border: 1px solid;
    border-color:transparent transparent #ddd transparent;
    outline: 0px;
    background-color: #fff!important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff!important;
}
input[type=checkbox], input[type=radio]{
    vertical-align: middle;
    margin:0 2px 2px 0;
}
.links{
    padding: 15px 0 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.links a{
    color: #333;
}
.links a:last-child{
    padding: 0 5px ;
    margin-right: 5px;
    border-right: 1px solid #ddd;
}
.otherwise a{
    display: inline-block;
    color: #fff;
}
.otherwise a .fa
{
    background-color: #b5b6b6;
    padding: 5px;
    border-radius: 50%;
    font-size: 12px;
    width: 22px;
    height: 22px;
}
.relative{
    position: relative;
    margin-bottom: 30px;
}
footer{
    position: fixed;
    bottom: 0px;
}
.login-wrap h4{
    margin-bottom: 50px;
}
button[type=submit]{
    letter-spacing: 10px;
}
.links a{
    color: #ea5014;
}