{% extends 'base.html' %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% load i18n %}
{% block pagetitle%}修改商品信息{% endblock%}
 {% block css %}
<link href="/static/products/css/change.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/static/css/HoldOn.css">  {% endblock %} 
{% block content %}
<form action="" method="post">
    {%csrf_token%} 
    <input type="hidden" name="method" value="detail_file" /> 
    {% if product %}
    <input type="hidden" name="productid" id="productid" value="{{product.id}}" /> 
    {% endif %}
</form>

<section>
    <!-- 路径导航 -->
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="{% url 'product:products' %}">商品列表</a></li>
        <li class="active">发布商品</li>
        <div class="title">修改商品信息</div>
    </ol>

    <div  class="form-horizontal">
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">商品类型：</label>
            <div class="col-sm-4">
                <select class="form-control " id="sel-category">
                    {% for category in categories %}
                           {% if product.category.id == category.id %}
                                <option value ="{{category.id}}" selected="selected">{{category.name}}</option>
                                {% else %}
                                <option value ="{{category.id}}"  >{{category.name}}</option>
                           {% endif %}
                    {% endfor%}
                </select>
            </div>
            <label for="id" class="col-sm-2 control-label">商品名称：
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="title" id="title" value="{{product.title}}" placeholder="">
            </div>

        </div>
        
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">{% trans 'Product Detail' %}:</label>
            <div class="col-sm-10 ta-wrap">
                <input type="text" class="form-control" name="desc" value="{{product.description|default:''}}" id="desc" placeholder="">
                <span>0/50</span>
            </div>

        </div>
        
        <div class="form-group">
            <label for="message" class="col-sm-2 control-label">商品详情：</label>
            <div class="col-sm-10">
                {{ form.as_p }} 
            </div>

        </div>

        <div class="form-group">
                <label for="message" class="col-sm-2 control-label">淘宝地址：</label>
                <div class="col-sm-10">
                        <input type="text" class="form-control"   value="{{product.taobaourl|default:''}}" id="taobaourl" placeholder="">
                </div>
    
        </div>
        

    </div>
    <div class="msg "> </div>
    <div class="submit"> 
        <span class="btn-group " role="group " aria-label="... ">
            <button type="button" class="btn btn-primary product-btn " status="1 ">发布</button>
            <button type="button " class="btn btn-default product-btn " status="0 ">存草稿</button>
            <button type="button " class="btn btn-default ">
            <i class="fa fa-file-text-o " aria-hidden="true "></i>
        </button>
     </span>
    </div>
</section>
{% endblock %} {% block js %} 
{{ form.media }} 
<script type="text/javascript" src="/static/js/HoldOn.min.js"></script>
{% if product %}
 
{% endif %}
<script>
 
</script>
<script src="/static/products/js/change.js " rel="stylesheet "></script>
 
{% endblock %}