{% extends 'base.html' %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}商品列表{% endblock%} 
{% block css %} {% load staticfiles %}
<link href="/static/products/css/list.css" rel="stylesheet">
{% endblock %} {% block content %}
<div class="container mb-60">
    <!-- 路径导航 -->
    <div class="breadcrumb m60">
        <form class="text-center">
                    <input class="search-val" type="search" name="keywords" placeholder="搜索管理内容">
                    <button class="btn-search" type="submit" title="点击搜索"><i class="fa fa-search orange" aria-hidden="true"></i></button>
        </form>
        <div class="active">搜索结果:</div>
    </div>
 
        <div class="row row_margin">
            {% for product in products %}
            <div class="col-xs-3">
                    <div class="thumbnail"> 
                        <div class="caption">
                            <h4><a href="{% url 'product:detail' product.id %}" >{{product.title}}</a></h4>
                        </div>
                        <a class="orange" href="{% url 'product:change' product.id %}" target="__blank">修改</a>
                    </div>
            </div>
            {% endfor %} 
        </div>
    </div>

{% endblock %} 
{% block js %}
<script type="text/javascript" src="/static/js/list.js"></script> 
{% endblock %}