{% extends 'm_base.html' %}  
{% load i18n %}
{% block css %}
<link href="/static/page/css/m_pagebase.css" rel="stylesheet">
<link href="/static/products/css/m_products.css" rel="stylesheet"> 
<link href="/static/page/css/report.css" rel="stylesheet">  
{% endblock %}
 {% block content %}
<input type="hidden" id="productid" value="{{product.id}}" />
<div class=" container-title" >
        <div class="container ">
            <div class="items_holder">
                {% if page %}
                        <h2 class="title orange">精彩活动</h2> 
                        <a href="/">{% trans 'Home' %}</a>
                        <span>/&nbsp;ASU品牌</span> 
                        <span>/&nbsp;精彩活动{{contentblock.title}}</span> 
                     {% else %}
                        <h2 class="title orange">新闻</h2> 
                        <a href="/">{% trans 'Home' %}</a>
                        <span>/&nbsp;{% trans 'News Center' %}</span> 
                        <span>/&nbsp;新闻{{contentblock.title}}</span> 
                    {% endif %}
            </div> 
        </div>  
    </div>
<div class="container m30">


    <!-- 商品信息和评价 -->
    <div class="row">
         
    
        <div id="myTabContent" class="tab-content">
            <!-- 商品详情 -->
            <div class="col-xs-12 tab-pane fade in active" id="details" role="tabpanel">
                    <h3 class="orange"> {{product.title }} </h3> 
                    <h5 class="grey">{% trans "Time" %}：{{product.date|date:'Y-m-d' }}</h5>
                <div class="illustrate">
                    {{ product.detail|default:''|safe}}
                </div> 
            </div>
           
        </div>
    </div>
</div>
{% endblock %} 
{% block js %}
<script src="/static/page/js/report.js"></script>
<script type="text/javascript" src="/static/js/login.js "></script>
<script type="text/javascript" src="/static/products/js/detail.js"></script>
 
{% endblock %}