label{
    width: 80px;
}
.search input,.search select{
    width: 280px;
    margin-right: 30px;
}
.search select{
    margin-left: -2px;
}
.search>div{
    margin-bottom:20px;
}
.date-inp input{
    width: 130px;
}
.mr-2{
    margin-right: 4px!important;
}
.search .orange-bg.common-btn{
    margin-right: 15px;
}