
.content
{ 
    width: 100%;
    background-color: #3C3D3F;
}
.w30{
    width: 30px;
    padding: 0px!important;
}
.swiper-container
{ 
    z-index: -1;
}

.swiper-slide
{ 
     text-align: center;
}
.sider1
{ 
    position: absolute;
     bottom: 40px;
     width: 100%;
    text-align: center;
}
.right-sider-bar
{
    position: absolute;
    right: 0;
    bottom: 20px;
    right: 20px;
}

.second-menu table{
    width: 100%;
}
.tb_secondmenu td{
    padding-left:30px;
    padding-right:30px;
}
.container-second-menu
{
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width: 100%;
}
.second-menu
{
    line-height: 60px;
    
}
.second-menu a,submenu{
    color: rgb(113,112,113);
}
.buy
{
    background-color:#ea5014; 
    text-align: center; 
    padding-left: 10px;
    padding-right: 20px;
    
}
.second-menu .buy>a{
    color:#fff;
}


.sub-item
{
    background-color: white;
}

.tb_secondmenu .active a{
    color: #ea5014; 
    text-decoration: none;
}

.menu-hidden
{
    display: none;
}

.second-menu-fixed
{
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 2; 
}
.hide-menu img{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.titleline
{
    height: 120px;
}
.advice-details .fs24{
    line-height: 2;
}
.advice-details .gray{
    line-height:1.6;
}



.col-para
{ 
    margin-top:15px; 
    min-height: 400px; 
    text-align: left;
}

.col-right
{
    margin-left: 35px;
}

.scene_img img {
    width: 100%;
    margin-top: 5px;
}

.panel-menu, .fitting-panel-menu
{
    position: absolute;
    top: 120px;
    width: 120px;
}
.panel-menu tr 
{
    line-height: 40px;
}

.panel-menu tr a  {
    color: gray;
}

.panel-menu tr.active {
    border-bottom: 4px solid #ea5014;
}

.panel-menu tr.active a {
    color: #ea5014;
}

.fitting-panel-menu .fitting-item
{
    width: 200px;
    height: 70px;
    color: black;
    padding-top: 60px;
}
.white_a
{
    color: white;
}
.roll-tip-holder{
    width: 100%;
    position: absolute;
    bottom: 0px;
    color:#fff;
}
/* 漂浮动画 */
.roll-tip
{
   
    width: 30px; 
    height: 30px; 
    padding: 4px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transform: translateX(-50%);
    position: absolute;
    top: -56px;
    left: 50%;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -webkit-animation: opener 1s ease-in-out alternate infinite;
    animation: opener 1s ease-in-out alternate infinite;
    -webkit-transition: opacity .2s ease-in-out, transform .5s ease-in-out .2s;
    transition: opacity .2s ease-in-out, transform .5s ease-in-out .2s;
}
@-webkit-keyframes opener {
    100% {
        top: -48px;
    }
}
@keyframes opener {
    100% {
        top: -48px;
    }
}
.roll-tip td, .roll-tip-holder{
    text-align: center;
    margin-bottom: 15px;
}
.up_down{
    height: 100%;
}
.up{
    width: 100%;
    vertical-align: unset;
}
.scroll-up-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 7px;
    background-color: rgb(220 , 220, 220);
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    margin-top: 10px;
}
.roll-tip a{ 
    line-height: 30px;
    color: white;
}

.roll-tip-up
{  
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(220 , 220, 220);
    margin: 20px auto;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.panel-menu-fixed
{
    position: fixed;
    top: 100px;
    z-index: 2;
}

.panel-vedio
{
    position: absolute;
    bottom: 60px;
    right: 30px;
    height: 200px;
    width: 420px;
    padding: 80px 160px;
}

.subproductimg,
{
    text-align: center;
}

.items_holder
{
     padding: 30px 0;
}
.items_holder h2{
    margin: 0 0 4px!important;
}
.textholder-left
{
    position: absolute;
    top:  30%;
    left: 10%;
}

.textholder-right
{
    position: absolute;
    top:  30%;
    right: 10%;
}

.title
{
    font-size: 40px;
    color: gray;
}
.buyitems
{
    color:#ea5014;
}
.price{
    font-size: 35px;
}

.btn-learnmore
{
    background-color: rgb(233,85,19);
    border-radius: 10px;
    margin-left: 10px;
    padding: 0 15px ;
}

.scroll-tip
{
    position: fixed;
    bottom: 55px;
    width: auto; 
    text-align: right;
    z-index:1;
}


.img360_holder
{
    position: relative;
    background-size:cover!important;
    background-position:top center!important;
    background-repeat:no-repeat!important;
    background: url(/static/img/product/b360.png);
}

.img360-text{
    height: unset!important;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 45px;
}
.p_title_2 img
{
    width: 30px;
    
}

/* base */
.fixed-position {
    position: relative;
  }
  .round {
    border-radius: 50%;
  }
  .ml10 {
    margin-left: 10px;
  }
  .common-btn {
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
  }
  .a-style {
    text-decoration: none;
    outline: none;
    color: inherit;
  }
  ul {
    padding: 0px;
    margin: 0px;
  }
  li {
    list-style-type: none;
  }

  /* deteil */
  .p_title {
    font-size: 26px;
  }
  section {
    position: relative;
    background-size:cover!important;
    background-position:top center!important;
    background-repeat:no-repeat!important;
  }
  section.sec1-show {
    background: url(/static/img/product/sc1.png);
  }
  section.sec1-hide {
    background: url(/static/img/product/sc1hide.png);
  }
  section.sec2-show {
    background: url(/static/img/product/sc2.png);
  }
  section.sec2-hide {
    background: url(/static/img/product/sc2hide.png);
  }
  section.sec3-show {
    background: url(/static/img/product/sc3.png);
  }
  section.sec3-hide {
    background: url(/static/img/product/sc3hide.png);
  }
  section.sec4-show {
    background: url(/static/img/product/sc4.png);
  }
  section.sec4-hide {
    background: url(/static/img/product/sc4hide.png);
  }
.btn-list {
    text-align: right;
    position: absolute;
    right: 0px;
    bottom: 80px;
    width: 200px;
  }
  .btn-list li {
    display: none;
    padding: 10px 0px;
    font-size: 12px;
    color: rgb(182, 182, 182);
  }

  .btn-list a:link,
  .btn-list a:visited,
  .btn-list a:hover,
  .btn-list a:active
 {
    color: inherit;
  }
  #show-btn img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  }
  .advertising,
  .parts-img,
  .summary {
    width: 100%;
    height: auto;
  }
  .cut-off {
    margin: 15px 0 30px 60px;
    color: rgb(114, 114, 114);
  }
  .cut-off > div {
    border-bottom: 1px solid #ddd;
  }
  .list-wrap{
      margin-left: 60px;
      color: #727272;
  }
  .list-wrap .col-xs-4,
  .cut-off .col-xs-4 {
    margin-left: 60px;
  }
  .list-wrap > .col-xs-4 > div {
    margin-bottom: 15px;
  }
  .yellowcolor {
    color: #ea5014;
  }
  .titleline a {
    color: grey;
    font-size: 12px;
  }
  .learn_more {
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: super;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    background-color: #ea5014;
    border-radius: 15px;
    margin-left: 30px;
  }
  .parts-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%,-50%);
  }
  .learn_more .fa-angle-right {
    font-size: 18px;
  }
  .learn_more:link,
  .learn_more:hover,
  .learn_more:visited,
  .learn_more:active {
    color: #fff;
  }
  .roll-tip-holder a:link,.roll-tip-holder a:visited,.roll-tip-holder a:hover,.roll-tip-holder a:active,.roll-tip-holder a:focus{
      color: #fff;
  }
  .threesixty{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.threesixty img{
    height: 318px;
    margin-bottom: 30px;
}
@media screen and (min-width: 1550px) {
    .threesixty img{
        height: 420px;
        margin-bottom: 60px;
}
}
  .items table td{
      width: 100px;
      padding: 6px 0; 
  }
  .items table img{
      width: 40px;
  }
  .items table{
    margin-top: 80px;
    text-align: center;
  }
  .show1,.show3{
      position: absolute;
      top: 50%;
  }
  section .show{
    -webkit-transition: opacity 1.5s, -webkit-transform 1.5s;
    transition: opacity 1.5s, transform 1.5s;
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
}
section.move .show{
    opacity: 1;
    filter: alpha(opacity=100)\9;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
section .img360-text{
    -webkit-transition: opacity 1.5s, -webkit-transform 1.5s;
    transition: opacity 1.5s, transform 1.5s;
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}
section.move .img360-text{
    opacity: 1;
    filter: alpha(opacity=100)\9;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

  .show2,.show4{
    position: absolute;
    top: 50%;
    left:10%;
}
  .hide-text{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
section .hide-text{
    -webkit-transition: opacity 1.5s, -webkit-transform 1.5s;
    transition: opacity 1.5s, transform 1.5s;
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translate(-50%,-30%);
    -ms-transform: translateY(-50%,-30%);
    transform: translateY(-50%,-30%);
}
section.move .hide-text{
    opacity: 1;
    filter: alpha(opacity=100)\9;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

  dl{
      display: inline-block;
  }
  .show-t{
      font-size: 40px;
      font-weight: 300;
      margin-bottom: 10px;
  }
.show-msg{
    font-size: 18px;
}
.hide-text div{
    font-size: 30px;
    margin-bottom: 15px;
}
.hide-text ul{
    font-size: 16px;
    color: #6c6c6c;
}
.mb{
    margin-bottom: 120px;
}
.hide-text li
{
    list-style-type:disc;
}
.summary-text{
position: absolute;
left: 50%;
top: 50%;
transform: translateY(-50%);
color:#6c6c6c;
font-size:14px;
line-height:2;
}

.advice-details td{
    width: 50%;

}
.advice-details{
    padding:30px 95px;
}
.advice-details td{
    height: 350px;
    border-bottom: 1px solid #ddd;
}
.advice-details td img{
    max-height:200px;
    width: auto;
}
.advice-details td div{
    width: 86%;
}
.text-center.image-text.orange{
    margin: 0 0 10px;
    font-size: 30px;
}
.p_title_2.text-center{
    margin: 0px;
}
.m60{
    margin-top:60px;
    margin-bottom: 60px;
}
.show1 table{
    margin-left: -15px;
}
.show2 table,.show4 table{
    margin-left: -20px;
}
.show3 table{
    margin-left: -4px;
}
.img360_holder .white.text-center img{
    margin-bottom: 30px;
    width: 100px;
    height: auto;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-name: twinkle;
    -webkit-animation-duration: 1200ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes twinkle {
    0% {
        opacity:0.1;
    }
    100% {
        opacity:1;
    }
}