{% extends 'base.html' %}
{% block pagetitle%}一数科技&nbsp;watch{% endblock%}
{% block css %} 
<link href="/static/products/css/cast2.css"  rel="stylesheet">
{% endblock %} 
{% block content %} 
    <div class="img360_holder"> 
      
          <div class="threesixty" data-path="/static/img/360pics/{index}.png" data-count="30"></div>
          <div class="img360-text show360">
              <div class="white text-center"><img src="/static/img/icon/360.svg"></div>
              <h2 class="text-center image-text orange" ><span>未来&nbsp;／&nbsp;一“触”即现</span>
              </h2> 
              
               <p class="p_title_2 text-center">
                 <img src="/static/img/icon/down.svg" />
                </p>
          </div>
        </div>
    <div class="container-second-menu ">
      <div class="container second-menu ">
         <table >
            <tr>
                <td>
                    <div>
                       <span class='submenu'>ASU Watch</span>
                    </div>
                </td>
                <td>
                  <div class="pull-right">
                     <table class="tb_secondmenu">
                        <tr>
                          <td class="tb_secondmenu_item" >
                              <a href="#" class="a_secondmenu_item " target="parameter" >技术参数</a> 
                          </td>
                            <td  class="tb_secondmenu_item" >
                              <a href="#" class="a_secondmenu_item " target="fitting">精品配件</a> 
                            </td>
                           
                            <td  class="tb_secondmenu_item" >
                              <a href="#" class="a_secondmenu_item " target="advice">安全使用建议</a>
                            </td> 
                            <td class="w30"></td> 
                            <td class="buy"  >
                              <a href="javascript:;" >立即购买</a>
                            </td> 
                        </tr>
                      </table>
                  </div><!-- end pull right -->
                </td>
            </tr>
         </table>
      </div>
    </div> <!-- second menu container -->
    <div class="character">
        <section class="sec1-show items"> 
            <div class="show1 white show">
                  <div class="image-text show-t">看&nbsp;／&nbsp;投影</div>
                  <div class="show-msg">光影&nbsp;丨&nbsp;是最靠近灵魂的东西</div>
              <table>
                <tr>
                    <td><img src="/static/img/icon/s1_1.svg" /></td>
                    <td><img src="/static/img/icon/s1_2.svg" /></td>
                    <td><img src="/static/img/icon/s1_3.svg" /></td>
                    <td><img src="/static/img/icon/s1_4.svg" /></td>
                </tr>
                <tr>
                    <td>15流明亮度</td>
                    <td>720P高清画质</td>
                    <td>2-60英寸</td>
                    <td>自如切换</td>
                  </tr>
              </table>
            </div>
              <div class="roll-tip-holder" >
               <a id="test" href="javascript:;" class="white_a product_pic_1"  target="sub-item11"> 
                 <div class="roll-tip"> 
                    <img class="up_down" src="/static/img/icon/up_down.svg"> 
                </div>
                了解更多
              </a>
              </div><!-- roll tip end-->  
        </section><!-- end items -->
        <section class="container-fluid sec1-hide items sub-item " id="sub-item11"> 
            <div class="hide-text">
                <div class="image-text orange">天气APP</div>
                <ul class="mb">
                  <li>实时展示当地天气信息</li>
                  <li>天气动效投影在手背上，查看效果更佳</li>
                </ul>
                <div class="orange">微信APP</div>
                <ul>
                  <li>支持手机扫码登录</li>
                  <li>支持微信对话</li>
                </ul>
              </div> 
              <div class="roll-tip-up text-center" >
                          <img class="up" src="/static/img/icon/up.svg">
              </div><!-- roll tip up end-->
        </section><!-- end sub items -->
         <section class="container-fluid items sec2-show"> 
            <div class="show2 show white">
                <div class="image-text show-t">听&nbsp;／&nbsp;高清音质蓝牙耳机</div>
                <div class="show-msg">希声&nbsp;丨&nbsp;是最乎于心跳的律动</div>
            <table>
              <tr>
                <td><img src="/static/img/icon/s2_1.svg" /></td>
                <td><img src="/static/img/icon/s2_2.svg" /></td>
                <td><img src="/static/img/icon/s2_3.svg" /></td>
                <td><img src="/static/img/icon/s2_4.svg" /></td>
              </tr>
              <tr>
                  <td>杜比音效</td>
                  <td>骨膜传导</td>
                  <td>蓝牙4.0</td>
                  <td>抗噪</td>
                </tr>
            </table>
          </div>
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_1"  target="sub-item1"> 
                 <div class="roll-tip"> 
                    <img class="up_down" src="/static/img/icon/up_down.svg">
                </div>
                了解更多
              </a>
              </div><!-- roll tip end-->  
        </section><!-- end items -->
        <section class="container-fluid sec2-hide items sub-item " id="sub-item1"> 
              <div class="roll-tip-up" >
                  <img class="up" src="/static/img/icon/up.svg">
              </div><!-- roll tip up end--> 
              <div class="hide-text">
                  <div class="image-text  orange">电话APP</div>
                  <ul class="mb">
                    <li>支持接打电话</li>
                    <li>支持本地通讯录</li>
                    <li>电话号码手背投影显示，点击手背接听</li>
                  </ul>
                  <div class="orange">音乐APP</div>
                  <ul>
                    <li>播放手表本地连接手机播放歌曲</li>
                    <li>将歌曲歌词投影在手背上，方便查看</li>
                  </ul>
                </div> 
        </section><!-- end sub items -->
        <section class="container-fluid items sec3-show"> 
            <div class="show3 show white">
                <div class="image-text show-t">触&nbsp;／&nbsp;双屏显示+虚拟触控</div>
                <div class="show-msg">未来&nbsp;丨&nbsp;是可望又可及的交错</div>
            <table>
              <tr>
                  <td><img src="/static/img/icon/s3_1.svg" /></td>
                  <td><img src="/static/img/icon/s3_2.svg" /></td>
                  <td><img src="/static/img/icon/s3_3.svg" /></td>
                  <td><img src="/static/img/icon/s3_4.svg" /></td>
              </tr>
              <tr>
                  <td>2.6寸物理屏幕</td>
                  <td>2.8寸虚拟屏幕</td>
                  <td>手势操作</td>
                  <td>皮肤触控</td>
                </tr>
            </table>
          </div>
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_2"  target="sub-item2"> <div class="roll-tip"> 
                      <img class="up_down" src="/static/img/icon/up_down.svg">  
                </div>
                了解更多</a>
              </div><!-- roll tip end--> 
            </section>
              <section class="container-fluid items sec3-hide sub-item " id="sub-item2"> 
                  <div class="hide-text">
                      <div class="image-text orange">来画APP</div>
                      <ul class="mb">
                        <li>通过在物理屏幕完成画作，<br>在手背上投影出相应图案或分享给朋友</li>
                      </ul>
                      <div class="orange">Show APP</div>
                      <ul>
                        <li>从show store中选择动画效果,<br>show出你的态度</li>
                        <li>投影精美制作的动画效果到手背上</li>
                      </ul>
                    </div> 
                  <div class="roll-tip-up" >
                      <img class="up" src="/static/img/icon/up.svg">
                  </div><!-- roll tip up end--> 
            </section><!-- end sub items -->

        
        

         <section class="container-fluid items sec4-show"> 
            <div class="show4 show white">
                <div class="image-text show-t">感&nbsp;／&nbsp;体感</div>
                <div class="show-msg">现在&nbsp;丨&nbsp;是每个追寻更好自己的瞬间</div>
            <table>
              <tr>
                  <td><img src="/static/img/icon/s4_1.svg" /></td>
                  <td><img src="/static/img/icon/s4_2.svg" /></td>
                  <td><img src="/static/img/icon/s4_3.svg" /></td>
                  <td><img src="/static/img/icon/s4_4.svg" /></td>
              </tr>
              <tr>
                  <td>心率监测</td>
                  <td>GPS导航</td>
                  <td>陀螺仪测速</td>
                  <td>十指触控</td>
                </tr>
            </table>
          </div>
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_2"  target="sub-item3"> <div class="roll-tip"> 
                      <img class="up_down" src="/static/img/icon/up_down.svg">  
                </div>
                了解更多</a>
              </div><!-- roll tip end--> 
            </section><!-- end items -->
              <section class="container-fluid items sub-item sec4-hide" id="sub-item3"> 
                  <div class="hide-text">
                      <div class="image-text orange">健康APP</div>
                      <ul class="mb">
                        <li>自动记录每天运动步数</li>
                        <li>自动计算并显示运动水平</li>
                        <li>心率测试</li>
                        <li>关键数据投影在手背上，展示更多信息</li>
                      </ul>
                      <div class="orange">跑步 APP</div>
                      <ul>
                        <li>记录跑步关键数据</li>
                        <li>跑步中手背投影运动关键数据，如配速、<br>距离等,查看更方便</li>
                      </ul>
                    </div> 
                  <div class="roll-tip-up" >
                      <img class="up" src="/static/img/icon/up.svg">
                  </div><!-- roll tip up end--> 
                  
            </section><!-- end sub items -->
      </div><!-- 特性介绍结束 -->

    <div class="parameter">
        <div class="second_menu_holder">
        <div class="container second_menu">
          <div class="row" >
            <div class="col-xs-12">
                <div class="titleline">  
                  <div class="items_holder">
                    <h2 class="yellowcolor">技术参数</h2>
                    <a href="首页.html">首页</a>
                    <a href="{% url 'product:cast2' %}">/&nbsp;Watch</a>
                    <a href="#">/&nbsp;技术参数</a> 
                  </div> 
                </div>
            </div>
              
          </div>
        </div>
        </div>
        <div class="container-fluid">
          <img class="advertising" src="/static/img/product/canshu.jpg" alt=""/>
        </div>
        <div class="container-fluid m60">
            <div class="container">
                <div class="list-wrap clearfix">
                  <div class="col-xs-2">显示</div>
                  <div class="col-xs-4">
                    <div>物理屏</div>
                    <div>虚拟屏</div>
                    <div>投影亮度</div>
                  </div>
                  <div class="col-xs-4">
                      <div>1.54″,240*240  </div>
                      <div>2.3″,480*850</div>
                      <div>18lm</div>
                    </div>
                </div>
                <div class="cut-off clearfix">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="list-wrap clearfix">
                    <div class="col-xs-2">性能</div>
                    <div class="col-xs-4">
                      <div>使用时长</div>
                      <div>存储</div>
                      <div>CPU</div>
                      <div>防水防尘</div>
                    </div>
                    <div class="col-xs-4">
                        <div>1天（650mAh）</div>
                        <div>1GB RAM+8GB ROM</div>
                        <div>高通4核处理器，最高主频1.2GHz</div>
                        <div>IP65</div>
                      </div>
                  </div>
                  <div class="cut-off clearfix">
                      <div class="col-xs-2"></div>
                      <div class="col-xs-4"></div>
                      <div class="col-xs-4"></div>
                  </div>
                  <div class="list-wrap clearfix">
                      <div class="col-xs-2">网络</div>
                      <div class="col-xs-4">
                        <div>GSM</div>
                        <div>WCDMA</div>
                        <div>4G-LTE</div>
                      </div>
                      <div class="col-xs-4">
                          <div>1800</div>
                          <div>band1</div>
                          <div>Band1/3/38/39/40/41</div>
                        </div>
                    </div>
                    <div class="cut-off clearfix">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4"></div>
                    </div>
                    <div class="list-wrap clearfix">
                        <div class="col-xs-2">无线&传感器</div>
                        <div class="col-xs-4">
                          <div>GPS</div>
                          <div>Wi-Fi</div>
                          <div>蓝牙</div>
                          <div>心率传感器</div>
                          <div>电子指南针/重力感应器/陀螺仪</div>
                        </div>
                        <div class="col-xs-4">
                            <div>yes</div>
                            <div>yes</div>
                            <div>BT4.1,支持BLE</div>
                            <div>yes</div>
                            <div>yes</div>
                          </div>
                      </div>
                      <div class="cut-off clearfix">
                          <div class="col-xs-2"></div>
                          <div class="col-xs-4"></div>
                          <div class="col-xs-4"></div>
                      </div>
                      <div class="list-wrap clearfix">
                          <div class="col-xs-2">接口</div>
                          <div class="col-xs-4">
                            <div>充电接口</div>
                            <div>卡槽</div>
                          </div>
                          <div class="col-xs-4">
                              <div>5 PIN</div>
                              <div>Nano-SIM</div>
                            </div>
                        </div>
                        <div class="cut-off clearfix">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-4"></div>
                            <div class="col-xs-4"></div>
                        </div>
                        <div class="list-wrap clearfix">
                            <div class="col-xs-2">电池和充电</div>
                            <div class="col-xs-4">
                              <div>电池容量</div>
                              <div>充电时间</div>
                            </div>
                            <div class="col-xs-4">
                                <div>典型值为650mAh</div>
                                <div>0~100%，约为100分钟</div>
                              </div>
                          </div>
                          <div class="cut-off clearfix">
                              <div class="col-xs-2"></div>
                              <div class="col-xs-4"></div>
                              <div class="col-xs-4"></div>
                          </div>
                          <div class="list-wrap clearfix">
                              <div class="col-xs-2">尺寸</div>
                              <div class="col-xs-4">
                                <div>物理尺寸</div>
                              </div>
                              <div class="col-xs-4">
                                  <div>46*52*17.8mm</div>
                                </div>
                            </div>
              </div>
          </div>
    </div><!-- 技术特性介绍结束 -->

    
    <div class="fitting">
      <div class="second_menu_holder">
      <div class="container ">
        <div class="row" >
          <div class="col-xs-12 ">
              <div class="titleline">
                  <div class="items_holder">
                    <h2 class="yellowcolor">精品配件</h2>
                    <a href="首页.html">首页</a>
                    <a href="{% url 'product:cast2' %}">/&nbsp;Watch</a>
                    <a href="#">/&nbsp;精品配件</a> 
                  </div> 
              </div>
           </div>
        </div>
      </div>
      
      </div>
      <div class="container-fluid fixed-position">
          <img class="parts-img" class="advertising" src="/static/img/product/parts.png" alt=""/>
          <div class="parts-text">
              <div class="white">
                  <div class="image-text show-t">首个全金属外壳蓝牙耳机</div>
                  <div class="show-msg mb-60">免提接打电话&nbsp;｜&nbsp;音频外放 </div>
                  <div>
                      <span class="image-text show-t">199</span>元／起售
                      <a class="learn_more" href="javascript:;">了解更多
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </a>
                  </div>
            </div>
              
          </div>
        </div>
      
        <div class="m60 container clearfix">
          <div class="list-wrap">
            <div class="col-xs-2">规范</div>
            <div class="col-xs-4">
              <div>蓝牙规范</div>
            </div>
            <div class="col-xs-4">
              <div>4.1</div>
            </div>
          </div>
          <div class="cut-off clearfix">
            <div class="col-xs-2"></div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4"></div>
          </div>
          <div class="list-wrap clearfix">
            <div class="col-xs-2">协议</div>
            <div class="col-xs-4">
              <div>支持</div>
            </div>
            <div class="col-xs-4">
              <div>A2DP,AVRCP,HFP,HSP</div>
            </div>
          </div>
          <div class="cut-off clearfix">
            <div class="col-xs-2"></div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4"></div>
          </div>
          <div class="list-wrap clearfix">
            <div class="col-xs-2">特性</div>
            <div class="col-xs-4">
              <div>降噪</div>
            </div>
            <div class="col-xs-4">
              <div>CVC降噪</div>
            </div>
          </div>
          <div class="cut-off clearfix">
            <div class="col-xs-2"></div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4"></div>
          </div>
          <div class="list-wrap clearfix">
            <div class="col-xs-2"></div>
            <div class="col-xs-4">
              <div>音乐时长</div>
            </div>
            <div class="col-xs-4">
              <div>音乐时长:约2h</div>
            </div>
            <div class="col-xs-2">时长</div>
            <div class="col-xs-4">
              <div>通话时长</div>
            </div>
            <div class="col-xs-4">
              <div>通话时长:约2h</div>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-4">
              <div>待机时长</div>
            </div>
            <div class="col-xs-4">
              <div>待机时长:约180h</div>
            </div>
          </div>
          <div class="cut-off clearfix">
            <div class="col-xs-2"></div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4"></div>
          </div>
          <div class="list-wrap clearfix">
            <div class="col-xs-2"></div>
            <div class="col-xs-4">
              <div>充电时间</div>
            </div>
            <div class="col-xs-4">
              <div>约1.5h</div>
            </div>
            <div class="col-xs-2">电池</div>
            <div class="col-xs-4">
              <div>充电电压</div>
            </div>
            <div class="col-xs-4">
              <div>4.2V/25mA</div>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-4">
              <div>电池类型</div>
            </div>
            <div class="col-xs-4">
              <div>锂电子电池(3.7V/35mmAh)</div>
            </div>
          </div>
          <div class="cut-off clearfix">
            <div class="col-xs-2"></div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4"></div>
          </div>
          <div class="list-wrap clearfix">
            <div class="col-xs-2">喇叭</div>
            <div class="col-xs-4">
              <div>单元</div>
            </div>
            <div class="col-xs-4">
              <div>8mm动圈单元</div>
            </div>
          </div>
          <div class="cut-off clearfix">
            <div class="col-xs-2"></div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4"></div>
          </div>
          <div class="list-wrap clearfix">
            <div class="col-xs-2">频率</div>
            <div class="col-xs-4">
              <div>响应</div>
            </div>
            <div class="col-xs-4">
              <div>20Hz-20kHz</div>
            </div>
          </div>
          <div class="cut-off clearfix">
            <div class="col-xs-2"></div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4"></div>
          </div>
          <div class="list-wrap clearfix">
            <div class="col-xs-2">尺寸</div>
            <div class="col-xs-4">
              <div>物理尺寸</div>
            </div>
            <div class="col-xs-4">
              <div>W18*D16.5*H35.8mm</div>
            </div>
          </div>
        </div>
    </div><!-- 配件介绍结束 -->
    

    <div class="advice">
     <div class="second_menu_holder">
      <div class="container">
        <div class="row" >
          <div class="col-xs-12 ">
              <div class="titleline">
                 <div class="items_holder">
                    <h2 class="yellowcolor">安全使用建议</h2>
                    <a href="首页.html">首页</a>
                    <a href="{% url 'product:cast2' %}">/&nbsp;Watch</a>
                    <a href="#">/&nbsp;安全使用建议</a> 
                  </div> <!-- end items_holder -->
              </div><!-- end titleline -->
           </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end container -->
    </div><!-- end second_menu_holder -->
            <div class="p-r">  
                <img class="summary" class="advertising" src="/static/img/product/summary.png" alt=""/>
                <div class="summary-text"> 一数是首家整合投影技术到穿戴设备上的品牌，<br/>我们希望提供一些建议和帮助，来告知您使用腕投设备的正确方式和方法，<br/>
                  在一个合理的范围内享受腕投带给您全新生活方式和使用体验。<br/> 我们致力于激光技术的开发和研究，<br/>也会第一时间告知由于
                产品技术的更新带来的使用方式的改变。</div>
            </div>
            <div class="container advice-details">
                
                <table>
                  <tr>
                    <td>
                      <div class="fs24">尽量避免直接照射眼睛</div>
                      <div class="gray">
                        通过XXX标准和测试，一数腕投设备光机已经在一个安全可控的范围之内，不会对肉眼造成危害，使用时为了避免元件损坏、老化等原因带来的意外，请不要直接照射眼睛。</div>
                    </td>
                    <td class="text-center">
                        <img class="advertising" src="/static/img/product/advice1.png" alt=""/>
                    </td>
                  </tr>
                  <tr>
                      <td class="text-center"><img class="advertising" src="/static/img/product/advice2.png" alt=""/></td>
                      <td>
                        <div class="fs24">不要让水或沙尘进入</div>
                        <div class="gray">
                          腕投内元件布局精密，务必避免水、沙尘等进入产品内对其中元件造成损害，影响设备正常使用。
                        </div>
                      </td>
                      
                    </tr>
                    <tr>
                        <td><div class="fs24">确保充足电量</div>

                          <div class="gray">在长时间开启投影光机情况下，设备点量消耗较快，建议连接Dock使用，以免中途断电。</div>
                        </td>
                        <td class="text-center"><img class="advertising" src="/static/img/product/advice3.png"/></td>
                      </tr>
                      <tr>
                          <td class="text-center"><img class="advertising" src="/static/img/product/advice4.png"/></td>
                          <td>
                            <div class="fs24">选择光线较暗的区域投影</div>
                            <div class="gray">光线越暗，投影的效果越好，画面也越清晰，在需要利用投影观看视频、演示文稿的时候，建议选择光线较暗的环境。</div>
                          </td>
                          
                        </tr>
                        <tr>
                            <td>
                              <div class="fs24">蓝牙耳机独立充电</div>
                              <div class="gray">蓝牙耳机请选择独立充电方式，以保证通话中途不会遇到尴尬处境。</div>
                            </td>
                            <td class="text-center"><img class="advertising" src="/static/img/product/advice5.png"/></td>
                          </tr>
                          <tr>
                              <td class="b-n text-center"><img class="advertising" src="/static/img/product/advice6.png"/></td>
                              <td class="b-n">
                                <div class="fs24">请尽量避免手动拆卸</div>
                                <div class="gray">腕投设备采用特殊的零件锁死方式，和手机以及其他智能类穿戴设备不同，在没有一数工程技术人员在场的情况下不要随意自行拆机。</div>
                              </td>
                              
                            </tr>
                </table>
            </div>
            
    </div><!-- 安全使用建议介绍结束 -->
    <div class="scroll-tip">
        
              <ul class="btn-list">
                <li>
                  <a href="javascript:;" target="black_">个人中心
                    <span><img src="/static/img/icon/geren.svg" /></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" target="black_">在线咨询
                    <span><img src="/static/img/icon/zixun.svg" /></span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'dept:list' %}" target="black_">店面查询
                    <span><img src="/static/img/icon/dianmian.svg" /></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" target="black_">微信群
                    <span><img src="/static/img/icon/qun.svg" /></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" target="black_">使用手册下载
                    <span><img src="/static/img/icon/shouce.svg" /></span>
                  </a>
                </li>
              
              </ul>
              <div id="show-btn">
                  <img src="/static/img/icon/jia.svg" />
                </div>
              <div class="scroll-up">
                  <img class="scroll-up-img" src="/static/img/icon/up.svg">
              </div>
      
    </div>
    
    {% endblock %}
    
    {% block js %}
    <script src="/static/js/cast2.js"></script>
    <script src="/static/plugins/jquery.threesixty.js"></script>
     <!-- Initialize Swiper -->
    <script>
      $(document).ready(function(){
          six = $('.threesixty').threeSixty({
              dragDirection: 'horizontal',
              useKeys: false
          });
         /*  var father_h = $('.img360_holder').height();
          
         if (father_h > 800)
             $('.threesixty').css({'margin-top':(father_h/6)+'px'}); */
      });
/*
      $(document).ready(function(){
        var height = window.innerHeight;
        $('.img360_holder').height(height);
      });
      var images = [];
      for(var i = 1; i < 30; i+=1)
      {
          images.push('/static/img/360pics/'+i+'.png');
      }
      $("#img360").threesixty({images:images, method:'click', 'cycle':3, direction:"backward"});
      */
    </script>
    {% endblock %}
  
