{% extends 'base.html' %}
{% block css %}
<link href="/static/css/footer.css"  rel="stylesheet">
<link href="/static/css/cast2.css"  rel="stylesheet">
<link rel="stylesheet/less" type="text/css" href="/static/css/styles.less" />
<script src="http://cdn.bootcss.com/less.js/1.7.0/less.min.js"></script>
{% endblock %} 
{% block content %} 
    <div class="img360_holder"> 
      <img src="/static/img/360pics/RubberBelt 0421.1.png" id="img360" class="img360"/>
      <p class="p_title" >
        <!-- <span class="white_span">欢迎"触摸"</span> -->
        <span class="yellow_span">未来/一“触”即现</span>
      </p> 
       <p class="p_title_2" ><i class="fa fa-angle-double-down" aria-hidden="true"></i></p>
    </div>
    <div class="container-fluid container-second-menu ">
      <div class="container second-menu ">
        <div class="col-xs-12">
         <table >
            <tr>
                <td>
                    <div>
                       <span >ASU Watch</span>
                    </div>
                </td>
                <td>
                  <div class="pull-right">
                     <table class="tb_secondmenu">
                        <tr>
                          <td class="tb_secondmenu_item" >
                              <a href="#" class="a_secondmenu_item " target="parameter" >技术参数</a> 
                          </td>
                            <td  class="tb_secondmenu_item" >
                              <a href="#" class="a_secondmenu_item " target="fitting">精品配件</a> 
                            </td> 
                            <td  class="tb_secondmenu_item" >
                              <a href="#" class="a_secondmenu_item " target="advice">安全使用建议</a>
                            </td> 
                            <td class="buy"  >
                              <a href="javascript:;" >立即购买</a>
                            </td> 
                        </tr>
                      </table>
                  </div><!-- end pull right -->
                </td>
            </tr>
         </table>
        </div>
      </div>
    </div> <!-- second menu container -->
    <div class="character container-fluid">
        <section class="container-fluid sec1-show items"> 
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_1"  target="sub-item11"> 
                 <div class="roll-tip"> 
                      <i class="fa fa-sort fa-2x" aria-hidden="true"></i>  
                </div>
                了解更多
              </a>
              </div><!-- roll tip end-->  
        </section><!-- end items -->
        <section class="container-fluid sec1-hide items sub-item " id="sub-item11"> 
              <div class="roll-tip-up" >
                   <table>
                     <tr>
                       <td>
                           <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
                       </td>
                     </tr> 
                   </table>
              </div><!-- roll tip up end--> 
               
        </section><!-- end sub items -->
         <section class="container-fluid sec2-show"> 
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_1"  target="sub-item1"> 
                 <div class="roll-tip"> 
                      <i class="fa fa-sort fa-2x" aria-hidden="true"></i>  
                </div>
                了解更多
              </a>
              </div><!-- roll tip end-->  
        </section><!-- end items -->
        <section class="container-fluid sec2-hide items sub-item " id="sub-item1"> 
              <div class="roll-tip-up" >
                   <table>
                     <tr>
                       <td>
                           <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
                       </td>
                     </tr> 
                   </table>
              </div><!-- roll tip up end--> 
               
        </section><!-- end sub items -->
        <section class="container-fluid items sec3-show"> 
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_2"  target="sub-item2"> <div class="roll-tip"> 
                      <i class="fa fa-sort fa-2x" aria-hidden="true"></i>  
                </div>
                了解更多</a>
              </div><!-- roll tip end--> 
            </section>
              <section class="container-fluid items sec3-hide sub-item " id="sub-item2"> 
                  <div class="roll-tip-up" >
                      <table>
                        <tr>
                          <td>
                              <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
                          </td>
                        </tr> 
                      </table>
                  </div><!-- roll tip up end--> 
            </section><!-- end sub items -->

        
        

         <section class="container-fluid items sec4-show"> 
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_2"  target="sub-item3"> <div class="roll-tip"> 
                      <i class="fa fa-sort fa-2x" aria-hidden="true"></i>  
                </div>
                了解更多</a>
              </div><!-- roll tip end--> 
            </section><!-- end items -->
              <section class="container-fluid items sub-item sec4-hide" id="sub-item3"> 
                  <div class="roll-tip-up" >
                      <table>
                        <tr>
                          <td>
                              <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
                          </td>
                        </tr> 
                      </table>
                  </div><!-- roll tip up end--> 
                  
            </section><!-- end sub items -->
      </div><!-- 特性介绍结束 -->

    <section class="parameter">
      <div class="second_menu_holder">
      <div class="container second_menu">
        <div class="row" >
          <div class="col-xs-12 ">
              <div class="titleline">  
                <div class="items_holder">
                  <span class="yellowcolor">技术参数</span>
                  <br/>
                  <a href="首页.html">首页</a>
                  <a href="产品图.html">/Cast</a>
                  <a href="#">/技术参数</a> 
                </div> 
              </div>
           </div>
            
         </div>
      </div>
      </div>
      <div class="container  "> 
             <img src="/static/img/parameters.png" class="parameters_png" /> 
      </div>
    </section><!-- 技术特性介绍结束 -->

    <section class="scene">
      <div class="container ">
        <div class="row" >
          <div class="col-xs-12 ">
              <div class="titleline">
                  Cast II / <span class="yellowcolor" >应用场景</span>
              </div>
           </div>
          <div class="col-xs-12 scene_img"> 
                 <img src="/static/img/scene.png" > 
                 <div class="panel panel-default panel-menu">
                   <div class="panel-body">
                     <table>
                       <tr class="active">
                         <td>
                           <a href="">双屏显示</a>
                         </td>
                       </tr>
                       <tr>
                         <td>
                           <a href="">独立通话</a>
                         </td>
                       </tr>
                       <tr>
                         <td>
                           <a href="">消息提醒</a>
                         </td>
                       </tr>
                       <tr>
                         <td>
                           <a href="">丰富定制APP</a>
                         </td>
                       </tr>
                       <tr>
                         <td>
                           <a href="">桌面娱乐</a>
                         </td>
                       </tr>
                     </table>
                   </div>
                 </div> <!-- 菜单panel结束 -->

                 <div class="panel panel-default panel-vedio">
                    <div class="panel-body">
                        查看视频
                    </div>
                 </div>
                 <div class="roll-tip">
                   <table>
                     <tr>
                       <td>
                           <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
                       </td>
                     </tr>
                    <tr>
                       <td>
                            <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                       </td>
                     </tr>
                     <tr>
                       <td>
                            <span>了解更多</span>
                       </td>
                     </tr>
                   </table>
                 </div><!-- roll tip end-->
           </div>  
         </div>
      </div>
      <div class="container container-center div-roll-tip-up">  
           <div class="roll-tip-up">
                   <table>
                     <tr>
                       <td>
                           <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
                       </td>
                     </tr> 
                   </table>
           </div><!-- roll tip up end--> 
              <div class="col-sm-5 col-md-5 col-lg-5 col-para">
              </div>
              <div class="col-sm-5 col-md-5 col-lg-5 col-para pull-right">
              </div> 
      </div>
    </section><!-- 应用场景介绍结束 -->

    
    <section class="fitting">
      <div class="second_menu_holder">
      <div class="container ">
        <div class="row" >
          <div class="col-xs-12 ">
              <div class="titleline">
                  <div class="items_holder">
                    <span class="yellowcolor">精品配件</span>
                    <br/>
                    <a href="首页.html">首页</a>
                    <a href="产品图.html">/Cast</a>
                    <a href="#">/精品配件</a> 
                  </div> 
              </div>
           </div>
        </div>
      </div>
      </div>
      <div class="container ">
        <div class="row" >
          <div class="col-xs-12 scene_img"> 
                 <img src="/static/img/fitting.png" > 
                 <div class="textholder-left " >
                  <p class="title" >ASU Cast II DOCK</p>
                  <p class="sub_title" >免提打电话|音频外放</p>
                  <p class="buyitems" ><span class="price">999</span> 元/起售
                  <button class="btn btn-warning btn-learnmore">了解更多>></button></p>
                </div><!-- textholder-left  end -->
           </div> <!-- end  scene_img -->
           <div class="col-xs-12 scene_img"> 
                 <img src="/static/img/fitting-left.png" > 
                 <div class="textholder-right " >
                  <p class="title" >首个全金属外壳蓝牙耳机</p>
                  <p class="sub_title" >智能接打电话</p>
                  <p class="buyitems" ><span class="price">999</span> 元/起售
                  <button class="btn btn-warning btn-learnmore">了解更多>></button></p>
                </div><!-- textholder-left  end -->
           </div> <!-- end  scene_img -->
            <div class="col-xs-12 scene_img"> 
                 <img src="/static/img/fitting.png" > 
                 <div class="textholder-left " >
                  <p class="title" >个性表带</p>
                  <p class="sub_title" >智能接打电话</p>
                  <p class="buyitems" ><span class="price">999</span> 元/起售
                  <button class="btn btn-warning btn-learnmore">了解更多>></button></p>
                </div><!-- textholder-left  end -->
           </div> <!-- end  scene_img -->
         </div>
      </div>
     
    </section><!-- 配件介绍结束 -->
    

    <div class="advice">
     <div class="second_menu_holder">
      <div class="container ">
        <div class="row" >
          <div class="col-xs-12 ">
              <div class="titleline">
                 <div class="items_holder">
                    <span class="yellowcolor">安全使用建议</span>
                    <br/>
                    <a href="首页.html">首页</a>
                    <a href="产品图.html">/Cast</a>
                    <a href="#">/安全使用建议</a> 
                  </div> <!-- end items_holder -->
              </div><!-- end titleline -->
           </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end container -->
    </div><!-- end second_menu_holder -->
            <div class="container container-center">  
                 <img src="/static/img/advice.png" class="parameters_png" /> 
            </div>
            
    </div><!-- 安全使用建议介绍结束 -->
    <div class="scroll-tip">
      <div class="scroll-up">
        <i class="fa fa-chevron-up fa-x" aria-hidden="true"></i>
      </div>
      <div class="scroll-down">
        <i class="fa fa-chevron-down fa-x" aria-hidden="true"></i>
      </div>
    </div>
    
    {% endblock %}
    
    {% block js %}
    <script src="/static/js/cast2.js"></script>
    <script src="/static/plugins/jquery.threesixty.js"></script>
     <!-- Initialize Swiper -->
    <script>
      $(document).ready(function(){
        var height = $(window).height();
        $('.img360_holder').height(height);
      });
      var images = [];
      for(var i = 1; i < 150; i+=3)
      {
          images.push('/static/img/360pics/RubberBelt 0421.'+i+'.png');
      }
      $("#img360").threesixty({images:images, method:'click', 'cycle':3, direction:"backward"});
    </script>
    {% endblock %}
  
