{% extends 'base.html' %}
{% block css %}
<link href="/static/css/footer.css"  rel="stylesheet">
<link href="/static/css/cast2.css"  rel="stylesheet">
{% endblock %} 
{% block content %} 
    <div class="img360_holder"> 
      
          <div class="threesixty" data-path="/static/img/360pics/{index}.png" data-count="30"></div>
          <div class="threesixty product1">
            <div class="spinner">
                <span>0%</span>
            </div>
            <ol class="threesixty_images"></ol>
        </div>
          <div class="img360-text">
              <h2 class="text-center image-text orange" >未来/一“触”即现
              </h2> 
               <p class="p_title_2 text-center" >
                 <img src="/static/img/icon/down.svg" />
                </p>
          </div>
    </div>
    <div class="container-second-menu ">
      <div class="container second-menu ">
         <table >
            <tr>
                <td>
                    <div>
                       <span >ASU Watch</span>
                    </div>
                </td>
                <td>
                  <div class="pull-right">
                     <table class="tb_secondmenu">
                        <tr>
                          <td class="tb_secondmenu_item" >
                              <a href="#" class="a_secondmenu_item " target="parameter" >技术参数</a> 
                          </td>
                            <td  class="tb_secondmenu_item" >
                              <a href="#" class="a_secondmenu_item " target="fitting">精品配件</a> 
                            </td> 
                            <td  class="tb_secondmenu_item" >
                              <a href="#" class="a_secondmenu_item " target="advice">安全使用建议</a>
                            </td> 
                            <td class="buy"  >
                              <a href="javascript:;" >立即购买</a>
                            </td> 
                        </tr>
                      </table>
                  </div><!-- end pull right -->
                </td>
            </tr>
         </table>
      </div>
    </div> <!-- second menu container -->
    <div class="character">
        <section class="sec1-show items"> 
            <div class="image-text show1 white">
                  <div class="show-t">看/投影</div>
                  <div class="show-msg">光影|是最靠近灵魂的东西</div>
              <table>
                <tr>
                    <td><img src="/static/img/icon/s1_1.svg" /></td>
                    <td><img src="/static/img/icon/s1_2.svg" /></td>
                    <td><img src="/static/img/icon/s1_3.svg" /></td>
                    <td><img src="/static/img/icon/s1_4.svg" /></td>
                </tr>
                <tr>
                    <td>15流明亮度</td>
                    <td>720P高清画质</td>
                    <td>2-60英寸</td>
                    <td>自如切换</td>
                  </tr>
              </table>
            </div>
              <div class="roll-tip-holder" >
               <a href="javascri[pt" class="white_a product_pic_1"  target="sub-item11"> 
                 <div class="roll-tip"> 
                    <img class="up_down" src="/static/img/icon/up_down.svg"> 
                </div>
                了解更多
              </a>
              </div><!-- roll tip end-->  
        </section><!-- end items -->
        <section class="container-fluid sec1-hide items sub-item " id="sub-item11"> 
            <div class="image-text hide-text">
                <div class="orange">天气APP</div>
                <ul class="mb">
                  <li>实时展示当地天气信息</li>
                  <li>天气动效投影在手背上，查看效果更佳</li>
                </ul>
                <div class="orange">微信APP</div>
                <ul>
                  <li>支持手机扫码登录</li>
                  <li>支持微信对话</li>
                </ul>
              </div> 
              <div class="roll-tip-up text-center" >
                          <img class="up" src="/static/img/icon/up.svg">
              </div><!-- roll tip up end-->
        </section><!-- end sub items -->
         <section class="container-fluid sec2-show"> 
            <div class="image-text show2 white">
                <div class="show-t">听/高清音质蓝牙耳机</div>
                <div class="show-msg">希声|是最乎于心跳的律动</div>
            <table>
              <tr>
                <td><img src="/static/img/icon/s2_1.svg" /></td>
                <td><img src="/static/img/icon/s2_2.svg" /></td>
                <td><img src="/static/img/icon/s2_3.svg" /></td>
                <td><img src="/static/img/icon/s2_4.svg" /></td>
              </tr>
              <tr>
                  <td>杜比音效</td>
                  <td>骨膜传导</td>
                  <td>蓝牙4.0</td>
                  <td>抗噪</td>
                </tr>
            </table>
          </div>
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_1"  target="sub-item1"> 
                 <div class="roll-tip"> 
                    <img class="up_down" src="/static/img/icon/up_down.svg">
                </div>
                了解更多
              </a>
              </div><!-- roll tip end-->  
        </section><!-- end items -->
        <section class="container-fluid sec2-hide items sub-item " id="sub-item1"> 
              <div class="roll-tip-up" >
                  <img class="up" src="/static/img/icon/up.svg">
              </div><!-- roll tip up end--> 
              <div class="image-text hide-text">
                  <div class="orange">电话APP</div>
                  <ul class="mb">
                    <li>支持接打电话</li>
                    <li>支持本地通讯录</li>
                    <li>电话号码手背投影显示，点击手背接听</li>
                  </ul>
                  <div class="orange">音乐APP</div>
                  <ul>
                    <li>播放手表本地连接手机播放歌曲</li>
                    <li>将歌曲歌词投影在手背上，方便查看</li>
                  </ul>
                </div> 
        </section><!-- end sub items -->
        <section class="container-fluid items sec3-show"> 
            <div class="image-text show3 white">
                <div class="show-t">触/双屏显示+虚拟触控</div>
                <div class="show-msg">未来|是可望又可及的交错</div>
            <table>
              <tr>
                  <td><img src="/static/img/icon/s3_1.svg" /></td>
                  <td><img src="/static/img/icon/s3_2.svg" /></td>
                  <td><img src="/static/img/icon/s3_3.svg" /></td>
                  <td><img src="/static/img/icon/s3_4.svg" /></td>
              </tr>
              <tr>
                  <td>2.6寸物理屏幕</td>
                  <td>2.8寸虚拟屏幕</td>
                  <td>手势操作</td>
                  <td>皮肤触控</td>
                </tr>
            </table>
          </div>
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_2"  target="sub-item2"> <div class="roll-tip"> 
                      <img class="up_down" src="/static/img/icon/up_down.svg">  
                </div>
                了解更多</a>
              </div><!-- roll tip end--> 
            </section>
              <section class="container-fluid items sec3-hide sub-item " id="sub-item2"> 
                  <div class="image-text hide-text">
                      <div class="orange">来画APP</div>
                      <ul class="mb">
                        <li>通过在物理屏幕完成画作，<br>在手背上投影出相应图案或分享给朋友</li>
                      </ul>
                      <div class="orange">Show APP</div>
                      <ul>
                        <li>从show store中选择动画效果,<br>show出你的态度</li>
                        <li>投影精美制作的动画效果到手背上</li>
                      </ul>
                    </div> 
                  <div class="roll-tip-up" >
                      <img class="up" src="/static/img/icon/up.svg">
                  </div><!-- roll tip up end--> 
            </section><!-- end sub items -->

        
        

         <section class="container-fluid items sec4-show"> 
            <div class="image-text show4 white">
                <div class="show-t">感/体感</div>
                <div class="show-msg">现在|是每个追寻更好自己的瞬间</div>
            <table>
              <tr>
                  <td><img src="/static/img/icon/s4_1.svg" /></td>
                  <td><img src="/static/img/icon/s4_2.svg" /></td>
                  <td><img src="/static/img/icon/s4_3.svg" /></td>
                  <td><img src="/static/img/icon/s4_4.svg" /></td>
              </tr>
              <tr>
                  <td>心率监测</td>
                  <td>GPS导航</td>
                  <td>陀螺仪测速</td>
                  <td>十指触控</td>
                </tr>
            </table>
          </div>
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_2"  target="sub-item3"> <div class="roll-tip"> 
                      <img class="up_down" src="/static/img/icon/up_down.svg">  
                </div>
                了解更多</a>
              </div><!-- roll tip end--> 
            </section><!-- end items -->
              <section class="container-fluid items sub-item sec4-hide" id="sub-item3"> 
                  <div class="image-text hide-text">
                      <div class="orange">健康APP</div>
                      <ul class="mb">
                        <li>自动记录每天运动步数</li>
                        <li>自动计算并显示运动水平</li>
                        <li>心率测试</li>
                        <li>关键数据投影在手背上，展示更多信息</li>
                      </ul>
                      <div class="orange">跑步 APP</div>
                      <ul>
                        <li>记录跑步关键数据</li>
                        <li>跑步中手背投影运动关键数据，如配速、<br>距离等,查看更方便</li>
                      </ul>
                    </div> 
                  <div class="roll-tip-up" >
                      <img class="up" src="/static/img/icon/up.svg">
                  </div><!-- roll tip up end--> 
                  
            </section><!-- end sub items -->
      </div><!-- 特性介绍结束 -->

    <div class="parameter">
        <div class="second_menu_holder">
        <div class="container second_menu">
          <div class="row" >
            <div class="col-xs-12">
                <div class="titleline">  
                  <div class="items_holder">
                    <h2 class="yellowcolor">技术参数</h2>
                    <a href="首页.html">首页</a>
                    <a href="产品图.html">/ Watch</a>
                    <a href="#">/ 技术参数</a> 
                  </div> 
                </div>
            </div>
              
          </div>
        </div>
        </div>
        <div class="container-fluid">
          <img class="advertising" src="/static/img/product/canshu.jpg" alt=""/>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="list-wrap">
                  <div class="col-xs-2">外观</div>
                  <div class="col-xs-9">
                    <div>长宽高:TBD</div>
                    <div>重量:TBD</div>
                    <div>屏幕尺寸:16英寸</div>
                  </div>
                </div>
                <div class="cut-off clearfix">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-9"></div>
                </div>
                <div class="list-wrap">
                    <div class="col-xs-2">性能</div>
                    <div class="col-xs-9">
                      <div>CPU:高通MSM8009W四核处理器,1.2GHz主频</div>
                      <div>内存:1GB RAM+8GB ROM</div>
                      <div>系统:Android 5.1深度定制U OS操作系统,支持个性表盘主体界面</div>
                    </div>
                  </div>
                  <div class="cut-off clearfix">
                      <div class="col-xs-2"></div>
                      <div class="col-xs-9"></div>
                  </div>
                  <div class="list-wrap">
                      <div class="col-xs-2">电池容量</div>
                      <div class="col-xs-9">
                        <div>1000mAh，待机时间24小时</div>
                      </div>
                    </div>
                    <div class="cut-off clearfix">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-9"></div>
                    </div>
                    <div class="list-wrap">
                        <div class="col-xs-2">功能表</div>
                        <div class="col-xs-9">
                          <div>eSIM卡（√）</div>
                          <div>4G（√）</div>
                          <div>P-Sensor（√）</div>
                          <div>Hall Switch（√）</div>
                          <div>重力感应（√）</div>
                          <div>陀螺仪（√）</div>
                          <div>自动亮屏（√）</div>
                        </div>
                      </div>
              </div>
          </div>
    </div><!-- 技术特性介绍结束 -->

    <section class="scene">
      <div class="container ">
        <div class="row" >
          <div class="col-xs-12 ">
              <div class="titleline">
                  Cast II / <span class="yellowcolor" >应用场景</span>
              </div>
           </div>
          <div class="col-xs-12 scene_img"> 
                 <img src="/static/img/scene.png" > 
                 <div class="panel panel-default panel-menu">
                   <div class="panel-body">
                     <table>
                       <tr class="active">
                         <td>
                           <a href="">双屏显示</a>
                         </td>
                       </tr>
                       <tr>
                         <td>
                           <a href="">独立通话</a>
                         </td>
                       </tr>
                       <tr>
                         <td>
                           <a href="">消息提醒</a>
                         </td>
                       </tr>
                       <tr>
                         <td>
                           <a href="">丰富定制APP</a>
                         </td>
                       </tr>
                       <tr>
                         <td>
                           <a href="">桌面娱乐</a>
                         </td>
                       </tr>
                     </table>
                   </div>
                 </div> <!-- 菜单panel结束 -->

                 <div class="panel panel-default panel-vedio">
                    <div class="panel-body">
                        查看视频
                    </div>
                 </div>
                 <div class="roll-tip">
                   <table>
                     <tr>
                       <td>
                           <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
                       </td>
                     </tr>
                    <tr>
                       <td>
                            <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                       </td>
                     </tr>
                     <tr>
                       <td>
                            <span>了解更多</span>
                       </td>
                     </tr>
                   </table>
                 </div><!-- roll tip end-->
           </div>  
         </div>
      </div>
      <div class="container container-center div-roll-tip-up">  
           <div class="roll-tip-up">
                  <img class="up" src="/static/img/icon/up.svg">
           </div><!-- roll tip up end--> 
              <div class="col-sm-5 col-md-5 col-lg-5 col-para">
              </div>
              <div class="col-sm-5 col-md-5 col-lg-5 col-para pull-right">
              </div> 
      </div>
    </section><!-- 应用场景介绍结束 -->

    
    <div class="fitting">
      <div class="second_menu_holder">
      <div class="container ">
        <div class="row" >
          <div class="col-xs-12 ">
              <div class="titleline">
                  <div class="items_holder">
                    <h2 class="yellowcolor">精品配件</h2>
                    <a href="首页.html">首页</a>
                    <a href="产品图.html">/ Watch</a>
                    <a href="#">/ 精品配件</a> 
                  </div> 
              </div>
           </div>
        </div>
      </div>
      
      </div>
      <div class="container-fluid fixed-position">
          <img class="parts-img" class="advertising" src="/static/img/product/parts.jpg" alt=""/>
          <a class="learn_more" href="javascript:;">了解更多
              <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>
      
        <div class="container">
            <div class="list-wrap">
              <div class="col-xs-2">外观</div>
              <div class="col-xs-9">
                <div>长宽高:TBD</div>
                <div>重量:TBD</div>
                <div>屏幕尺寸:16英寸</div>
              </div>
            </div>
            <div class="cut-off clearfix">
                <div class="col-xs-2"></div>
                <div class="col-xs-9"></div>
            </div>
            <div class="list-wrap">
                <div class="col-xs-2">性能</div>
                <div class="col-xs-9">
                  <div>CPU:高通MSM8009W四核处理器,1.2GHz主频</div>
                  <div>内存:1GB RAM+8GB ROM</div>
                  <div>系统:Android 5.1深度定制U OS操作系统,支持个性表盘主体界面</div>
                </div>
              </div>
              <div class="cut-off clearfix">
                  <div class="col-xs-2"></div>
                  <div class="col-xs-9"></div>
              </div>
              <div class="list-wrap">
                  <div class="col-xs-2">电池容量</div>
                  <div class="col-xs-9">
                    <div>1000mAh，待机时间24小时</div>
                  </div>
                </div>
                <div class="cut-off clearfix">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-9"></div>
                </div>
                <div class="list-wrap">
                    <div class="col-xs-2">功能表</div>
                    <div class="col-xs-9">
                      <div>eSIM卡（√）</div>
                      <div>4G（√）</div>
                      <div>P-Sensor（√）</div>
                      <div>Hall Switch（√）</div>
                      <div>重力感应（√）</div>
                      <div>陀螺仪（√）</div>
                      <div>自动亮屏（√）</div>
                      <div>热点共享（√）</div>
                      <div>蓝牙（√）</div>
                      <div>Wifi（√）</div>
                      <div>GPS（√）</div>
                      <div>心率感应（√）</div>
                      <div>手机端APP远程操控（√）</div>
                      <div>Home Dock扩展坞（√）</div>
                    </div>
                  </div>
          </div>
    </div><!-- 配件介绍结束 -->
    

    <div class="advice">
     <div class="second_menu_holder">
      <div class="container">
        <div class="row" >
          <div class="col-xs-12 ">
              <div class="titleline">
                 <div class="items_holder">
                    <h2 class="yellowcolor">安全使用建议</h2>
                    <a href="首页.html">首页</a>
                    <a href="产品图.html">/ Wacth</a>
                    <a href="#">/ 安全使用建议</a> 
                  </div> <!-- end items_holder -->
              </div><!-- end titleline -->
           </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end container -->
    </div><!-- end second_menu_holder -->
            <div>  
                <img class="summary" class="advertising" src="/static/img/product/summary.jpg" alt=""/>
            </div>
            <div>  
                <img class="advice-details" class="advertising" src="/static/img/product/advice-details.jpg" alt=""/>
            </div>
            
    </div><!-- 安全使用建议介绍结束 -->
    <div class="scroll-tip">
        
              <ul class="btn-list">
                <li>
                  <a href="javascript:;" target="black_">个人中心
                    <img src="/static/img/icon/geren.svg" />
                  </a>
                </li>
                <li>
                  <a href="javascript:;" target="black_">在线咨询
                    <img src="/static/img/icon/zixun.svg" />
                  </a>
                </li>
                <li>
                  <a href="javascript:;" target="black_">店面查询
                    <img src="/static/img/icon/dianmian.svg" />
                  </a>
                </li>
                <li>
                  <a href="javascript:;" target="black_">微信群
                    <img src="/static/img/icon/qun.svg" />
                  </a>
                </li>
                <li>
                  <a href="javascript:;" target="black_">使用手册下载
                    <img src="/static/img/icon/shouce.svg" />
                  </a>
                </li>
              
              </ul>
              <div id="show-btn">
                  <img src="/static/img/icon/jia.svg" />
                </div>
              <div class="scroll-up">
                  <img class="up" src="/static/img/icon/up.svg">
              </div>
      
    </div>
    
    {% endblock %}
    
    {% block js %}
    <script src="/static/js/cast2.js"></script>
    <!--<script src="/static/plugins/jquery.threesixty.js"></script>
     
    <script>
      $(document).ready(function(){
            $('.threesixty').threeSixty({
                dragDirection: 'horizontal',
                useKeys: false
            });
        }); 
    </script>-->
    <script src="/static/plugins/threesixty-slider/threesixty.min.js"></script>
    <script>
      $(document).ready(function(){
            var product;
            function init(){ 
                var images = [];
                for(var i = 1; i < 30; i+=1)
                {
                    images.push('/static/img/360pics/'+i+'.png');
                }
                product1 = $('.product360').ThreeSixty({
                    totalFrames: 72, // Total no. of image you have for 360 slider
                    endFrame: 72, // end frame for the auto spin animation
                    currentFrame: 1, // This the start frame for auto spin
                    imgList: '.threesixty_images', // selector for image list
                    progress: '.spinner', // selector to show the loading progress
                    imagePath:'/static/img/360pics/', // path of the image assets 
                    ext: '.png', // extention for the assets
                    height: 265,
                    width: 400,
                    navigation: true,
                    disableSpin: true // Default false
                });
            
            }
        }); 
    </script>
    {% endblock %}
  
