{% extends 'm_base.html' %}
{% block pagetitle%}一数科技&nbsp;watch{% endblock%}
{% block css %} 
<link href="/static/products/css/m_cast2.css"  rel="stylesheet">
{% endblock %} 
{% block content %} 
    <div class="img360_holder">
    
        <div class="threesixty" data-path="/static/img/360pics/watch.{index}.png" data-count="30"></div>
        <div class="img360-text show360">
            <div class="white text-center">
                <img src="/static/img/icon/360.svg">
            </div>
            <div class="text-center fs30 image-text white">
                <span>未来&nbsp;/&nbsp;一“触”即现</span>
            </div>
            <p class="p_title_2 text-center">
                <img id="to_next" src="/static/img/icon/down.svg" />
            </p>
        </div>
    </div>
    <div class="container-second-menu ">
        <div class="container second-menu clearfix p-r">
            <div class="pull-left submenu">ASU Watch<img src="/static/img/xiala.png" />
            </div>
            <div class="pull-right buy">
                <a href="/book/buy/">
                    <span class="white">立即购买</span>
                </a>
            </div>
            <ul id="more">
                <li class="tb_secondmenu_item">
                    <a href="#" class="a_secondmenu_item " target="parameter">技术参数</a>
                </li>
                <li class="tb_secondmenu_item">
                    <a href="#" class="a_secondmenu_item " target="fitting">精品配件</a>
                </li>
    
                <li class="tb_secondmenu_item">
                    <a href="#" class="a_secondmenu_item " target="advice">安全使用建议</a>
                </li>
                <li class="back">
                返回
                </li>
            </ul>
    
        </div>
    </div> <!-- second menu container -->
    <div class="character">
        <section class="sec1-show items"> 
            <div class="show1 white show">
                  <div class="image-text show-t">看&nbsp;／&nbsp;投影</div>
                  <div class="show-msg">光影&nbsp;丨&nbsp;是最靠近灵魂的东西</div>
              <table>
                <tr>
                    <td><img src="/static/img/icon/s1_1.svg" /></td>
                    <td><img src="/static/img/icon/s1_2.svg" /></td>
                    <td><img src="/static/img/icon/s1_3.svg" /></td>
                </tr>
                <tr>
                    <td>18流明亮度</td>
                    <td>广色域</td>
                    <td>手背2.3寸</td>
                  </tr>
              </table>
            </div>
              <div class="roll-tip-holder" >
               <a id="test" href="javascript:;" class="white_a product_pic_1"  target="sub-item11"> 
                 <div class="roll-tip"> 
                    <img class="up_down" src="/static/img/icon/up_down.svg"> 
                </div>
                了解更多
              </a>
              </div><!-- roll tip end-->  
        </section><!-- end items -->
        <section class="container-fluid sec1-hide items sub-item " id="sub-item11"> 
                <div class="hide-left p-r text-center">
                        <img class="hide-watch" src="/static/img/product/1/img-1-1.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-2.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-3.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-4.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-5.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-6.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-7.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-8.png" alt="">
                        <img class="hide-watch" src="/static/img/product/1/img-1-9.png" alt="">
                    </div>
                    <div class="hide-right p-r grey">
                        <div>
                            <!-- <ul class="clearfix">
                                    <li>
                                            <img class="icon-img act-icon" src="/static/img/product/1/icon-1-1.png">
                                    </li>
                                    <li>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-2.png">
                                    </li>
                                    <li>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-3.png">
                                    </li>
                                    <li>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-4.png">
                                    </li>
                                    <li>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-5.png">
                                    </li>
                                    <li>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-6.png">
                                    </li>
                                    
                            </ul>
                            <ul class="clearfix">
                                <li>
                                    <img class="icon-img" src="/static/img/product/1/icon-1-7.png">
                            </li>
                            <li>
                                    <img class="icon-img" src="/static/img/product/1/icon-1-8.png">
                            </li>
                            <li>
                                    <img class="icon-img" src="/static/img/product/1/icon-1-9.png">
                            </li>
                            </ul> -->
                            <table class="first-icon">
                                <tr>
                                    <td>
                                            <img class="icon-img act-icon" src="/static/img/product/1/icon-1-1.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-2.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-3.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-4.png">
                                    </td>
                                    <td>
                                            <img class="icon-img" src="/static/img/product/1/icon-1-5.png">
                                    </td>
                                   
                                    
                                </tr>
                                <tr>
                                        <td>
                                                <img class="icon-img" src="/static/img/product/1/icon-1-6.png">
                                        </td>
                                    <td>
                                        <img class="icon-img" src="/static/img/product/1/icon-1-7.png">
                                </td>
                                <td>
                                        <img class="icon-img" src="/static/img/product/1/icon-1-8.png">
                                </td>
                                <td>
                                        <img class="icon-img" src="/static/img/product/1/icon-1-9.png">
                                </td>
                                </tr>
                            </table>
                            <div class="hide-text db">
                                <div class="image-text orange">天气&nbsp;APP</div>
                                <p>实时展示当地天气信息</p>
                                <p>天气动效投影到手臂上，查看效果更佳</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">微信&nbsp;APP</div>
                                <p>支持手机扫码登陆</p>
                                <p>支持手写输入</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">电话&nbsp;APP</div>
                                <p>支持接打电话</p>
                                <p>支持本地通讯录</p>
                                <p>电话号码手背投影显示，点击手背接听</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">音乐&nbsp;APP</div>
                                <p>可播放手机同步的音乐</p>
                                <p>将歌曲歌词投影在手背上，方便查看</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">健康&nbsp;APP</div>
                                <p>自动记录每天运动步数</p>
                                <p>自动计算并显示运动水平</p>
                                <p>心率测量</p>
                                <p>关键数据投影在手背上，展示更多信息</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">来画&nbsp;APP</div>
                                <p>通过在物理屏幕完成画作，在手背上投影出相应图案</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">Show&nbsp;APP</div>
                                <p>从show store中选择动画效果，show出你的态度</p>
                                <p>投影精美制作的动画效果到手背上</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">跑步&nbsp;APP</div>
                                <p>记录跑步关键数据</p>
                                <p>跑步中手背投影运动关键数据，如配速、距离等，查看更方便</p>
                            </div>
                            <div class="hide-text">
                                <div class="image-text orange">U＋&nbsp;APP</div>
                                <p>控制海尔智能空调</p>
                            </div>
                        </div>
                    </div>
              <div class="roll-tip-up text-center" >
                          <img class="up" src="/static/img/icon/up.svg">
              </div><!-- roll tip up end-->
        </section><!-- end sub items -->
         <section class="container-fluid items sec2-show"> 
            <div class="show2 show white">
                <div class="image-text show-t">听&nbsp;／&nbsp;高清音质蓝牙耳机</div>
                <div class="show-msg">希声&nbsp;丨&nbsp;是最乎于心跳的律动</div>
            <table>
              <tr>
                <td><img src="/static/img/icon/s2_1.svg" /></td>
                <td><img src="/static/img/icon/s2_2.svg" /></td>
                <td><img src="/static/img/icon/s2_3.svg" /></td>
              </tr>
              <tr>
                  <td>金属机身</td>
                  <td>蓝牙4.1</td>
                  <td>CVC消噪</td>
                </tr>
            </table>
          </div>
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_1"  target="sub-item1"> 
                 <div class="roll-tip"> 
                    <img class="up_down" src="/static/img/icon/up_down.svg">
                </div>
                了解更多
              </a>
              </div><!-- roll tip end-->  
        </section><!-- end items -->
        <section class="container-fluid sec2-hide items sub-item " id="sub-item1"> 
              <div class="roll-tip-up" >
                  <img class="up" src="/static/img/icon/up.svg">
              </div><!-- roll tip up end--> 
              <div class="hide-left p-r text-center">
                    <img class="hide-watch" src="/static/img/product/2/img-2-1.png" alt="">
                    <img class="hide-watch" src="/static/img/product/2/img-2-2.png" alt="">
                    <img class="hide-watch" src="/static/img/product/2/img-2-3.png" alt="">
                    <img class="hide-watch" src="/static/img/product/2/img-2-4.png" alt="">
                </div>
                <div class="hide-right p-r grey">
                    <div>
                        <table>
                            <tr>
                                <td>
                                        <img class="icon-img act-icon" src="/static/img/product/2/icon-2-1.png">
                                </td>
                                <td>
                                        <img class="icon-img" src="/static/img/product/2/icon-2-2.png">
                                </td>
                                <td>
                                        <img class="icon-img" src="/static/img/product/2/icon-2-3.png">
                                </td>
                                <td>
                                        <img class="icon-img" src="/static/img/product/2/icon-2-4.png">
                                </td>
                            </tr>
                        </table>
                        <div class="hide-text db">
                            <div class="image-text orange">电话&nbsp;APP</div>
                            <p>支持接打电话</p>
                            <p>支持本地通讯录</p>
                            <p>电话号码手背投影显示，点击手背接听</p>
                        </div>
                        <div class="hide-text">
                            <div class="image-text orange">音乐&nbsp;APP</div>
                            <p>可播放手机同步的音乐</p>
                                <p>将歌曲歌词投影在手背上，方便查看</p>
                        </div>
                        <div class="hide-text">
                            <div class="image-text orange">跑步&nbsp;APP</div>
                            <p>记录跑步关键数据</p>
                            <p>跑步中手背投影运动关键数据，如配速、距离等，查看更方便</p>
                        </div>
                            <div class="hide-text">
                                <div class="image-text orange">Show&nbsp;APP</div>
                                <p>从show store中选择动画效果，show出你的态度</p>
                                <p>投影精美制作的动画效果到手背上</p>
                            </div>
                    </div>
                </div>
        </section><!-- end sub items -->
        <section class="container-fluid items sec3-show"> 
            <div class="show3 show white">
                <div class="image-text show-t">触&nbsp;／&nbsp;双屏显示+虚拟触控</div>
                <div class="show-msg">未来&nbsp;丨&nbsp;是可望又可及的交错</div>
            <table>
              <tr>
                  <td><img src="/static/img/icon/s3_1.svg" /></td>
                  <td><img src="/static/img/icon/s3_2.svg" /></td>
                  <td><img src="/static/img/icon/s3_3.svg" /></td>
                  <td><img src="/static/img/icon/s3_4.svg" /></td>
              </tr>
              <tr>
                  <td>1.54″物理屏幕</td>
                  <td>2.3″虚拟屏幕</td>
                  <td>手势操作</td>
                  <td>皮肤触控</td>
                </tr>
            </table>
          </div>
              <div class="roll-tip-holder" >
               <a href="" class="white_a product_pic_2"  target="sub-item2"> <div class="roll-tip"> 
                      <img class="up_down" src="/static/img/icon/up_down.svg">  
                </div>
                了解更多</a>
              </div><!-- roll tip end--> 
            </section>
            <section class="container-fluid items sec3-hide sub-item " id="sub-item2">
                    <div class="hide-left p-r text-center">
                            <img class="hide-watch" src="/static/img/product/3/img-3-1.png" alt="">
                            <img class="hide-watch" src="/static/img/product/3/img-3-2.png" alt="">
                            <img class="hide-watch" src="/static/img/product/3/img-3-3.png" alt="">
                            <img class="hide-watch" src="/static/img/product/3/img-3-4.png" alt="">
                        </div>
                        <div class="hide-right p-r grey">
                            <div>
                                <table>
                                    <tr>
                                        <td>
                                                <img class="icon-img act-icon" src="/static/img/product/3/icon-3-1.png" imgid="1">
                                        </td>
                                        <td>
                                                <img class="icon-img" src="/static/img/product/3/icon-3-2.png" imgid="2">
                                        </td>
                                        <td>
                                                <img class="icon-img" src="/static/img/product/3/icon-3-3.png" imgid="3">
                                        </td>
                                        <td>
                                                <img class="icon-img" src="/static/img/product/3/icon-3-4.png" imgid="4">
                                        </td>
                                    </tr>
                                </table>
                                <div class="hide-text db">
                                    <div class="image-text orange">Show&nbsp;APP</div>
                                    <p>从show stroe中选择动画特效，show出你的态度</p>
                                    <p>投影制作精美的动画到手背上</p>
                                </div>
                                <div class="hide-text">
                                    <div class="image-text orange">电话&nbsp;APP</div>
                            <p>支持接打电话</p>
                            <p>支持本地通讯录</p>
                            <p>电话号码手背投影显示，点击手背接听</p>
                                </div>
                                <div class="hide-text">
                                    <div class="image-text orange">跑步&nbsp;APP</div>
                                    <p>记录跑步关键数据</p>
                                    <p>跑步中手背投影运动关键数据，如配速、距离等，查看更方便</p>
                                </div>
                                <div class="hide-text">
                                    <div class="image-text orange">健康&nbsp;APP</div>
                                <p>自动记录每天运动步数</p>
                                <p>自动计算并显示运动水平</p>
                                <p>心率测量</p>
                                <p>关键数据投影在手背上，展示更多信息</p>
                                </div>
                            </div>
                        </div>
                <div class="roll-tip-up">
                    <img class="up" src="/static/img/icon/up.svg">
                </div>
                <!-- roll tip up end-->
            </section>
            <!-- end sub items -->

        
        

        <section class="container-fluid items sec4-show">
            <div class="show4 show white">
                <div class="image-text show-t">感&nbsp;／&nbsp;体感</div>
                <div class="show-msg">现在&nbsp;丨&nbsp;是每个追寻更好自己的瞬间</div>
                <table>
                    <tr>
                        <td>
                            <img src="/static/img/icon/s4_1.svg" />
                        </td>
                        <td>
                            <img src="/static/img/icon/s4_2.svg" />
                        </td>
                        <td>
                            <img src="/static/img/icon/s4_3.svg" />
                        </td>
                    </tr>
                    <tr>
                        <td>心率监测</td>
                        <td>GPS</td>
                        <td>陀螺仪</td>
                    </tr>
                </table>
            </div>
            <div class="roll-tip-holder">
                <a href="" class="white_a product_pic_2" target="sub-item3">
                    <div class="roll-tip">
                        <img class="up_down" src="/static/img/icon/up_down.svg">
                    </div>
                    了解更多</a>
            </div>
            <!-- roll tip end-->
        </section>
        <!-- end items -->
        <section class="container-fluid items sub-item sec4-hide" id="sub-item3">
                <div class="roll-tip-up">
                        <img class="up" src="/static/img/icon/up.svg">
                    </div>
            <div class="hide-left p-r text-center">
                <img class="hide-watch" src="/static/img/product/4/img-4-1.png" alt="">
                <img class="hide-watch" src="/static/img/product/4/img-4-2.png" alt="">
            </div>
            <div class="hide-right p-r grey">
                <div>
                    <table>
                        <tr>
                            <td>
                                    <img class="icon-img act-icon" src="/static/img/product/4/icon-4-1.png">
                            </td>
                            <td>
                                    <img class="icon-img" src="/static/img/product/4/icon-4-2.png">
                            </td>
                        </tr>
                    </table>
                    
                    <div class="hide-text db">
                        <div class="image-text orange">健康&nbsp;APP</div>
                    <p>自动记录每天运动步数</p>
                    <p>自动计算并显示运动水平</p>
                    <p>心率测量</p>
                    <p>关键数据投影在手背上，展示更多信息</p>
                    </div>
                    <div class="hide-text">
                        <div class="image-text orange">跑步&nbsp;APP</div>
                        <p>记录跑步关键数据</p>
                        <p>跑步中手背投影运动关键数据，如配速、距离等，查看更方便</p>
                    </div>
                </div>
            </div>
        
        </section>
        <!-- end sub items -->
      </div><!-- 特性介绍结束 -->

    <div class="parameter">
        <div class="second_menu_holder">
            <div class="container second_menu">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="titleline">
                            <div class="items_holder">
                                <h2 class="yellowcolor">技术参数</h2>
                                <a href="首页.html">首页</a>
                                <span>/&nbsp;Watch</span>
                                <span>/&nbsp;技术参数</span>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="container-fluid row">
            <img class="advertising" src="/static/img/product/canshu_m.png" alt="" />
            <!-- <table class="title-text white">
                <tr>
                    <td class="f18 text-center mid">ASU Watch</td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td>
                        <img class="tb-icon" src="/static/img/icon/canshu1.svg" alt="" />
                        <p>高通MSM8909四核处理器</p>
                    </td>
                    <td>
                            <img class="tb-icon" src="/static/img/icon/canshu2.svg" alt="" />
                            <p>8GB ROM</p>
                    </td>
                </tr>
                <tr class="text-center">
                        <td>
                            <img class="tb-icon" src="/static/img/icon/canshu3.svg" alt="" />
                            <p>1GB RAM</p>
                        </td>
                        <td>
                                <img class="tb-icon" src="/static/img/icon/canshu4.svg" alt="" />
                                <p>待机时间24小时</p>
                        </td>
                    </tr>
            </table> -->
        </div>
        <div class="container-fluid">
            <div class="mt60mb120">
                <div class="list-wrap clearfix row">
                    <div class="col-xs-12 fs16">显示</div>
                    <div class="col-xs-3">
                        <div>物理屏</div>
                        <div>虚拟屏</div>
                        <div>投影亮度</div>
                    </div>
                    <div class="col-xs-7">
                        <div>1.54″,240*240 </div>
                        <div>2.3″,480*854</div>
                        <div>18lm</div>
                    </div>
                </div>
                <div class="cut-off clearfix row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-7"></div>
                </div>
                <div class="list-wrap clearfix row">
                    <div class="col-xs-12 fs16">性能</div>
                    <div class="col-xs-3">
                        <div>使用时长</div>
                        <div>存储</div>
                        <div>CPU</div>
                        <div>防水防尘</div>
                    </div>
                    <div class="col-xs-7">
                        <div>1天（650mAh）</div>
                        <div>1GB RAM+8GB ROM</div>
                        <div>高通4核处理器，最高主频1.2GHz</div>
                        <div>IP65</div>
                    </div>
                </div>
                <div class="cut-off clearfix row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-7"></div>
                </div>
                <div class="list-wrap clearfix row">
                    <div class="col-xs-12 fs16">网络</div>
                    <div class="col-xs-3">
                        <div>GSM</div>
                        <div>WCDMA</div>
                        <div>4G-LTE</div>
                        <div>运营商</div>
                    </div>
                    <div class="col-xs-7">
                        <div>1800</div>
                        <div>band1</div>
                        <div>Band1/3/38/39/40/41</div>
                        <div>支持移动，联通Naon-SIM卡</div>
                    </div>
                </div>
                <div class="cut-off clearfix row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-7"></div>
                </div>
                <div class="list-wrap clearfix row">
                        <div class="col-xs-12 fs16">无线&传感器</div>
                    <div class="col-xs-3">
                        <div>GPS</div>
                        <div>Wi-Fi</div>
                        <div>蓝牙</div>
                        <div>心率传感器</div>
                        <div>电子指南针</div>
                        <div>重力感应器</div>
                        <div>陀螺仪</div>
                    </div>
                    <div class="col-xs-7">
                        <div>yes</div>
                        <div>yes</div>
                        <div>BT4.1,支持BLE</div>
                        <div>yes</div>
                        <div>yes</div>
                        <div>yes</div>
                        <div>yes</div>
                    </div>
                </div>
                <div class="cut-off clearfix row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-7"></div>
                </div>
                <div class="list-wrap clearfix row">
                        <div class="col-xs-12 fs16">接口</div>
                    <div class="col-xs-3">
                        <div>充电接口</div>
                        <div>卡槽</div>
                    </div>
                    <div class="col-xs-7">
                        <div>5 PIN</div>
                        <div>Nano-SIM</div>
                    </div>
                </div>
                <div class="cut-off clearfix row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-7"></div>
                </div>
                <div class="list-wrap clearfix row">
                        <div class="col-xs-12 fs16">电池和充电</div>
                    <div class="col-xs-3">
                        <div>电池容量</div>
                        <div>充电时间</div>
                    </div>
                    <div class="col-xs-7">
                        <div>典型值为650mAh</div>
                        <div>0~100%，约为100分钟</div>
                    </div>
                </div>
                <div class="cut-off clearfix row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-7"></div>
                </div>
                <div class="list-wrap clearfix row">
                        <div class="col-xs-12 fs16">尺寸</div>
                    <div class="col-xs-3">
                        <div>物理尺寸</div>
                    </div>
                    <div class="col-xs-7">
                        <div>46*52*17.8mm</div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <!-- 技术特性介绍结束 -->

    
    <div class="fitting">
        <div class="second_menu_holder">
            <div class="container ">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="titleline">
                            <div class="items_holder">
                                <h2 class="yellowcolor">精品配件</h2>
                                <a href="首页.html">首页</a>
                                <span>/&nbsp;Watch</span>
                                <span>/&nbsp;精品配件</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="container-fluid fixed-position row">
            <img class="parts-img" class="advertising" src="/static/img/product/parts_m.png" alt="" />
            
            <!-- <a class="learn_more fs12" href="javascript:;">了解更多
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a> -->
        </div>
    
        <div class="mt60mb120 container clearfix">
            <div class="list-wrap row">
                    <div class="col-xs-12 fs16">规范</div>
                <div class="col-xs-3">
                    <div>蓝牙规范</div>
                </div>
                <div class="col-xs-7">
                    <div>4.1</div>
                </div>
            </div>
            <div class="cut-off clearfix row">
                <div class="col-xs-3"></div>
                <div class="col-xs-7"></div>
            </div>
            <div class="list-wrap clearfix row">
                    <div class="col-xs-12 fs16">协议</div>
                <div class="col-xs-3">
                    <div>支持</div>
                </div>
                <div class="col-xs-7">
                    <div>A2DP,&nbsp;AVRCP,&nbsp; HFP, &nbsp;HSP</div>
                </div>
            </div>
            <div class="cut-off clearfix row">
                <div class="col-xs-3"></div>
                <div class="col-xs-7"></div>
            </div>
            <div class="list-wrap clearfix  row">
                <div class="col-xs-12 fs16">特性</div>
                <div class="col-xs-3">
                    <div>降噪</div>
                </div>
                <div class="col-xs-7">
                    <div>CVC降噪</div>
                </div>
            </div>
            <div class="cut-off clearfix row">
                <div class="col-xs-3"></div>
                <div class="col-xs-7"></div>
            </div>
            <div class="list-wrap clearfix row">
                <div class="col-xs-12">时长</div>
                <div class="col-xs-3">
                    <div>音乐时长</div>
                </div>
                <div class="col-xs-7">
                    <div>约2h</div>
                </div>
                <div class="col-xs-3">
                    <div>通话时长</div>
                </div>
                <div class="col-xs-7">
                    <div>约2h</div>
                </div>
                <div class="col-xs-3">
                    <div>待机时长</div>
                </div>
                <div class="col-xs-7">
                    <div>约180h</div>
                </div>
            </div>
            <div class="cut-off clearfix row">
                <div class="col-xs-3"></div>
                <div class="col-xs-7"></div>
            </div>
            <div class="list-wrap clearfix row">
                <div class="col-xs-12">电池</div>
                <div class="col-xs-3">
                    <div>充电时间</div>
                </div>
                <div class="col-xs-7">
                    <div>约1.5h</div>
                </div>
                <div class="col-xs-3">
                    <div>充电电压</div>
                </div>
                <div class="col-xs-7">
                    <div>4.2V/25mA</div>
                </div>
                <div class="col-xs-3">
                    <div>电池类型</div>
                </div>
                <div class="col-xs-7">
                    <div>锂电子电池(3.7V/35mmAh)</div>
                </div>
            </div>
            <div class="cut-off clearfix row">
                <div class="col-xs-3"></div>
                <div class="col-xs-7"></div>
            </div>
            <div class="list-wrap clearfix row">
                <div class="col-xs-12">喇叭</div>
                <div class="col-xs-3">
                    <div>单元</div>
                </div>
                <div class="col-xs-7">
                    <div>8mm动圈单元</div>
                </div>
            </div>
            <div class="cut-off clearfix row">
                <div class="col-xs-3"></div>
                <div class="col-xs-7"></div>
            </div>
            <div class="list-wrap clearfix row">
                <div class="col-xs-12">频率</div>
                <div class="col-xs-3">
                    <div>响应</div>
                </div>
                <div class="col-xs-7">
                    <div>20Hz-20kHz</div>
                </div>
            </div>
            <div class="cut-off clearfix row">
                <div class="col-xs-3"></div>
                <div class="col-xs-7"></div>
            </div>
            <div class="list-wrap clearfix row">
                <div class="col-xs-12">尺寸</div>
                <div class="col-xs-3">
                    <div>物理尺寸</div>
                </div>
                <div class="col-xs-7">
                    <div>W18*D16.5*H35.8mm</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 配件介绍结束 -->
    

    <div class="advice">
        <div class="second_menu_holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="titleline">
                            <div class="items_holder">
                                <h2 class="yellowcolor">安全使用建议</h2>
                                <a href="/">首页</a>
                                <span>/&nbsp;Watch</span>
                                <span>/&nbsp;安全使用建议</span>
                            </div>
                            <!-- end items_holder -->
                        </div>
                        <!-- end titleline -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div><!-- end second_menu_holder -->
            <div class="p-r">
                <img class="summary" class="advertising" src="/static/img/product/summary_m.png" alt="" />
                <!-- <div class="summary-text"> 一数是首家整合投影技术到穿戴设备上的品牌，
                    <br/>我们希望提供一些建议和帮助，来告知您使用腕投设备的正确方式和方法，
                    <br/> 在一个合理的范围内享受腕投带给您全新生活方式和使用体验。
                    <br/> 我们致力于激光技术的开发和研究，
                    <br/>也会第一时间告知由于 产品技术的更新带来的使用方式的改变。
                </div> -->
            </div>
            <div class="container advice-details">

                            <div>
                                    <div class="text-center"><img class="advertising advertising-big" src="/static/img/product/advice1.png" alt="" /></div>
                                    <div class="fs24">激光安全</div>
                                    <div class="gray">
                                        ASU Watch符合GB7247.1-2012标准，为2类激光产品。在手背上显示绝对安全。但使用过程中请勿使激光直射眼睛，避免强光直射眼睛造成伤害。
                                    </div>
                            </div>
                       
                   
                            <div>
                                    <div class="text-center"><img class="advertising" src="/static/img/product/advice2.png" alt="" /></div>
                                    <div class="fs24">防水防尘</div>
                                    <div class="gray">ASU Watch为IP65级产品，可以防生活溅水，但请勿将产品泡水或在游泳、洗澡时佩戴。
                                    </div>
                            </div>

                            <div>
                                    <div class="text-center"><img class="advertising" src="/static/img/product/advice5.png" /></div>
                                    <div class="fs24">设备充电</div>
                                    <div class="gray">设备的正常使用温度是5~35摄氏度，尽量避免在温度过高或过低的环境下对设备充电，在充满电后请及时断电，不要过度充电。                                   
                                    </div>
                            </div>

                            <div>
                                    <div class="text-center"><img class="advertising" src="/static/img/product/advice6.png" /></div>
                                    <div class="fs24">拆卸和检修</div>
                                    <div class="gray">如果您的设备出现故障需要维修，请与一数官方售后联系保修，请勿自行拆卸。</div>
                            </div>

                            <div>
                                    <div class="text-center"><img class="advertising" src="/static/img/product/advice3.png" /></div>
                                    <div class="fs24">电池安全</div>
                                    <div class="gray">本产品内含可充电锂离子电池，请勿将设备暴露在高温处或者发热设备的周围，如热水器、微波炉等，可能会引起爆炸。</div>
                            </div>
                     
            </div>
            
    </div>
    <!-- 安全使用建议介绍结束 -->

    <!-- 回到顶部按钮 -->
    <div class="scroll-tip">
        <div class="scroll-up">
            <img class="scroll-up-img" src="/static/img/icon/up.svg">
        </div>
    </div>
    
    {% endblock %}
    
    {% block js %}
    <script src="/static/js/m_cast2.js"></script>
    <script src="/static/plugins/jquery.threesixty.js"></script>
     <!-- Initialize Swiper -->
    <script>
      $(document).ready(function(){
          six = $('.threesixty').threeSixty({
              dragDirection: 'horizontal',
              useKeys: false
          });
         /*  var father_h = $('.img360_holder').height();
          
         if (father_h > 800)
             $('.threesixty').css({'margin-top':(father_h/6)+'px'}); */
      });
    </script>
    {% endblock %}
  
