{% extends 'base.html' %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% load i18n %}
{% block pagetitle%}体验店{% endblock%}
 {% block css %} 
<link type="text/css" rel="stylesheet" href="/static/css/HoldOn.css"> 
<link href="/static/dept/css/list.css" rel="stylesheet"> 
 {% endblock %} 
{% block content %}
{% if perm %}
<form action="" method="post">
    {%csrf_token%} 
    <input type="hidden" name="method" value="create" /> 
    <input type="hidden" id="data_type" value="0" /> 
    
    {{ form.as_p }} 
</form>
{% endif %}
<div class="container new">
        <div class="row">
                <div class="col-xs-12">
                    <div class="add-title">添加体验店</div>
                </div>
            </div>
    {% if not perm %}
        <div class="row"> 
            <div class="col-xs-4">
                <input type="text" class="form-control" id="name" placeholder="店名" value=""/>
            </div> 
            <div class="col-xs-2">
                <select   class="form-control" id="storetype"  >
                    <option value="2">旗舰店</option>
                    <option value="1">经销店</option>
                    <option value="3">加盟店</option>
                </select>   
            </div> 
            <div class="col-xs-3">
                    <input type="text" class="form-control" id="phone" placeholder="电话" value=""/>   
            </div> 
        </div>
        <div class="row"> 
                <div class="col-xs-2">
                    <select   class="form-control" id="provice" > 
                        <option value="0">{% trans "Please select" %}</option>
                    </select>
                </div> 
                <div class="col-xs-2">
                    <select   class="form-control" id="city"  > 
                    </select>   
                </div> 
                <div class="col-xs-2">
                        <select   class="form-control" id="county"  > 
                            </select>    
                </div> 
                <div class="col-xs-3">
                        <input type="text" class="form-control" id="address" placeholder="详细地址" value=""/>   
                </div> 
        </div>
        <div class="row"> 
           
            <div class="col-xs-2">
                <input type="text" class="form-control" id="latitude" placeholder="纬度" value=""/>    
            </div> 
            <div class="col-xs-2">
                <input type="text" class="form-control" id="longitude" placeholder="经度" value=""/>   
            </div> 
            <div class="col-xs-3">
                    <a href="http://lbs.amap.com/console/show/picker">访问高德经纬度拾取器</a>   
            </div> 
            <div class="col-xs-2">
                
           </div> 
    </div>
        <div class="row">
            <div>
                    {{ form.as_p }} 
            </div> 
            <div class="col-xs-12">
                    <input type="button" class="btn-text-white orange-bg  common-btn buy-btn"
                    id="add"  value="+{% trans 'Add' %}"/> 
            </div>  
        </div>
    {% endif %}
    <div class="row">
            <div class="col-xs-12 ">
                
                            <div class="table-title">体验店列表</div>
            <table class="table">
                {% for dept in depts %} 
                            <tr >
                                <td><a href="{% url "dept:list" %}?detail={{dept.id}}" >{{dept.name}}</a></td>
                                <td>{{dept.get_dept_type_display}}</td>
                                <td>{{dept.area.short_name}}</td>
                                <td>{{dept.address}}</td>
                                <td>{{dept.longitude}}</td>
                                <td>{{dept.latitude}}</td>
                                <td>{{dept.phone}}</td> 
                                <td> <input type="button" deptid="{{dept.id}}" class="btn-text-white orange-bg  common-btn delete"
                                       value="+{% trans 'Delete' %}"/> </td> 
                            </tr> 
                {% endfor %}
            </table>
        </div>
    </div>
</div>

 

{% endblock %} 
{% block js %} 
 
{{ form.media }}
<script src="/static/area/js/area.js " rel="stylesheet "></script>
<script type="text/javascript" src="/static/js/HoldOn.min.js"></script>
<script src="/static/dept/js/add.js " rel="stylesheet "></script>
{% endblock %}