/* base */
.fixed-position {
    position: relative;
  }
  .round {
    border-radius: 50%;
  }
  .ml10 {
    margin-left: 10px;
  }
  
  .a-style {
    text-decoration: none;
    outline: none;
  }
  ul {
    padding: 0px;
    margin: 0px;
  }
  li {
    list-style-type: none;
  }
  a:link,
  a:hover,
  a:focus,
  a:visited {
    text-decoration: none;
    outline: none;
  }
  /* deteil */
  .bottom-line {
    z-index: unset;
  }
  section.main {
    padding-top: 100px;
    position: relative;
    background-size: cover!important;
    background-position: top center!important;
    background-repeat: no-repeat!important;
    background: url(/static/img/idea/main.png);
    color: #fff;
  }
  .down {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
  }
  .down img {
    width: 30px;
  }
  .sider {
    height: 100%;
    width: 100%;
    background-size: cover!important;
    background-position: top center!important;
    background-repeat: no-repeat!important;
  }
  .sider0 {
    background: url(/static/img/idea/slider1.png);
  }
  .sider1 {
    background: url(/static/img/idea/slider2.png);
  }
  .sider2 {
    background: url(/static/img/idea/slider3.png);
  }
  .sider3 {
    background: url(/static/img/idea/slider4.png);
  }
  .sider4 {
    background: url(/static/img/idea/slider5.png);
  }
  .sider5 {
    background: url(/static/img/idea/slider6.png);
  }
  .sider6 {
    background: url(/static/img/idea/slider7.png);
  }
  .sider7 {
    background: url(/static/img/idea/slider8.png);
  }
  .sider8 {
    background: url(/static/img/idea/slider9.png);
  }
  .f12 {
    font-size: 12px;
  }
  .sider-text {
    font-size: 32px;
    background-color: #7a7a7a;
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    line-height: 30px;
  }
  .sider-text .container {
    padding: 20px 15px;
    height: 70px;
  }
  .sider-text .container div {
    padding: 0px;
  }
  .sider-text .container div span {
    font-size: 14px;
  }
  .sider-text .container .text-deteil {
    font-size: 12px;
    line-height: 1.2;
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 120px;
  }
  .swiper-wrapper {
    padding-bottom: 70px;
  }
  .other-color
  {
    background: rgb(177, 152, 123);
  }