/* base */
.fixed-position {
    position: relative;
  }
  .round {
    border-radius: 50%;
  }
  .ml10 {
    margin-left: 10px;
  }
  
  .a-style {
    text-decoration: none;
    outline: none;
  }

  .aboutuscontent{
    overflow: hidden;
  }
  ul {
    padding: 0px;
    margin: 0px;
  }
  li {
    list-style-type: none;
  }
  a:link,
  a:hover,
  a:focus,
  a:visited {
    text-decoration: none;
    outline: none;
  }
   /* deteil */
     section.main {
    height: 616px;
    position: relative;
    background-size: auto 100%!important;
    background-position:center center!important;
    background-repeat: no-repeat!important;
    background: url(/static/img/idea/main_m.png);
    color: #fff;
  }
  section.main>.text-left.image-text.main-text{
    padding-left: 15px;
  }
  .swiper-wrapper{
    height: 667px;
  }
  .down {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
  }
  .down img {
    width: 30px;
  }
  .sider {
    height: 100%;
    width: 100%;
    background-size: cover!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
  }
  .sider0 {
    background: url(/static/img/idea/slider1_m.png);
  }
  .sider1 {
    background: url(/static/img/idea/slider2_m.png);
  }
  .sider2 {
    background: url(/static/img/idea/slider3_m.png);
  }
  .sider3 {
    background: url(/static/img/idea/slider4_m.png);
  }
  .sider4 {
    background: url(/static/img/idea/slider5_m.png);
  }

  .sider6 {
    background: url(/static/img/idea/slider7_m.png);
  }
  .fs40{
    font-size: 40px;
  }
  .f12 {
    font-size: 12px;
  }
  .sider-text {
    font-size: 32px;
    background-color: rgb(151, 152, 153);
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  .sider-text .container {
    height: 100%;
    padding: 15px;
    min-height: 158px;
  }
 


  .sider-text .container .text-deteil{
    margin-top: 15px;
    font-size: 12px;
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 170px;
  }
  .main-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .swiper-slide {
    padding-bottom: 158px;
  }

  #to_next{
    cursor: pointer;
  }
  .fs60{
    font-size: 60px;
  }
  .swiper-button-prev, .swiper-button-next{
    top:243.5px;
  }