#swiper1{
    height:400px;
    margin-top: 20px;
}
.pic-list{
    padding: 0 140px;
}
.active-img{
    width: 100%;
    height: 100%;
}
/* #swiper2,#swiper3,#swiper4{
overflow: visible;
} */
.row{
    margin-top: 50px;
}
.high_definition img.close{
    position: absolute;
    right: 30px;
    top: 30px;
    width: 40px;
    height: 40px;
    padding: 4px;
    background-color: #ea5014;
    border-radius: 50%;
    opacity:1;
}.high_definition img.close:hover{
    opacity:.5;
}
.high_definition{
    display: none;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
img{
    cursor: pointer;
}

