#swiper1{
    height:400px;
    margin-top: 30px;
}
.pic-list{
    padding: 0 140px;
    margin-bottom: 120px;
}
.active-img{
    width: 100%;
    height: 100%;
}
.row{
    margin-top: 40px;
}
.high_definition img.close{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    opacity:.8;
    z-index: 101;
}.high_definition img.close:hover{
    opacity:1;
}
.high_definition{
    display: none;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    line-height: 100%;
}
img{
    cursor: pointer;
}

.swiper-col{
    height: 200px;
    overflow: hidden;
    padding: 0px;
    margin-top: 8px;
}
.swiper-button-prev, .swiper-button-next{
    height:30px;
}
.gray{
    color: #808080;
    font-size: 16px;
}
#pic_wall{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}