/* base */
.relative {
  position: relative;
}
/* deteil */
.items_holder h2 {
  margin-top: 26px;
  margin-bottom: 6px;
}
.top-slide {
  padding: 0!important;
  position: relative;
}
.top-slide .white {
  position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%,-25%);
}
.links {
  padding: 40px 160px;
}
.links .col-xs-3 {
  padding: 15px;
}
.links .col-xs-3 a {
  display: block;
  padding: 20px 0px;
  background-color: rgb(249, 249, 249);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  color: inherit;
}
.links .col-xs-3 a img {
  width: auto;
  height: 40px;
  margin-bottom: 10px;
} 
.question>li{
  border-bottom: 1px solid #ddd;
  padding: 20px 10px;
}
.question {
  margin-bottom: 60px;
}
.question a{
  color: inherit;
}
.list-wrap1{
  padding-right: 60px;
}
.list-wrap2{
  padding-left: 60px;
}
.show-btn{
  width: 16px ;
  height:16px;
  padding: 4px;
  border-radius: 50%;
  background-color: rgb(175, 175, 175);
  color: #fff;
  line-height:7px;
  cursor: pointer;
  text-align: center;

}
.question{
  color: #6c6c6c;
}
.answer{
  display: none;
  padding-top: 5px;
  clear: both;
}
a.grey{
  margin-top: 6px;
}
a.grey:link,a.grey:hover{
  color: rgb(182, 182, 182)!important;
}