.content{
    max-width: 970px;
}
.link a{
    padding:0 30px;
    display: inline-block;
    margin: 50px 0;
}
a.download{
    border-right: 1px solid #ddd;
}
.title{
    background-color: rgb(249, 249, 248);
    padding: 30px;
    font-size: 20px;
}
.p115{
    padding: 0 115px;
}
.down-icon{
    height: 20px;
    margin-left: 6px;
    vertical-align: sub;
}