{% extends 'base.html' %}
{% block pagetitle%}一数科技&nbsp;首页{% endblock%}
{% block links %}{% endblock %} 
 {% block css %}
 <link rel="stylesheet" href="/static/css/swiper.css">
 <link href="/static/css/hostpage.css" rel="stylesheet">
{% endblock %} 
{% block content %}
<div class="container-fluid content">
    <!-- Swiper -->
    <div class="swiper-container row">
        <div class="swiper-wrapper">
            <!--
            <div class="swiper-slide">
                <div class="sider sider3">
                    <div class="shop-link shop-link5">
                       
                    </div>
                </div>
            </div>
            -->
            <div class="swiper-slide">
                <div class="sider sider1">
                    <div class="shop-link shop-link3">
                            <div class="mb50 fs40 orange">高科技精密陶瓷</div>
                            <div class="mb50 fs20">时光荏苒&nbsp;风采依旧</div>
                        <a class="learn_more" href="{% url 'product:cast2' %}">查看详情</a>
                        <a class="now-bye orange-bg common-btn" href="{% url 'book:buy' %}">立即购买
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                    <img class="sider-2img" src="/static/img/slider/sider2.png" alt="">
                </div>
            </div>
            <!-- slider 2 end-->
            
            <div class="swiper-slide">
                <div class="sider sider5">
                    <div class="shop-link shop-link2"> 
                        <a class="block-a" href="{% url 'book:buy' %}">
                        </a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="sider sider0">
                    <img src="/static/img/slider/watch2.png"  />
                    <img src="/static/img/slider/slider1-o.png" class="pngcover-slider1 " />
                    <div class="shop-link shop-link1">
                        <div class="mb50 fs20">
                            ASU Watch
                        </div>
                        <div class="orange mb50 fs40">
                            触&nbsp;/&nbsp;无屏可及
                        </div>
                        <a class="learn_more" href="{% url 'product:cast2' %}">查看详情</a>
                        <a class="now-bye orange-bg common-btn" href="{% url 'book:buy' %}">立即购买
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- slider 3 end-->
            <div class="swiper-slide">
                <div class="sider sider2">
                     <img src="/static/img/slider/watch3.png" />
                     <img class="projective" src="/static/img/slider/projective.png"/> 
                    <div class="shop-link shop-link4">
                            
                       <!--  <table>
                            <tr>
                                <td class="fs40 orange">金属占比高达90%</td>
                                <td class="fs20">极致占比&nbsp;经典触感</td>
                            </tr>
                            <tr>
                                    <td></td>
                                    <td>
                                        <a class="learn_more" href="{% url 'product:cast2' %}">查看详情</a>
                                        <a class="now-bye orange-bg common-btn" href="{% url 'book:buy' %}">立即购买
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                        </table> -->

                        <div class="fs40 orange">金属占比高达90%</div>
                                <div class="fs20">极致占比&nbsp;经典触感</div>
                                <div><a class="learn_more" href="{% url 'product:cast2' %}">查看详情</a>
                                    <a class="now-bye orange-bg common-btn" href="{% url 'book:buy' %}">立即购买
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a></div>
                    </div>
                </div>
            </div>
            <!-- slider 3 end-->
            
            
            <!-- slider 4 end-->
            <div class="swiper-slide">
                <div class="sider sider4">
                    <div class="shop-link shop-link6 black">
                            <div class="mb50 fs40">首个全金属外壳蓝牙耳机</div>
                            <div class="mb50 fs20">机标一体&nbsp;业界风范</div>
                        <a class="learn_more" href="{% url 'product:cast2' %}">查看详情</a>
                        <a class="now-bye orange-bg common-btn" href="{% url 'book:buy' %}">立即购买
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                    <img class="sider4-img" src="/static/img/slider/erji.png" alt="">
                </div>
            </div>
            <!-- slider 5 end-->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-warp container">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    
    <!-- end swiper -->
    <div class="container hide-menu">
                <ul class="btn-list">
                        <!-- <li><a href="javascript:;" target="black_">个人中心
                            <span><img src="/static/img/icon/geren.svg" /></span>
                        </a></li> -->
                        <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2913472145&amp;site=qq&amp;menu=yes" target="_blank">在线咨询
                            <span><img src="/static/img/icon/zixun.svg" /></span>
                        </a></li>
                        <!-- <li><a href="{% url 'dept:list' %}" target="black_">店面查询
                            <span><img src="/static/img/icon/dianmian.svg" /></span>
                        </a></li> -->
                        <li><a id="weichat" href="javascript:;" target="black_">微信群
                            <span><img src="/static/img/icon/qun.svg" /></span>
                        </a></li>
                        <li><a href="/page/touser/usage/" target="black_">用户指南下载
                            <span><img src="/static/img/icon/shouce.svg" /></span>
                        </a></li>
                        
                </ul>
        <div id="show-btn"><img src="/static/img/icon/jia.svg" /></div>
    </div>
    <div class="code-wrap">
            <div class="code-bg">
                    
                </div>
                <div class="code">
                        <div>一数科技微信群<img class="pull-right close_code" src="/static/img/icon/close_b.svg" /></div>
                        <img src="/static/img/qun.jpeg" />
                </div>
    </div>
</div>
{% endblock %} 
{% block js %}
<script type="text/javascript " src="/static/js/swiper-3.4.2.jquery.min.js "></script>
<script type="text/javascript " src="/static/js/homepage.js "></script> 
{% endblock %}