{% extends 'base.html' %}
 {% block css %}
 <link href="/static/css/hostpage.css"  rel="stylesheet">
 <link rel="stylesheet" href="/static/css/swiper.css">
{% endblock %} 
{% block content %}
<div class="container-fluid content">
    <!-- Swiper -->
    <div class="swiper-container row">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="sider sider0">
                    <div class="shop-link">
                        <a class="learn_more" href="产品图.html">了解更多</a>
                        <a class="now-bye common-btn" href="javascript;">现在购买
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- slider 1 end-->
            <div class="swiper-slide">
                <div class="sider sider1">
                    <div class="shop-link">
                        <a class="learn_more" href="产品图.html">了解更多</a>
                        <a class="now-bye common-btn" href="javascript;">现在购买
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- slider 2 end-->
            <div class="swiper-slide">
                <div class="sider sider2">
                    <div class="shop-link">
                        <a class="learn_more" href="产品图.html">了解更多</a>
                        <a class="now-bye common-btn" href="javascript;">现在购买
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- slider 3 end-->
            <div class="swiper-slide">
                <div class="sider sider3">
                    <div class="shop-link">
                        <a class="learn_more" href="产品图.html">了解更多</a>
                        <a class="now-bye common-btn" href="javascript;">现在购买
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- slider 4 end-->
            <div class="swiper-slide">
                <div class="sider sider4">
                    <div class="shop-link">
                        <a class="learn_more" href="产品图.html">了解更多</a>
                        <a class="now-bye common-btn" href="javascript;">现在购买
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- slider 5 end-->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-warp container">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <!-- end swiper -->
    <div class="container hide-menu">
                <ul class="btn-list">
                        <li><a href="javascript:;" target="black_">个人中心
                            <img src="/static/img/icon/geren.svg" />
                        </a></li>
                        <li><a href="javascript:;" target="black_">在线咨询
                            <img src="/static/img/icon/zixun.svg" />
                        </a></li>
                        <li><a href="javascript:;" target="black_">店面查询
                            <img src="/static/img/icon/dianmian.svg" />
                        </a></li>
                        <li><a href="javascript:;" target="black_">微信群
                            <img src="/static/img/icon/qun.svg" />
                        </a></li>
                        <li><a href="javascript:;" target="black_">使用手册下载
                            <img src="/static/img/icon/shouce.svg" />
                        </a></li>
                        
                </ul>
        <div id="show-btn"><img src="/static/img/icon/jia.svg" /></div>
    </div>
</div>
{% endblock %} 
{% block js %}
<script type="text/javascript " src="/static/js/swiper-3.4.2.jquery.min.js "></script>
<script type="text/javascript " src="/static/js/homepage.js "></script> 
{% endblock %}