<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />
    <title>{% block pagetitle%}{% endblock%}</title>
    <!-- Bootstrap -->
    <link type="text/css" href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="/static/css/m_base.css"  rel="stylesheet">
    <link href="/static/css/m_footer.css"  rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/m_jquery.message.css">
    <link rel="shortcut icon" href="/static/img/logoicon.ico">
    <script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
   <!--  <script src="https://s22.cnzz.com/z_stat.php?id=1273465908&web_id=1273465908" language="JavaScript"></script> -->
    <!--扩展css开始-->
    {% block css %} 
    {% endblock %}
    <!--扩展css结束-->
</head>
<nav class="container {% block fixed_menu_class %}{%endblock%}">
  <div class="row">
    <div class="col-xs-3">
      <img id="link" src="/static/img/icon/category.svg" alt="">
    </div>
    <div class="col-xs-6 text-center">
      <a href="/"><img src="/static/img/logo.png" alt=""></a>
    </div>
    <div class="col-xs-3 text-right">
      <img src="/static/img/icon/cart.svg" alt="">
    </div>
  </div>

  <div class="row">
      <ul>
          <a href="{% url 'product:cast2' %}">
            <li>Watch</li>
          </a>
          <a href="http://www.asucast.com/page/waiting/list/">
            <li>商城</li>
          </a>
          <a href="http://bbs.asucast.com/forum.php">
            <li>社区</li>
          </a>
          <!-- <a href="{% url 'dept:list' %}">
            <li>体验店</li>
          </a> -->
          <a href="{% url 'page:page' 'service' 'list' %}">
            <li>服务</li>
          </a>
        </ul>
  </div>
</nav>
<body>
        {% if request.user.is_anonymous %}
        <input type="hidden" id="userlogin" value="0" />
        {% else %}
        <input type="hidden" id="userlogin" value="1" />
        {% endif %}
    {% block menu %}
    <!--菜单开始-->
    
    <!--菜单结束-->
    {% endblock %} 

   <!--主要内容开始-->
    {% block content %} 
    {% endblock %}  
    <!--主要内容结束-->
    {% block links %}
    <!-- start link footer -->
    <div class="linkitems">
		<div id="to_top">回到顶部</div>
      <div class="group-title clearfix">
		  <div class="pull-left">ASU品牌</div>
		  <div class="show-btn pull-right"><img src="/static/img/icon/jia.svg" /></div>
	</div>
      <ul class="footer_links">
        <li>
          <a href="{% url 'page:page' 'asubrand'  'aboutus' %}">关于我们</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'asubrand'  'faith' %}">ASU理念</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'active'  'list' %}">精彩活动</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'event'  'list' %}">大事记</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'asubrand'  'join' %}">加入我们</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'contactus'  'list' %}">联系我们</a>
        </li>
      </ul>
      <div class="group-title clearfix">
			<div class="pull-left">媒体中心</div>
			<div class="show-btn pull-right"><img src="/static/img/icon/jia.svg" /></div>
	  </div>
      <ul class="footer_links">
        <li>
          <a href="{% url 'page:page' 'news'  'list' %}">新闻</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'report'  'list' %}">媒体报道</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'pic'  'list' %}">高清美图</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'video'  'list' %}">炫酷视频</a>
        </li>
        
      </ul>
      <div class="group-title clearfix">
			<div class="pull-left">购买渠道</div>
			<div class="show-btn pull-right"><img src="/static/img/icon/jia.svg" /></div>
	  </div>
      <ul class="footer_links">
        <li>
          <a href="/page/waiting/list/">官方商城</a>
        </li>
        <li>
          <a href="/page/waiting/list/">京东旗舰店</a>
        </li>
        <li>
          <a href="{% url 'bussiness:new' %}">成为经销商</a>
        </li>
      </ul>
      <div class="group-title clearfix">
			<div class="pull-left">售后服务</div>
			<div class="show-btn pull-right"><img src="/static/img/icon/jia.svg" /></div>
	  </div>
      <ul class="footer_links">
        <li>
          <a href="/page/service/list/">自助服务</a>
        </li>
        <li>
          <a href="/page/policy/list/">保修政策</a>
        </li>
      </ul>
      <div class="group-title clearfix">
			<div class="pull-left">一群</div>
			<div class="show-btn pull-right"><img src="/static/img/icon/jia.svg" /></div>
	  </div>
      <ul class="footer_links">
        <li>
          <a href="http://bbs.asucast.com/forum.php">一群论坛</a>
        </li>
        <li>
          <a href="http://bbs.asucast.com/forum.php?mod=forumdisplay&fid=38">官方活动</a>
        </li>
        <li>
          <a id="qq_group" href="javascript:;">QQ群</a>
        </li>
      </ul>
	  <div class="group-title clearfix">
			<div class="pull-left">Watch客户端</div>
			<div class="show-btn pull-right"><img src="/static/img/icon/jia.svg" /></div>
	  </div>
      <ul class="footer_links">
        <li>
          <a id="wei_group" href="javascript:;">兴趣小组</a>
        </li>
        <li>
          <a href="/page/go/software/">手机端管理软件下载</a>
        </li>
        <li>
          <a href="/page/touser/usage/">用户指南下载</a>
        </li>
      </ul>
	<div class="clearfix phone-wrap">
		<div class="online-div pull-left text-center">
			<div class="phone" title="客服电话">400-608-0106</div>
			<p class="grey">周一至周日 9:00-18:00
				<br>(仅收市话费)</p>
			<a class="custom-service" href="mqqwpa://im/chat?chat_type=wpa&uin=2913472145&version=1&src_type=web&web_src=oicqzone.com" target="_blank">
				<img src="/static/img/icon/code.svg" alt=""> 在线客服
			</a>
		</div>
		<div class="qrcode pull-right">
			<img src="/static/img/qrcode.png" title="官方微信">
		</div>
	</div>
    
    
    
        <div>
          <span class="pointer" data-toggle="modal" data-target="#law">法律声明</span> | <span class="pointer" data-toggle="modal" data-target="#privance">隐私条款</span><br>ASU Tech Co.Ltd 北京一数科技有限公司<br/>
				京ICP备15036919号-1
				<div class="clearfix">
						<a class="round-btn" href="mailto:media@a-su.com.cn" target="_black" title="邮箱">
						  <img src="/static/img/icon/footer01.svg" />
						</a>
						<a class="round-btn" href="http://i.youku.com/asucast1" target="_black" title="优酷">
						  <img src="/static/img/icon/footer02.svg" />
						</a>
						<a class="round-btn" href="https://www.facebook.com/bjasutech001/" target="_black" title="Facebook">
						  <img src="/static/img/icon/footer03.svg" />
						</a>
						<a class="round-btn" href="http://weibo.com/asu001" target="_black" title="新浪微博">
						  <img src="/static/img/icon/footer04.svg" />
						</a>
						<a class="round-btn" href="https://www.youtube.com/channel/UCBG6Eiw5mm1xBHHk4_yVOcQ" target="_black" title="Youtobe">
						  <img src="/static/img/icon/footer06.svg" />
						</a>
					</div>
        </div>
        <div class="code-wrap">
            <div class="code-bg">
        
            </div>
            <div class="code">
                <div>一数科技QQ群
                    <img class="close_code pull-right" src="/static/img/icon/close_b.svg" />
                </div>
                <img src="/static/img/qqqun.jpg" />
            </div>
        </div>
        <div class="code-wrap">
            <div class="code-bg">
        
            </div>
            <div class="code">
                <div>一数科技微信兴趣群
                    <img class="pull-right close_code" src="/static/img/icon/close_b.svg" />
                </div>
                <img src="/static/img/xinqu.jpg" />
                <div class="fs12 grey">扫描二维码，加入兴趣小组</div>
            </div>
        </div>
    </div><!-- end items -->
<!-- end link footer --> 
<!-- Modal -->
<div class="modal fade" id="privance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header clearfix">
          <h5 class="modal-title pull-left" id="exampleModalLabel">隐私条款</h5>
          
      </div>
      <div class="modal-body" id="modal-body"> 
              <p>隐私权政策</p>
              
              <p>首页隐私权政策</p>
              
              <p>说明</p>
              
              <p>北京一数科技有限公司是依据中华人民共和国法律成立的有限责任公司（以下简称&ldquo;一数&rdquo;或&ldquo;我们&rdquo;，包括其母公司、子公司、关联公司等）。我们重视维护和保护用户的个人信息。您在使用一数的产品、服务时，我们可能会收集和使用您的个人信息。本《隐私权政策》旨在向您说明我们如何收集、储存、使用或分享您的个人信息。希望您仔细阅读本《隐私权政策》，以便在需要的时候，能让您作出合适的选择。</p>
              
              <p>您使用或继续使用一数的产品或服务，即意味着您同意我们按照本《隐私权政策》收集、储存、使用和分享您的个人信息。</p>
              
              <p>我们可能收集您的何种个人信息？</p>
              
              <p>您通过使用一数的产品或服务的过程中提供给一数的信息，如姓名、电话号码、电子邮箱地址、通讯地址、身份证号码、银行卡卡号（当您在一数进行付款交易时需提供）、数据（包括传感器数据、导航系统数据、设备数据、控制类数据、限飞数据和环境感知视觉数据，当您要求一数提供售后服务时需提供）等。</p>
              
              <p>您使用我们的产品或服务时系统读取或储存的信息，如您的位置、产品使用的日志记录、您的电子设备的配置信息、数据、接入我们产品或服务的IP地址、时间信息、地理环境和位置信息、分享的文字或图片等。</p>
              
              <p>您的个人信息中可能含有敏感信息，例如您的种族、宗教信仰、个人健康状况、性别取向等，您在使用我们产品或服务时，您可能会在公开渠道上传或发布这类敏感信息。请您谨慎地处理这类敏感信息。</p>
              
              <p>我们为何收集您的个人信息？</p>
              
              <p>我们收集您的个人信息以实现如下目的：</p>
              
              <p>认证您的身份以防止欺诈；</p>
              
              <p>明确您的技术服务需求；</p>
              
              <p>确认适合您的产品及服务；</p>
              
              <p>根据您的要求提供产品及服务；</p>
              
              <p>遵守法律法规的要求。</p>
              
              <p>我们可能如何储存您的个人信息？</p>
              
              <p>无论您的个人信息以何种方式提供给一数，都将受到一数的储存和保护。我们建立了信息安全控制体系，防止您的个人信息被他人使用、接触、修改、复制、破坏、泄露、损失或盗取。</p>
              
              <p>为储存和保护您的个人信息，一数采用有形的或电子的等各种保密手段及严格的保密程序。例如，严格限制人员进出信息处理和保管区域，限制解除信息保密的人员编制，采用密码、识别码、备用密码、防火墙及信息传输加密，文件柜及文件室使用密码锁等。</p>
              
              <p>我们委托第三方提供服务而向其提供您的必要的个人信息时，会与其签署相关保密协议，以确保您的个人信息获得保护并仅用于其向您提供服务。</p>
              
              <p>我们可能如何使用您的个人信息？</p>
              
              <p>我们收集到的您的个人信息将可能被我们用于实现如下目的：</p>
              
              <p>向您提供服务。</p>
              
              <p>帮助我们设计新产品或新服务，改善我们现有的产品或服务。</p>
              
              <p>用于身份识别、客户服务、安全防范、存档或备份等。</p>
              
              <p>向您提供与您更加密切相关的广告。</p>
              
              <p>让您参与我们的产品或服务调查。</p>
              
              <p>我们可能委托其他第三方代表一数提供服务，比如数据处理、账目管理及市场营销。我们仅向这些第三方提供其完成服务所必须的信息，并且我们以一数遵循的同等保密标准与这些第三方签署保密协议。这些第三方可能来自境外，根据其所在地的法律，这些境外第三方可能负有一定的信息披露义务。</p>
              
              <p>我们如何分享您的个人信息</p>
              
              <p>我们不会与一数以外的任何第三方分享您的个人信息，但以下情况除外：</p>
              
              <p>在得到您同意的情况下。</p>
              
              <p>为实现&ldquo;我们可能如何使用您的个人信息？&rdquo;章节中的目的而向一数授权的产品或服务提供商分享您的信息。</p>
              
              <p>在一数内部分享您的个人信息以便实现&ldquo;我们可能如何使用您的个人信息？&rdquo;章节中的目的。</p>
              
              <p>今后我们可能出售一数业务或并购新业务，在此情况下，您的个人信息及相关账目、您购买的产品及服务等，将随着业务一并转移。</p>
              
              <p>您的个人信息在如下情况下可能会被强制要求披露：1）在涉嫌犯罪活动时，向司法或执法机构披露以侦查预防犯罪；2）根据法律（或法院）的强制要求披露；3）根据政府的强制要求披露；4）为保护一数的资产（例如清偿逾期账款）等。在上述情况下，我们将记录信息披露的内容、时间、原因及对象。</p>
              
              <p>您的权限</p>
              
              <p>如果您想查阅或验证您的个人信息，以及查看我们的披露记录时，请联络我们的客户经理或经销商。若在某些情况下我们无法提供相关资料，我们将及时告知您原因。</p>
              
              <p>在某些情况下您有权选择拒绝向我们提供某些信息，但我们可能因此无法向您提供某些产品、服务或信息。为保护双方利益，例如为确保您的要求被执行、为证明我们向您提供了所需信息，我们可能监控您与一数的电话或邮件往来，以保证我们的服务质量。</p>
              
              <p>如果您不希望接收到我们关于直接营销的沟通，请告知我们，我们将会在直接营销名单中删除您的个人信息。</p>
              
              <p>如果您不希望我们在一数成员中分享您的个人信息，请通知我们。在此情况下，我们由于信息缺失而有可能无法向您提供特定的产品或服务。</p>
              
              <p>如果您未满十八岁，您应该获得父母或监护人的同意和指导以确保正确使用我们的产品和服务。</p>
              
              <p>根据您所处的地域的法律规定，本《隐私权政策》的某些条款可能并不适用于您。本《隐私权政策》不排除或限制您根据本地法律规定所享有的任何权利。</p>
              
              <p>变更</p>
              
              <p>我们可能适时修订本《隐私权政策》的条款，该等修订构成本《隐私权政策》的一部分。如该等修订造成您在本《隐私权政策》下权利的实质减少，我们将在修订生效前通过在主页上显著位置提示或向您发送电子邮件或以其他方式通知您。在该种情况下，若您继续使用我们的服务，即表示同意受经修订的本《隐私权政策》的约束。</p>
              
              <p>我们的承诺</p>
              
              <p>一数非常感谢能有机会为您提供产品和服务。自一数成立至今，赢得并保持您的信任始终是我们的服务宗旨。我们承诺尊重及保护您提供的隐私及个人信息，也希望您能了解我们的隐私保护政策，包括如何采集、使用及披露您的个人信息。</p>
              
              <p>我们指定专门的团队负责管理您的个人信息保护，包括制度、纠纷解决、培训、联络等各方面，并直接向董事会及总经理汇报隐私保护相关事项。</p>
              
              <p>我们将确保在您申请任何产品或服务时，获知上述信息采集目的。如果我们希望将您的个人信息用于其他目的，我们将向您提出申请。</p>
              
      </div>
      <div class="modal-footer"> 
              <button type="button" class="orange-bg common-btn white " data-dismiss="modal" aria-label="Close">关闭</button>
      </div>
      </div>
  </div>
</div>
<!-- 隐私条款结束-->

<!-- 法律法规-->
<!-- Modal -->
<div class="modal fade" id="law" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header clearfix">
        <h5 class="modal-title pull-left" id="exampleModalLabel">法律法规</h5>
        
    </div>
    <div class="modal-body" id="modal-body"> 
            <p>隐私权政策</p>
            
            <p>首页隐私权政策</p>
            
            <p>说明</p>
            
            <p>北京一数科技有限公司是依据中华人民共和国法律成立的有限责任公司（以下简称&ldquo;一数&rdquo;或&ldquo;我们&rdquo;，包括其母公司、子公司、关联公司等）。我们重视维护和保护用户的个人信息。您在使用一数的产品、服务时，我们可能会收集和使用您的个人信息。本《隐私权政策》旨在向您说明我们如何收集、储存、使用或分享您的个人信息。希望您仔细阅读本《隐私权政策》，以便在需要的时候，能让您作出合适的选择。</p>
            
            <p>您使用或继续使用一数的产品或服务，即意味着您同意我们按照本《隐私权政策》收集、储存、使用和分享您的个人信息。</p>
            
            <p>我们可能收集您的何种个人信息？</p>
            
            <p>您通过使用一数的产品或服务的过程中提供给一数的信息，如姓名、电话号码、电子邮箱地址、通讯地址、身份证号码、银行卡卡号（当您在一数进行付款交易时需提供）、数据（包括传感器数据、导航系统数据、设备数据、控制类数据、限飞数据和环境感知视觉数据，当您要求一数提供售后服务时需提供）等。</p>
            
            <p>您使用我们的产品或服务时系统读取或储存的信息，如您的位置、产品使用的日志记录、您的电子设备的配置信息、数据、接入我们产品或服务的IP地址、时间信息、地理环境和位置信息、分享的文字或图片等。</p>
            
            <p>您的个人信息中可能含有敏感信息，例如您的种族、宗教信仰、个人健康状况、性别取向等，您在使用我们产品或服务时，您可能会在公开渠道上传或发布这类敏感信息。请您谨慎地处理这类敏感信息。</p>
            
            <p>我们为何收集您的个人信息？</p>
            
            <p>我们收集您的个人信息以实现如下目的：</p>
            
            <p>认证您的身份以防止欺诈；</p>
            
            <p>明确您的技术服务需求；</p>
            
            <p>确认适合您的产品及服务；</p>
            
            <p>根据您的要求提供产品及服务；</p>
            
            <p>遵守法律法规的要求。</p>
            
            <p>我们可能如何储存您的个人信息？</p>
            
            <p>无论您的个人信息以何种方式提供给一数，都将受到一数的储存和保护。我们建立了信息安全控制体系，防止您的个人信息被他人使用、接触、修改、复制、破坏、泄露、损失或盗取。</p>
            
            <p>为储存和保护您的个人信息，一数采用有形的或电子的等各种保密手段及严格的保密程序。例如，严格限制人员进出信息处理和保管区域，限制解除信息保密的人员编制，采用密码、识别码、备用密码、防火墙及信息传输加密，文件柜及文件室使用密码锁等。</p>
            
            <p>我们委托第三方提供服务而向其提供您的必要的个人信息时，会与其签署相关保密协议，以确保您的个人信息获得保护并仅用于其向您提供服务。</p>
            
            <p>我们可能如何使用您的个人信息？</p>
            
            <p>我们收集到的您的个人信息将可能被我们用于实现如下目的：</p>
            
            <p>向您提供服务。</p>
            
            <p>帮助我们设计新产品或新服务，改善我们现有的产品或服务。</p>
            
            <p>用于身份识别、客户服务、安全防范、存档或备份等。</p>
            
            <p>向您提供与您更加密切相关的广告。</p>
            
            <p>让您参与我们的产品或服务调查。</p>
            
            <p>我们可能委托其他第三方代表一数提供服务，比如数据处理、账目管理及市场营销。我们仅向这些第三方提供其完成服务所必须的信息，并且我们以一数遵循的同等保密标准与这些第三方签署保密协议。这些第三方可能来自境外，根据其所在地的法律，这些境外第三方可能负有一定的信息披露义务。</p>
            
            <p>我们如何分享您的个人信息</p>
            
            <p>我们不会与一数以外的任何第三方分享您的个人信息，但以下情况除外：</p>
            
            <p>在得到您同意的情况下。</p>
            
            <p>为实现&ldquo;我们可能如何使用您的个人信息？&rdquo;章节中的目的而向一数授权的产品或服务提供商分享您的信息。</p>
            
            <p>在一数内部分享您的个人信息以便实现&ldquo;我们可能如何使用您的个人信息？&rdquo;章节中的目的。</p>
            
            <p>今后我们可能出售一数业务或并购新业务，在此情况下，您的个人信息及相关账目、您购买的产品及服务等，将随着业务一并转移。</p>
            
            <p>您的个人信息在如下情况下可能会被强制要求披露：1）在涉嫌犯罪活动时，向司法或执法机构披露以侦查预防犯罪；2）根据法律（或法院）的强制要求披露；3）根据政府的强制要求披露；4）为保护一数的资产（例如清偿逾期账款）等。在上述情况下，我们将记录信息披露的内容、时间、原因及对象。</p>
            
            <p>您的权限</p>
            
            <p>如果您想查阅或验证您的个人信息，以及查看我们的披露记录时，请联络我们的客户经理或经销商。若在某些情况下我们无法提供相关资料，我们将及时告知您原因。</p>
            
            <p>在某些情况下您有权选择拒绝向我们提供某些信息，但我们可能因此无法向您提供某些产品、服务或信息。为保护双方利益，例如为确保您的要求被执行、为证明我们向您提供了所需信息，我们可能监控您与一数的电话或邮件往来，以保证我们的服务质量。</p>
            
            <p>如果您不希望接收到我们关于直接营销的沟通，请告知我们，我们将会在直接营销名单中删除您的个人信息。</p>
            
            <p>如果您不希望我们在一数成员中分享您的个人信息，请通知我们。在此情况下，我们由于信息缺失而有可能无法向您提供特定的产品或服务。</p>
            
            <p>如果您未满十八岁，您应该获得父母或监护人的同意和指导以确保正确使用我们的产品和服务。</p>
            
            <p>根据您所处的地域的法律规定，本《隐私权政策》的某些条款可能并不适用于您。本《隐私权政策》不排除或限制您根据本地法律规定所享有的任何权利。</p>
            
            <p>变更</p>
            
            <p>我们可能适时修订本《隐私权政策》的条款，该等修订构成本《隐私权政策》的一部分。如该等修订造成您在本《隐私权政策》下权利的实质减少，我们将在修订生效前通过在主页上显著位置提示或向您发送电子邮件或以其他方式通知您。在该种情况下，若您继续使用我们的服务，即表示同意受经修订的本《隐私权政策》的约束。</p>
            
            <p>我们的承诺</p>
            
            <p>一数非常感谢能有机会为您提供产品和服务。自一数成立至今，赢得并保持您的信任始终是我们的服务宗旨。我们承诺尊重及保护您提供的隐私及个人信息，也希望您能了解我们的隐私保护政策，包括如何采集、使用及披露您的个人信息。</p>
            
            <p>我们指定专门的团队负责管理您的个人信息保护，包括制度、纠纷解决、培训、联络等各方面，并直接向董事会及总经理汇报隐私保护相关事项。</p>
            
            <p>我们将确保在您申请任何产品或服务时，获知上述信息采集目的。如果我们希望将您的个人信息用于其他目的，我们将向您提出申请。</p>
            
    </div>
    <div class="modal-footer"> 
            <button type="button" class="orange-bg common-btn white " data-dismiss="modal" aria-label="Close">关闭</button>
    </div>
    </div>
</div>
</div>
<!-- 法律法规结束-->
    {% endblock %}
    
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.message.js"></script>
	  <script type="text/javascript" src="/static/js/m_base.js"></script> 
    <!--扩展js开始-->
    {% block js %}
    {% endblock %}
    <!---扩展js结束-->
</body>

</html>