<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{% block pagetitle%}{% endblock%}</title>
    <!-- Bootstrap -->
    <link type="text/css" href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="/static/css/m_base.css"  rel="stylesheet">
    <link href="/static/css/m_footer.css"  rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/m_jquery.message.css">
    <link rel="shortcut icon" href="/static/img/logoicon.ico">
    <script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
    <!--扩展css开始-->
    {% block css %} 
    {% endblock %}
    <!--扩展css结束-->
</head>
<nav class="container {% block fixed_menu_class %}{%endblock%}">
  <div class="row">
    <div class="col-xs-3">
      <img id="link" src="/static/img/icon/Category.svg" alt="">
    </div>
    <div class="col-xs-6 text-center">
      <a href="/"><img src="/static/img/logo.png" alt=""></a>
    </div>
    <div class="col-xs-3 text-right">
      <img src="/static/img/icon/cart.svg" alt="">
    </div>
  </div>

  <div class="row">
      <ul>
          <a href="{% url 'product:cast2' %}">
            <li>Watch</li>
          </a>
          <a href="http://47.95.239.228:8000">
            <li>商城</li>
          </a>
          <a href="http://www.asucast.com:8080/forum.php">
            <li>社区</li>
          </a>
          <a href="{% url 'dept:list' %}">
            <li>体验店</li>
          </a>
          <a href="{% url 'page:page' 'service' 'list' %}">
            <li>服务</li>
          </a>
        </ul>
  </div>
</nav>
<body>
        {% if request.user.is_anonymous %}
        <input type="hidden" id="userlogin" value="0" />
        {% else %}
        <input type="hidden" id="userlogin" value="1" />
        {% endif %}
    {% block menu %}
    <!--菜单开始-->
    
    <!--菜单结束-->
    {% endblock %} 

   <!--主要内容开始-->
    {% block content %} 
    {% endblock %}  
    <!--主要内容结束-->
    {% block links %}
    <!-- start link footer -->
    <div class="linkitems">
		<div>回到顶部</div>
      <div class="group-title clearfix">
		  <div class="pull-left">ASU品牌</div>
		  <div class="show-btn pull-right"><img src="/static/img/icon/jia.svg" /></div>
	</div>
      <ul class="links">
        <li>
          <a href="{% url 'page:page' 'asubrand'  'aboutus' %}">关于我们</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'asubrand'  'faith' %}">ASU理念</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'active'  'list' %}">精彩活动</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'event'  'list' %}">大事记</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'asubrand'  'join' %}">加入我们</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'contactus'  'list' %}">联系我们</a>
        </li>
      </ul>
      <div class="group-title clearfix">
			<div class="pull-left">媒体中心</div>
			<div class="show-btn pull-right"><img src="/static/img/icon/jia.svg" /></div>
	  </div>
      <ul class="links">
        <li>
          <a href="{% url 'page:page' 'news'  'list' %}">新闻</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'report'  'list' %}">媒体报道</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'pic'  'list' %}">高清美图</a>
        </li>
        <li>
          <a href="{% url 'page:page' 'video'  'list' %}">炫酷视频</a>
        </li>
        <li>
          <a href="/sitecontent/blockcontents/?new">管理中心</a>
        </li>
      </ul>
      <div class="group-title clearfix">
			<div class="pull-left">购买渠道</div>
			<div class="show-btn pull-right"><img src="/static/img/icon/jia.svg" /></div>
	  </div>
      <ul class="links">
        <li>
          <a href="/page/waiting/list/">官方商城</a>
        </li>
        <li>
          <a href="/page/waiting/list/">京东旗舰店</a>
        </li>
        <li>
          <a href="{% url 'bussiness:new' %}">成为经销商</a>
        </li>
      </ul>
      <div class="group-title clearfix">
			<div class="pull-left">售后服务</div>
			<div class="show-btn pull-right"><img src="/static/img/icon/jia.svg" /></div>
	  </div>
      <ul class="links">
        <li>
          <a href="/page/service/list/">自助服务</a>
        </li>
        <li>
          <a href="/page/policy/list/">保修政策</a>
        </li>
      </ul>
      <div class="group-title clearfix">
			<div class="pull-left">一群</div>
			<div class="show-btn pull-right"><img src="/static/img/icon/jia.svg" /></div>
	  </div>
      <ul class="links">
        <li>
          <a href="/page/waiting/list/">一群论坛</a>
        </li>
        <li>
          <a href="/page/waiting/list/">官方活动</a>
        </li>
        <li>
          <a href="/page/waiting/list/">QQ群</a>
        </li>
      </ul>
	  <div class="group-title clearfix">
			<div class="pull-left">Watch客户端</div>
			<div class="show-btn pull-right"><img src="/static/img/icon/jia.svg" /></div>
	  </div>
      <ul class="links">
        <li>
          <a id="wei_group" href="javascript:;">兴趣小组</a>
        </li>
        <li>
          <a href="/page/go/software/">手机端管理软件下载</a>
        </li>
        <li>
          <a href="/page/touser/usage/">用户指南下载</a>
        </li>
      </ul>
	<div class="clearfix">
		<div class="online-div pull-left text-center">
			<div class="phone" title="客服电话">400-608-0106</div>
			<p class="grey">周一至周日 9:00-18:00
				<br>(仅收市话费)</p>
			<a class="custom-service" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2913472145&amp;site=qq&amp;menu=yes" target="_blank">
				<img src="/static/img/icon/code.svg" alt=""> 在线客服
			</a>
		</div>
		<div class="qrcode pull-left">
			<img src="/static/img/qrcode.png" title="官方微信">
		</div>
	</div>
    
    
    
        <div>
				法律声明 | 隐私条款<br>ASU Tech Co.Ltd 北京一数科技有限公司<br/>
				<a href="javascript:;">京ICP备15036919号-1</a>
				<div class="clearfix">
						<a class="round-btn" href="mailto:media@a-su.com.cn" target="_black" title="邮箱">
						  <img src="/static/img/icon/footer01.svg" />
						</a>
						<a class="round-btn" href="http://i.youku.com/asucast1" target="_black" title="优酷">
						  <img src="/static/img/icon/footer02.svg" />
						</a>
						<a class="round-btn" href="https://www.facebook.com/bjasutech001/" target="_black" title="Facebook">
						  <img src="/static/img/icon/footer03.svg" />
						</a>
						<a class="round-btn" href="http://weibo.com/asu001" target="_black" title="新浪微博">
						  <img src="/static/img/icon/footer04.svg" />
						</a>
						<a class="round-btn" href="https://www.youtube.com/channel/UCBG6Eiw5mm1xBHHk4_yVOcQ" target="_black" title="Youtobe">
						  <img src="/static/img/icon/footer06.svg" />
						</a>
					</div>
        </div>
        
    </div><!-- end items -->
<!-- end link footer --> 
    {% endblock %}
    <!--底部开始-->
    {% block footer %}
	<footer class="container clearfix">
		<div class="pull-left">
			<!-- <img class="f-logo" src="/static/img/microblog_w.png" />  -->Beijing ASU Tech Co.Ltd 北京一数科技有限公<br>司法律声明 | 隐私条款
			<a href="javascript:;">京ICP备15036919号-1</a>
		</div>
		<div class="pull-right">
			<a class="round-btn" href="mailto:media@a-su.com.cn" target="_black" title="邮箱"><img src="/static/img/icon/footer01.svg"/>
			</a>
			<a class="round-btn" href="http://i.youku.com/asucast1" target="_black" title="优酷"><img src="/static/img/icon/footer02.svg"/>
			</a>
			<a class="round-btn" href="https://www.facebook.com/bjasutech001/" target="_black" title="Facebook"><img src="/static/img/icon/footer03.svg"/>
			</a>
			<a class="round-btn" href="http://weibo.com/asu001" target="_black" title="新浪微博"><img src="/static/img/icon/footer04.svg"/>
			</a>
			<a class="round-btn" href="https://www.youtube.com/channel/UCBG6Eiw5mm1xBHHk4_yVOcQ" target="_black" title="Youtobe"><img src="/static/img/icon/footer06.svg"/>
			</a>
		 </div>
	</footer>
    <!--底部结束-->
    {% endblock %}
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.message.js"></script>
	  <script type="text/javascript" src="/static/js/m_base.js"></script> 
    <!--扩展js开始-->
    {% block js %}
    {% endblock %}
    <!---扩展js结束-->
</body>

</html>