{% extends 'm_base.html' %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}一数科技&nbsp;首页{% endblock%}
{% block links %}{% endblock%}
 {% block css %}
 <link rel="stylesheet" href="/static/css/swiper.css">
 <link href="/static/css/m_hostpage.css" rel="stylesheet">
{% endblock %} 
{% block content %}
<div class="container-fluid content">
    <!-- Swiper -->
    <div class="swiper-container row">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="sider sider1">
                 

                    <div class="shop-link3">
                        <div class=" fs16 lanting white">时光荏苒&nbsp;风采依旧</div>
                        <div class="fs30 orange lanting">高科技精密陶瓷</div>
                        <div>
                            <a class="orange-btn common-big-btn" href="{% url 'book:buy' %}">立即购买
                            </a>
                        </div>
                        <a class="grey-btn-white common-big-btn" href="{% url 'product:cast2' %}">查看详情
                        </a>
                    </div>

                </div>
            </div>
            <!-- slider 1 end-->

            <!-- <div class="swiper-slide">
                <div class="sider sider5">
                    <div class="shop-link shop-link2">
                        <a class="block-a" href="{% url 'book:buy' %}">
                        </a>
                    </div>
                </div>
            </div> -->
            <!-- slider 2 end-->
            <div class="swiper-slide">
                <div class="sider sider0">
                        <img src="/static/img/slider/watch2.png" />
                        <img src="/static/img/slider/slider1-o.png" class="pngcover-slider1 " /> 

                    <div class="shop-link shop-link1 text-center">
                        <div class="fs16 lanting">
                            ASU Watch
                        </div>
                        <div class="orange fs30 lanting">
                            触&nbsp;·&nbsp;无屏可及
                        </div>
                        <a class="orange-btn common-big-btn" href="{% url 'book:buy' %}">立即购买
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <div>
                            <a class="grey-btn-white common-big-btn" href="{% url 'product:cast2' %}">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider 3 end-->
            <div class="swiper-slide">
                <div class="sider sider4 text-center">
                     <img class="sider4-img" src="/static/img/slider/erji_m.png" alt="">
                    <div class="shop-link shop-link6">
                        <div class="fs16 lanting gray">机标一体&nbsp;业界风范</div>
                        <div class="fs30 lanting black">首个全金属外壳蓝牙耳机</div>
                        
                        <a class="orange-btn common-big-btn" href="{% url 'book:buy' %}">立即购买
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <div><a class="grey-btn-white common-big-btn" href="{% url 'product:cast2' %}">查看详情</a></div>
                    </div>
                </div>
            </div>
            <!-- slider 4 end-->
            <div class="swiper-slide">
                <div class="sider sider2">
                    <img src="/static/img/slider/watch3_m.png" />
                    <img class="projective" src="/static/img/slider/projective_m.png" />
                    <div class="shop-link shop-link4 text-center">
                        <div class="fs30 orange lanting">金属占比高达90%</div>
                        <div class="fs16 lanting">极致占比&nbsp;经典触感</div>
                        <div>
                            <a class="orange-btn common-big-btn" href="{% url 'book:buy' %}">立即购买
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                        <a class="grey-btn-white common-big-btn" href="{% url 'product:cast2' %}">查看详情</a>
                    </div>
                </div>
            </div>
            <!-- slider 5 end-->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-warp container">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <!-- end swiper -->

    </div>
    <!--底部开始-->
    
	<footer class="container clearfix">
            <div class="pull-left">
                <img class="f-logo" src="/static/img/microblog_w.png" />北京一数科技有限公司<br>法律声明 | 隐私条款
                <a href="javascript:;">京ICP备15036919号-1</a>
            </div>
            <div class="pull-right">
                <a class="round-btn" href="mailto:media@a-su.com.cn" target="_black" title="邮箱"><img src="/static/img/icon/footer01.svg"/>
                </a>
                <a class="round-btn" href="http://i.youku.com/asucast1" target="_black" title="优酷"><img src="/static/img/icon/footer02.svg"/>
                </a>
                <a class="round-btn" href="https://www.facebook.com/bjasutech001/" target="_black" title="Facebook"><img src="/static/img/icon/footer03.svg"/>
                </a>
                <a class="round-btn" href="http://weibo.com/asu001" target="_black" title="新浪微博"><img src="/static/img/icon/footer04.svg"/>
                </a>
                <a class="round-btn" href="https://www.youtube.com/channel/UCBG6Eiw5mm1xBHHk4_yVOcQ" target="_black" title="Youtobe"><img src="/static/img/icon/footer06.svg"/>
                </a>
             </div>
        </footer>
        <!--底部结束-->
{% endblock %} 
{% block js %}
<script type="text/javascript " src="/static/js/swiper-3.4.2.jquery.min.js "></script>
<script type="text/javascript " src="/static/js/m_homepage.js "></script> 
{% endblock %}