{% extends 'base.html' %}
{% block pagetitle%}一数科技&nbsp;首页{% endblock%}
{% block links %}{% endblock %} 
 {% block css %}
 <link rel="stylesheet" href="/static/css/swiper.css">
 <link href="/static/css/hostpage.css" rel="stylesheet">
{% endblock %} 
{% block content %}
<div class="container-fluid content">
    <!-- Swiper -->
    <div class="swiper-container row">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="sider sider0">
                    <div class="shop-link shop-link1">
                        <div class="mb50 fs20">
                            ASU Watch
                        </div>
                        <div class="orange mb50 fs40">
                            触&nbsp;/&nbsp;无屏可及
                        </div>
                        <a class="learn_more" href="{% url 'product:cast2' %}">查看详情</a>
                        <a class="now-bye orange-bg common-btn" href="{% url 'book:buy' %}">立即购买
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="sider sider1">
                    <div class="shop-link shop-link3">
                            <div class="mb50 fs40 orange">高科技精密陶瓷</div>
                            <div class="mb50 fs20">时光荏苒&nbsp;风采依旧</div>
                        <a class="learn_more" href="{% url 'product:cast2' %}">查看详情</a>
                        <a class="now-bye orange-bg common-btn" href="{% url 'book:buy' %}">立即购买
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- slider 2 end-->
            
            <div class="swiper-slide">
                <div class="sider sider5">
                    <div class="shop-link shop-link2"> 
                        <a class="orange-bg common-btn" href="{% url 'book:buy' %}">现在预约
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- slider 3 end-->
            <div class="swiper-slide">
                <div class="sider sider2">
                    <div class="shop-link shop-link4">
                            
                        <table>
                            <tr>
                                <td class="fs40 orange">金属占比高达90%</td>
                                <td class="fs20">极致占比&nbsp;经典触感</td>
                            </tr>
                            <tr>
                                    <td></td><td>
                                            <a class="learn_more" href="{% url 'product:cast2' %}">查看详情</a>
                                            <a class="now-bye orange-bg common-btn" href="{% url 'book:buy' %}">立即购买
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </a>
                                    </td>
                                    
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- slider 3 end-->
            <div class="swiper-slide">
                <div class="sider sider3">
                    <div class="shop-link shop-link5">
                            <div class="mb50 fs40 orange">纳米级金属塑料注塑</div>
                            <div class="mb50 fs20">高精度&nbsp;高强度</div>
                        <a class="learn_more" href="{% url 'product:cast2' %}">查看详情</a>
                        <a class="now-bye orange-bg common-btn" href="{% url 'book:buy' %}">立即购买
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- slider 4 end-->
            <div class="swiper-slide">
                <div class="sider sider4">
                    <div class="shop-link shop-link6 black">
                            <div class="mb50 fs40">首个全金属外壳蓝牙耳机</div>
                            <div class="mb50 fs20">机标一体&nbsp;业界风范</div>
                        <a class="learn_more" href="{% url 'product:cast2' %}">查看详情</a>
                        <a class="now-bye orange-bg common-btn" href="{% url 'book:buy' %}">立即购买
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- slider 5 end-->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-warp container">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <!-- end swiper -->
    <div class="container hide-menu">
                <ul class="btn-list">
                        <li><a href="javascript:;" target="black_">个人中心
                            <span><img src="/static/img/icon/geren.svg" /></span>
                        </a></li>
                        <li><a href="javascript:;" target="black_">在线咨询
                            <span><img src="/static/img/icon/zixun.svg" /></span>
                        </a></li>
                        <li><a href="javascript:;" target="black_">店面查询
                            <span><img src="/static/img/icon/dianmian.svg" /></span>
                        </a></li>
                        <li><a href="javascript:;" target="black_">微信群
                            <span><img src="/static/img/icon/qun.svg" /></span>
                        </a></li>
                        <li><a href="javascript:;" target="black_">使用手册下载
                            <span><img src="/static/img/icon/shouce.svg" /></span>
                        </a></li>
                        
                </ul>
        <div id="show-btn"><img src="/static/img/icon/jia.svg" /></div>
    </div>
</div>
{% endblock %} 
{% block js %}
<script type="text/javascript " src="/static/js/swiper-3.4.2.jquery.min.js "></script>
<script type="text/javascript " src="/static/js/homepage.js "></script> 
{% endblock %}