{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% load i18n %}
{% block css %} 
<link rel="stylesheet" href="/static/book/css/book.css">
 {% endblock %}
 {% block content %}
<div class="buy-container container m60">
    <div class="text-center">
        <h1 class="orange"><i class="fa fa-shopping-cart" aria-hidden="true"></i> 预约购买</h1>
        <h5 class="grey">注：首批商品已售罄, 即可预约我们将提前通知您进行购买</h5>
    </div>

    <div class="info ">
        <form action="" class="buy-form" method="post">
            {%csrf_token%}  
            <input type="hidden"   method="method" value="create" />
            <table>
                <tr><td>预约姓名</td><td><div class="ml">联系电话</div></td></tr>
                <tr>
                    <td><input class="form-control mr" id="name" name="name" placeholder="请输入您的姓名"></td>
                    <td><input class="form-control ml" id="phone" name="phone" placeholder="xxx-xxxx-xx"></td>
                </tr>
                <tr><td>您的邮箱</td><td><div class="ml">详细地址</div></td></tr>
                <tr>
                    <td><input class="form-control mr" id="email" name="email" placeholder="请输入您的邮箱"></td>
                    <td><input class="form-control ml" id="address" name="address" placeholder="请输入您的地址"></td>
                </tr>
                <tr ><td colspan="2" class="booking-money" ><span class="pre-payed">预约需提前交<span class="orange">200元</span>订金</span></td></tr>
                <tr ><td colspan="2" class="select-pay-way" >选择支付方式</td></tr>
                <tr ><td colspan="2" class="pay-way" >
                    <input type="radio" name="payway" class="rdo-payway" value="zhifubao" checked="checked" />
                    <span class="payname">支付宝</span>
                    <input type="radio" name="payway" class="rdo-payway" value="weixin" /><span>微信</span></td>
                </tr>
                <tr>
                    <td><span class="grey">您前面已有{{number|default:'0'}}位预约了！</span><input type="submit" value="预约提交" 
                        class="btn-text-white orange-bg  common-btn buy-btn"></td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% endblock %} 
{% block js %} 
 {% endblock %}