{% extends 'base.html' %} {% block menu %}{%endblock%}
{% block title2%}用户登录 {% endblock%} {% block css %}
<link href="/static/css/user.css" rel="stylesheet"> {% endblock %} {% block content %}

<div class="login-wrap">
    <header class="text-center orange">
        <img src="/static/img/noavatar.png">
        <h4>登录</h4>
    </header>

    <form id="signup-Form" class="loginform" action="" method="post">
        <div class="relative">
        <input type="text" name="email" placeholder="邮箱" id="username" value="{{email}}" />
        <img src="/static/img/icon/account.svg" alt="">
        </div>
        <div class="relative">
            <input type="password" id="password" name="password" placeholder="密码" />

            <img src="/static/img/icon/password.svg" alt="">
        </div>
        
        <button type="submit" class="btn btn-block btn-hover orange-bg">登录</button> {% if status == 'error' %}
        <div class="alert alert-danger">{{msg}}</div>
        {% endif %}
    </form>
    <div class="links clearfix">
        <input type="checkbox">自动登录
        <div class="pull-right">
                
                    <a href="{% url 'users:register' %}">
                        <li class="pull-right">注册账号</li>
            
                    </a>
                    <a href="javascript:;">
                        <li>找回密码</li>
                    </a>
        </div>
    </div>
    <div class="otherwise">
        其他方式登录&nbsp;
        <a href="javascript:;"><i class="fa fa-weixin" aria-hidden="true"></i></a>&nbsp;
        <a href="javascript:;"><i class="fa fa-qq" aria-hidden="true"></i></a>&nbsp;
        <a href="javascript:;"><i class="fa fa-weibo" aria-hidden="true"></i></a>&nbsp;
    </div>
</div>

<input type="hidden" name="next" value="{{next_url}}" /> {% endblock %}{% block jslogin %}
{% endblock %} {% block js %}
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script>
    $(document).ready(function() {
       
        // 在键盘按下并释放及提交后验证提交表单
        $("#signup-Form").validate({
            rules: {
                username: {
                    required: true,
                    minlength: 2
                },
                password: {
                    required: true,
                    minlength: 5
                },
                confirm_password: {
                    required: true,
                    minlength: 5,
                    equalTo: "#password"
                },
                email: {
                    required: true,
                    email: true
                }

            },
            messages: {
                username: {
                    required: "请输入用户名",
                    minlength: "用户名必需由两个字母组成"
                },
                password: {
                    required: "请输入密码",
                    minlength: "密码长度不能小于 5 个字母"
                },
                confirm_password: {
                    required: "请输入密码",
                    minlength: "密码长度不能小于 5 个字母",
                    equalTo: "两次密码输入不一致"
                },
                email: "请输入一个正确的邮箱",
            }
        });
        
    });

</script>

{% endblock %}
{% block links %}{% endblock %}