{% extends 'base.html' %}
{% load i18n %}
{% block pagetitle%}{% trans 'About Us' %}{% endblock%}
{% block css %}
<link href="/static/page/css/pagebase.css" rel="stylesheet">
<link href="/static/bussiness/css/new.css" rel="stylesheet">

<style>
       
</style>
 {% endblock %}
{% block content%}
<div class="top-pic"> 
    <div class="white text-center">
      <h2>ASU线下体验专区</h2> 
      <h5>一数科技&nbsp;丨&nbsp;官方授权体验店</h5>
    </div>
  </div> 
<div class=" container-title" >
    <div class="container ">
        <div class="items_holder">
                    <h2 class="title orange">成为授权经销商</h2>
                     
                    <a href="/">{% trans 'Home' %}</a>
                    <a href="javasrcipt:;">/&nbsp;ASU {% trans 'Brand' %}</a> 
                    <a href="javasrcipt:;">/&nbsp;{{product.title}}</a> 
        </div> 
    </div> 
</div>
<div class="container info-form mb-60">
    <div class="row"> 
      <form class="col-xs-6">
          <label for="">申请企业基本信息</label>
          <input type="text" placeholder="公司贸易名称*">
          <input type="text" placeholder="公司注册名称*">
          <label for="">公司地址信息</label>
          <input type="text" placeholder="注册地址*">
          <input type="text" placeholder="账单地址*">
          <input type="text" placeholder="收货地址*">
          <label for="">企业网站信息</label>
          <input type="text" placeholder="企业网站地址*">
          <input type="text" placeholder="电商网址">
          <input type="text" placeholder="其他">
          <label for="">申请人信息</label>
          <input type="text" placeholder="名*">
          <input type="text" placeholder="姓*">
          <input type="text" placeholder="职位*">
          <input type="text" placeholder="电话*">
          <input type="text" placeholder="传真*">
          <input type="text" placeholder="电子邮件*">
          <input type="text" placeholder="输入验证码*">
          <div class="text-right"><button class="orange-bg btn-text-white common-btn" type="submit">提交</button></div>
      </form> 
    </div>
</div>  
{% endblock%}
{% block js %} 
{% endblock %}